[2019-09-15 04:34] mypil commented on #733
@dwienie - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-15 04:34] mypil commented on #733
@MikePlumleyMSFT - Can you please share your insights on this issue?

Thank you.

[2019-09-15 04:37] mypil commented on #734
@poortom1004 - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-15 08:04] StevieBleeds commented on #732
Sure, I've been looking at these documents and trying to write a PowerShell script which then dumps the data into a raw JSON file.

https://docs.microsoft.com/en-us/office365/admin/usage-analytics/usage-analytics-data-model?view=o365-worldwide

https://docs.microsoft.com/en-us/office365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide

I've tried both registering apps using the Gra

[2019-09-16 12:27] WillMartin58 commented on #714
Have added the text I suggested, but now it says “Ask users to Copy/SyncOneDrive for Business content to their computer<https://support.office.com/article/59b1de2b-519e-4d3a-8f45-51647cf291cd.aspx>, and then add it back to their new subscription.”  Notice the lack of a space between the new text and OneDrive for Business.  Not as crucial, obviously, just a nuisance.

From: Joyce Y. <notifications@

[2019-09-16 14:09] mypil commented on #730
@ChrisNeedsHelp - I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution and I really want to get this info

[2019-09-16 15:52] adefowler commented on #734
@poortom1004 - Yes, the Password admin role was renamed Helpdesk admin. However, there is a new role being rolled out called the "Password admin" role and that role just allows you to reset passwords. If you aren't seeing the new role yet, stay tuned.

[2019-09-16 16:36] Sirkkuw commented on #728
@mypil I sent a question to the dev.

[2019-09-16 16:48] Sirkkuw commented on #728
OK - I will update the docs as soon as the new apps are ready. I am not entirely sure on the timeline, but the product team has already contacted me, and I will be working with them on this shortly.

[2019-09-16 16:48] #728 closed

[2019-09-16 17:07] TiloGit commented on #731
suggest to add this script to check before use the toggle.
Should give you current app and the current app owner.

[2019-09-17 16:44] mypil commented on #732
@StevieBleeds -  Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution

[2019-09-17 16:53] #715 closed

[2019-09-17 16:53] #716 closed

[2019-09-18 03:37] mypil commented on #726
@tmarinoIN2L - I believe the content has been updated to add the changes that you requested for. We value your contribution towards the improvement of our docs.

Please feel free to open a new issue if there is a specific area in the docs that we can make better. Thank you!

[2019-09-18 10:31] mypil commented on #726
Reopening issue since it was prematurely closed.

[2019-09-18 10:32] mypil commented on #714
@WillMartin58 - I believe the content has been updated to add the changes that you requested for. We value your contribution towards the improvement of our docs.

Please feel free to open a new issue if there is a specific area in the docs that we can make better. Thank you!

[2019-09-18 10:32] #714 closed

[2019-09-18 10:36] msbemba commented on #729
@ocico Thank you for the question. Only one security group in your organization can be used to control who is able to create Groups.

Hope this helps!

Thanks
Sri

[2019-09-18 10:39] msbemba commented on #727
@moticohen  Thank you for the question. This is applicable for all versions of Office 365 except for the Home/personal version. If you are using Home/personal version you can follow the below link
https://support.office.com/en-us/article/get-a-personalized-email-address-in-office-365-75416a58-b225-4c02-8c07-8979403b427b

Hope this Helps!

Thanks
Sri

[2019-09-18 10:44] msbemba commented on #726
@tmarinoIN2L Thank you for your feedback. It is by design that you need an Azure AD premium License to be able to manage who creates Groups.

Regards
Sri

[2019-09-18 10:53] mypil commented on #703
@adefowler - Do you have any updates on this issue?

[2019-09-18 11:57] mypil commented on #729
@ocico - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Office 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in [User Voice](https://office365.uservoice.com)

You might find others have made a similar request that you can add to,

[2019-09-18 11:58] mypil commented on #726
@tmarinoIN2L  - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Office 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice

You might find others have made a similar request that you can add to, or you can open a new one. L

[2019-09-18 16:58] bizzcuit2000 opened #736 "Cannot restrict the creation of groups using script in Powershell"
I am still unable to restrict the creation of groups and have been getting the following error when entering the script in powershell..

I am an admin but its saying i dont have the proper privileges.

PS C:\WINDOWS> .\GroupCreators.ps1

Account                  Environment TenantId                             TenantDomain     AccountType
-------                  ----------- --------

[2019-09-18 18:40] mypil commented on #736
@bizzcuit2000 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-09-18 18:43] #730 closed

[2019-09-18 18:47] mypil commented on #734
@poortom1004 - From our understanding, the issue you raised has been answered by the doc owner- adefowler. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-09-18 19:36] MikePlumleyMSFT commented on #705
The documentation is correct. I don't have a date for when this will be available in the production Azure AD module.

[2019-09-19 09:54] harshdamaniahd opened #737 "Refresh Power BI data set - Microsoft 365 usage report using Azure AD App Registration"
I want to refresh my dataset using Azure AD App Registration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2e8dbad-cf6b-2523-c58d-9cd8e41bbda5
* Version Independent ID: 290ee9e7-1155-cdd5-cd02-94ef8d355a02
* Content: [Troubleshooting Microsoft 365 usage analytics](https://docs.microsoft.com/en-us/office365/admin/usag

[2019-09-19 11:55] mypil commented on #722
@kmpaltas - Could you please let us know if this issue is still happening? and if so could you please provide us the below needed information in order to open a trouble ticket with the carrier?

1. Country and Number being called:
2. Country and City of person calling to test:
3. Number tester is calling from:
4. Landline or Mobile Phone?
5. What Carrier does this number belong to?
6. Date and tim

[2019-09-19 13:35] mypil commented on #705
@danmyhre - The doc owner has shared his insights and answered your query.

Please feel free to open a new issue if you find any documentation error or if there is a specific area of the docs that we can improve on and we will be glad to help fix it.

Thank you for engaging with the community here for the docs.

[2019-09-19 13:35] #705 closed

[2019-09-19 13:43] JvdMaat opened #739 "Group Admin"
Can the Group Admin permissions be improved?
Our Helpdesk has been given Helpdesk, Exchange and User admin, but is seemingly unable to change user group permissions.
We don't necessarily want to give them SharePoint or Teams permissions to manage group membership.
Additionally, even once we added Teams Admin, they can edit membership from the group level, but when editing a user, it gives them the

[2019-09-19 14:57] mypil commented on #731
@TiloGit - Thank you for your suggestion.

I will get this issue over to the O365ITPro writing team for their consideration.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-19 15:51] mypil commented on #737
@harshdamaniahd - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolutio

[2019-09-19 15:54] mypil commented on #739
@JvdMaat - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-19 16:15] bizzcuit2000 commented on #736
https://docs.microsoft.com/en-us/office365/admin/create-groups/manage-creation-of-groups?view=o365-worldwide

[2019-09-19 16:22] bizzcuit2000 commented on #736
I was able to get to work!! I had to use a Global Admin ID when prompted by powershell for my credentials.....

However now I have a new problem..... The users who I added to the group creation admin group, are now also not able to create groups....

![image](https://user-images.githubusercontent.com/55505610/65262341-23355680-dad8-11e9-829f-bed23202d645.png)

[2019-09-20 16:01] #732 closed

[2019-09-20 16:17] #726 closed

[2019-09-23 00:42] Eric-ITaaS opened #740 "right nav pain"
Where is this exactly?
In the right navigation pane, select Setup.
I have no right navigation pane.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5b41-d7e49f6ef9b4
* Content: [Set up multi-factor authentication for Office 365 users](http

[2019-09-23 06:42] MaratMussabekov commented on #733
Dear @dwienie ,
**Is this limit also valid for dynamic groups ?** - yes, it is
**And are there plans to increase this limit? If later security groups are allowed to be member of a Group will the limit of 1000 still be valid ?** - I think that plans like this are out of the scope of the Microsoft Docs portal, so you need to check resources that announce Office 365 updates.
Thank you

[2019-09-23 10:05] mypil commented on #740
@Eric-ITaaS - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-23 11:34] ivanfioravanti opened #741 "No Graph endpoints available"
For more information, see Working with Office 365 usage reports in Microsoft Graph, but when you click there you don't find any references. This API is still using Username/password for login, instead of Graph  API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f00316bc-99c9-35d7-6f92-ca3b3cfab1f1
* Version Independen

[2019-09-23 20:11] baardhermansen opened #742 "Missing words?"
The sentence "The data model that powers the content pack includes user attributes that from Active Directory, enabling the ability to pivot in certain reports." seems be lacking a few words? Or maybe simply the word "that" should be deleted?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f1b4f-6101-2741-32d9-77df46

[2019-09-24 03:15] #737 closed

[2019-09-24 03:15] #734 closed

[2019-09-24 03:37] mypil commented on #742
@baardhermansen - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-24 03:38] mypil commented on #741
@ivanfioravanti - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-24 07:11] dwienie commented on #733
Thx for the fast answer.

[2019-09-24 07:11] #733 closed

[2019-09-24 09:06] Borkason commented on #740
There is a left navigation pane and there is a **Setup** link. However, there is no **Turn on multi-factor authentication (MFA)** card.

![image](https://user-images.githubusercontent.com/2971735/65497888-43d82480-debb-11e9-9f83-cbd388e58954.png)

[2019-09-24 14:31] mypil commented on #722
@kmpaltas - Έχετε ενημερώσεις;
[Do you have updates?]

μπορείτε να απαντήσετε στις ερωτήσεις μας;
[Can you answer our questions?]

ευχαριστώ
[Thanks]

[2019-09-24 17:53] cmcatee-MSFT commented on #722
@kmpaltas
Please contact me at cmcatee@microsoft.com with the information above so we can troubleshoot this issue. Thank you.

Παρακαλώ επικοινωνήστε μαζί μου στο cmcatee@microsoft.com με τις παραπάνω πληροφορίες, ώστε να μπορέσουμε να αντιμετωπίσουμε αυτό το ζήτημα. Ευχαριστούμε.

[2019-09-25 00:44] aakash-shah opened #743 "Please include PowerShell options"
Please include the PowerShell equivalent for each of these GUI steps to help with automating these.  For instance for moving users to a different subscription, I would like to see the official MS recommended approach for this since.

I have seen some people recommend changing a subscription by removing the subscription, waiting for 5 minutes and then adding the new subscription, and I have seen ot

[2019-09-25 09:48] mypil commented on #743
@aakash-shah  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-25 10:13] mypil commented on #727
@moticohen - From our understanding, the issue you raised has been answered by msbemba. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-09-25 10:14] mypil commented on #729
@ocico - From our understanding, the issue you raised has been answered by msbemba. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-09-25 10:22] mypil commented on #686
@nenonix - As discussed, please assist to complete this copy/edit issue. Thank you.

[2019-09-25 10:31] mypil commented on #731
@kwekuako - FYI. Please share your insights on this.

Thank you.

[2019-09-25 10:38] mypil commented on #736
@bizzcuit2000 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution

[2019-09-25 12:48] mypil commented on #740
@Eric-ITaaS - I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution and I really want to get this informat

[2019-09-25 13:26] Borkason commented on #740
Let's say -- hypothetically -- the customer doesn't want to add any more time on this matter after he resolved this with a ticket. Will the docs just stay wrong until another customer decides to correct the documentation that should be corrected by Microsoft in the first place?

[2019-09-25 13:44] Eric-ITaaS commented on #740
If I understand Borkason's sentiment I agree. I don't have time to open up a ticket. I figured out how to accomplish the task on my own, I just wanted to point out the error in documentation. I feel like I did my part, I won't be opening up a ticket, seems like you (mypil) would/could/should do that.

[2019-09-25 15:06] adefowler commented on #703
@markgort86 - We've got a fix in place and we're testing it now. Should be rolled out in October. Thanks for that feedback -- and keep it coming.

[2019-09-25 15:34] Canis-Lupis opened #744 "Unclear about testing"
From the instructions here, it appears that once you set baseline access policies, then MFA is instantly turned on for everyone in the tenant.  We don't want to do that--we want to test with a few people first and then add users in groups after that.  Do I really need to manually add 1,000 users, one at a time, in the "Do you want to exclude any one from these policies" step?  Or is there another

[2019-09-25 18:43] bizzcuit2000 commented on #736
I was able to get it to work!! However after i logged out/in again now I am unable to create groups again...
Here is the confirmation i got from Powershell:

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

Try the new cross-platform PowerShell https://aka.ms/pscore6

PS C:\Windows\system32> cd..
PS C:\Windows> Import-Module AzureADPreview
PS C:\Windows> Connect-AzureA

[2019-09-25 21:26] HenrikMejnhardtNielsen opened #745 "This page dows not take into account licenses acquired through CSP?"
The "You bought your subscription through a partner" does not take into account licenses acquired through CSP?
It talks about VLSC (The old way of buying through OPEN).
Please update to reflect CSP acquired licenses.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 113d825e-0bf2-935c-d143-9cafc11b69ad
* Version Independe

[2019-09-25 23:02] nenonix commented on #686
@pomroy  I have submitted PR #746 to address the many problems you raise (subject to review). Thank you for taking time to help improve the content. Note that the term "admin takeover" is correct and is used in other content (but I did try to use it more elegantly by rewording the article title).  Apologies for taking so long - this was a challenging issue to address.

[2019-09-25 23:56] softwarecraft opened #748 "Step missing "Go to the classic settings page""
After selecting "Settings" in the left nav, you must then select "Go to the classic settings page" which opens a new page with the required settings.

Same issue as reported on another doc page, https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/issues/749.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e22c980-262

[2019-09-26 00:37] softwarecraft opened #749 "Step missing "Go to the classic settings page""
In section https://docs.microsoft.com/en-us/yammer/manage-yammer-users/office-365-sign-in#make-yammer-the-default-enterprise-social-network-in-sharepoint...

After selecting "Settings" in the left nav, you must then select "Go to the classic settings page" which opens a new page with the required settings.

Same issue as reported on another doc page, https://github.com/MicrosoftDocs/OfficeDocs-O36

[2019-09-26 09:52] mypil commented on #740
@Eric-ITaaS @Borkason  - Sorry to hear that you are having issues. Please understand that this site is a product documentation site and not a support nor a feature request site.

As such, the feedback section here is intended for feedback that improves the content in the Microsoft documentation and not intended for user feedback on product features nor troubleshooting.

For user feedback on produc

[2019-09-26 10:01] mypil commented on #744
@Canis-Lupis - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-26 10:02] mypil commented on #745
@HenrikMejnhardtNielsen - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-26 10:02] mypil commented on #748
@softwarecraft - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-26 10:03] mypil commented on #749
@softwarecraft - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-26 11:16] Borkason commented on #740
Please ask the product owner to review and fix the documentation and do not rely on the customer to correct documentation.

[2019-09-26 14:38] mypil commented on #740
@Borkason - We greatly encourage collaboration from the readers and get constructive criticism, containing suggestions of what would improve the documentation. Let me just loop in the doc owner to get her insights on how we can incorporate your feedback.

[2019-09-26 14:39] mypil commented on #740
@Sirkkuw - Can you please share your insights on this issue.

Thank you.

cc: @kenwith

[2019-09-26 17:00] cmcatee-MSFT commented on #743
@aakash-shah The section [What you need to know about assigning licenses to users](https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/assign-licenses-to-users?view=o365-worldwide#what-you-need-to-know-about-assigning-licenses-to-users) contains a link to the PowerShell documentation for assigning licenses. Does that help?

[2019-09-26 17:05] aakash-shah commented on #743
Hello @cmcatee-MSFT!  Unfortunately this page does not state how to "Move users to a different subscription" - I am looking to do this in the same step/transaction and would like to see how MS recommends doing what is listed in the GUI process at https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/assign-licenses-to-users?view=o365-worldwide#move-users-to-a-different-subscri

[2019-09-26 17:13] cmcatee-MSFT commented on #743
@aakash-shah Thanks for the clarification. I'll look into this and let you know what I find.

[2019-09-26 19:28] cmcatee-MSFT commented on #743
@aakash-shah The information you're looking for has been added to the article [here](https://docs.microsoft.com/en-us/office365/enterprise/powershell/assign-licenses-to-user-accounts-with-office-365-powershell#move-a-user-to-a-different-subscription-license-plan-with-the-azure-active-directory-powershell-for-graph-module). Please let me know if this answers your question. Thanks!

[2019-09-27 02:19] aakash-shah commented on #743
Hello @cmcatee-MSFT!  Thanks for that information.  In your example, you have separate lines/commands that first perform the addition of the new license, and then in a separate step, perform the removal of the old license.  However in some cases, you cannot simply add a new license to the existing license since the new license may conflict with the old one.

In the GUI, for a single user, I am abl

[2019-09-27 03:23] #727 closed

[2019-09-27 03:24] #729 closed

[2019-09-27 06:55] mwe-microsoft opened #750 "Please review first chapter"
It is stated that a yammer enterprise license is needed for an external user who belongs to an Office 365 Tenant.
The OSTs say on page 27 Yammer
For Office 365 Services that include Yammer, External Users invited to Yammer via external network functionality do not need User SLs
Further it is stated that users that do not not (two nots) belong to an Office 365 tenant need a school and work account.

[2019-09-27 10:52] mypil commented on #750
@mwe-microsoft  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-09-27 11:03] mypil commented on #731
@TiloGit - We have forwarded this request to the product team who manages this topic for their consideration.

Thank you for engaging with the community here and for your contribution to help improve the docs.

[2019-09-27 11:03] #731 closed

[2019-09-27 16:15] Sirkkuw commented on #740
@Borkason  and @mypil What you see on the Setup page depends on your subscription, and if MFA is turned on for your tenant. Please first enable tenant for MFA if you are not seeing this option (turnign  it on steps are in the doc). Note also that the admin center is being worked on to improve it, and changes are rolled out in waves. In the latest I see this:
![image](https://user-images.githubuser

[2019-09-27 16:41] Borkason commented on #740
@Sirkkuw That doesn't explain where the "right nav pane" is.

Where in the admin center did you take this screenshot?

[2019-09-27 22:52] cmcatee-MSFT commented on #745
@HenrikMejnhardtNielsen The section [You bought your subscription through a partner](https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/remove-licenses-from-subscription?view=o365-worldwide#you-bought-your-subscription-through-a-partner) stated that if you bought your subscription through a partner, you can't remove licenses, the partner has to do that for you. This also ap

[2019-09-28 03:28] mypil commented on #722
@kmpaltas - We will close this issue now. If your phone issue is not resolved, please contact cmcatee@microsoft.com. Thanks.

θα κλείσουμε αυτό το ζήτημα τώρα. εάν το θέμα του τηλεφώνου σας δεν επιλυθεί, Παρακαλώ επικοινωνήστε  στο cmcatee@microsoft.com.  Ευχαριστούμε.

[2019-09-28 03:28] #722 closed

[2019-09-30 13:30] ElvinBadBoyBishop commented on #687
Agreed this reference is out of date and incorrect. Domains are under Setup not settings. There's no link to custom records. I get thrown into the setup Wizard when I try to Manage DNS.

[2019-09-30 15:40] webstaff commented on #744
This is all so unclear and all needs rewriting if you ask me.

2FA and MFA are different things and MS needs to make this clear.
2FA is what you think it is 2 factors of authentication.
MFA is one method of using 2FA. However MFA doesn't have to be 2FA just the new login flow/process.

MFA for all the web apps works fine for the most part.
You put in your username, then password. then you get prom

[2019-09-30 15:53] webstaff commented on #740
Is this going to be updated then or are you waiting for some kind soul to write this for you?
Then keep it current for you?

I have a nicely written article about it, maybe we can discuss how much your going to pay me for access to a current and correct article as its cost our business a lot of time to get a working how to 2FA / MFA including all the hoops, loops and bugs that we are likely / expe

[2019-09-30 15:56] webstaff commented on #744
Sorry slight correct even I'm doing it wrong now.
I've confused MFA and MA (Modern Authentication)
Modern Authentication with MFA / 2FA which if you jump through the right hoops is what outlook should support and offers the best security.
However currently as its so buggy support suggest using app passwords.

[2019-09-30 16:18] get-itips commented on #736
Hello @bizzcuit2000 I will take a look at the script/article to see if it needs any adjustment. Thanks

[2019-09-30 22:02] tbogle opened #754 "Things To Consider.... Email"

[2019-09-30 22:12] #754 closed

[2019-10-01 07:36] lefrinj opened #755 "'Set Up 2-step verification' page for users is actually the same as the app password instructions, with a different title"
The 2 links above promise to be very useful for sending to users, but it turns out that the first page is actually app password instructions again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5b41-d7e49f6ef9b4
* Content: [Set up multi-

[2019-10-01 09:08] mypil commented on #755
@lefrinj  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-01 09:10] lefrinj commented on #755
Thanks. On further examination the pages are not the same, but it is still confusing that there is so much on app passwords when that’s not the focus of the page and another page exists for that purpose. Thanks for all you’re doing to make it easier for us to find the info we need 😊

Dev

________________________________
From: Joyce Y. <notifications@github.com>
Sent: Tuesday, October 1, 2019 11:0

[2019-10-01 13:39] mypil commented on #745
@HenrikMejnhardtNielsen - From our understanding, the issue you raised has been answered by cmcatee-MSFT. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-01 13:39] #745 closed

[2019-10-01 15:11] get-itips commented on #736
Hello @bizzcuit2000
I could successfully test the published Ps script and it works as the article says, only who is member of the Allowed Group can create, so I don't identify anything to be corrected in the article.

![image](https://user-images.githubusercontent.com/36666927/65974806-fb34e400-e443-11e9-9538-a8d1689c0410.png)

Hope I understand well your scenario.

If still does not work for you,

[2019-10-01 17:18] bizzcuit2000 commented on #736
Thanks Everyone for their help.... I was able to finally get it working. I had to execute each line in the script individually, hitting enter after every line, as opposed to just launching the script.

[2019-10-01 17:55] get-itips commented on #736
@bizzcuit2000  Glad to hear you make it work on your own tenant.
@mypil we can close this now.
Thanks

[2019-10-01 18:59] haider392 opened #756 "Video is inaccurate"
The video on this page https://www.microsoft.com/en-us/videoplayer/embed/7d4c20ee-f96f-4336-b79d-d955507583d1?autoplay=false still advises users to use Office 365 Adoption Content Pack which was a preview. Users should now be advised to use Microsoft 365 Usage Analytics App which is the GA version by going to Apps -> Get Apps -> Microsoft 365 Usage Analytics

[2019-10-02 09:33] benrwb opened #757 "Wizard"
The documentation suggests that this is a three-page wizard but on my version of the Office 365 admin center, and in the video, all of these settings are on a single page.

For example step 3 "On the Choose a group type page, choose Distribution, and then choose Next."
There is no such thing as the "Choose a group type page", and there is no "Next" button.
The group type is actually chosen from a

[2019-10-02 09:35] mypil commented on #756
@noobcoder7412 - May we know which Microsoft document link you used that contains this video?

Please share it with us so we can investigate further. Thank you.

[2019-10-02 11:28] mypil commented on #757
@benrwb  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-02 12:24] get-itips commented on #744
Hello @webstaff
Thanks for your feedback.
I recommend looking this article to enable MFA for certain users using Powershell https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates

To my understanding, the other feedback that you give would be better suited for UserVoice, where that kind of feature requests can be seen by developers and managers of the products

[2019-10-02 13:11] webstaff commented on #744
@get-itips
Thanks for the info, already in our internal documentation as fall back info, however it was Canis-Lupis who was asking about the enabling disabling.
For them I suggested make sure toggle on MA via powershell, then from the azure web gui.
Just enable MFA for all using the powershell option above than means the clients should then try to use modern Auth regardless of is 2FA is implemente

[2019-10-02 13:12] webstaff commented on #744
Done it again.
Just enable MA* for all using the powershell not MFA. why did they call it MFA not just 2FA!!!

[2019-10-02 13:35] mypil commented on #703
@markgort86 - From our understanding, the issue you raised has been answered by adefowler where she mentioned that they found a fix which should be rolled out this month - October. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-02 13:41] webstaff opened #758 "Modern authentication option from web gui, never worked for me."
I've never been able to find this in the admin panel (any version, new or old)
but the powershell option for this always works.
Maybe include something like below? As it really mucks things up if you assume MA is enabled and its not. ( I think there might be a bug in the admin pages so if it thinks its enabled it doesn't show but really its not enabled. I've certainly had issues till I do the belo

[2019-10-02 13:45] markgort86 commented on #703
@mypil yes, but until now the issue isn't resolved globally. It's better to have this case open until it's rolled out, or am i wrong?

[2019-10-02 13:57] mypil commented on #703
@markgort86 - Reopening issue as requested.

@adefowler - Please assist to give updates and close issue once roll out is successful.

Thank you.

cc: @kenwith

[2019-10-02 14:37] #736 closed

[2019-10-02 15:05] get-itips commented on #744
Hello @webstaff you are right, I was meant to mention @Canis-Lupis in the first part of my other message, sorry. And I hope the other guidelines i made for you are helpful to you.
As the question of the original issue poster is replied, we would proceed closing this one. I encourage you again to open an user voice with your inquiries or open another issue with what you see needs to be corrected **

[2019-10-02 15:10] mypil commented on #744
@Canis-Lupis - From our understanding, the issue you raised has been answered by get-itips. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-02 15:44] noobcoder7412 commented on #756
Here it is

https://docs.microsoft.com/en-us/office365/admin/usage-analytics/usage-analytics?view=o365-worldwide

Thanks
Haider

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Joyce Y. <notifications@github.com>
Sent: Wednesday, October 2, 2019 4:35:06 AM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: Haider Hazrat <haha

[2019-10-02 20:36] Canis-Lupis opened #759 "What about disabling users from creating groups?"
I have a comment and a question.  First, Stream is another application that allows users to create groups, so you can add that to the list at the top of the article.

As for my question, what if you don't want any users to be able to create groups, except for the global and other admins listed?  How do you turn off group creation?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-10-03 03:38] Canis-Lupis commented on #744
I’m not sure my original question was answered or perhaps I just missed it in all the back and forth.  I originally stated, “From the instructions here, it appears that once you set baseline access policies, then MFA is instantly turned on for everyone in the tenant.”  Since I posted this question, I have turned on MFA and set a baseline access policy only to get users complaining that they were g

[2019-10-03 07:37] mypil commented on #759
@Canis-Lupis  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-03 10:17] Haribo112 opened #760 "How to implement this?"
Great that you give us all these considerations, but how do I actually apply these settings in Office 365?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c354faae-625c-2b36-2a77-4ed2962feff3
* Version Independent ID: 1dd96166-8bae-fc8c-491f-99ca45f5b058
* Content: [Password policy recommendations for Office 365](https:

[2019-10-03 10:53] VLG17 commented on #741
@ivanfioravanti As far as i understand, the API is still in preview, meaning you should not use it in Production and is not "fully functional" yet.

"Is it possible to integrate the data from the content pack into existing solutions?

The data in the content pack can be retrieved through the Office 365 APIs **(in preview**). When they ship to production they will be merged within the Microsoft Gra

[2019-10-03 15:04] mypil commented on #760
@Haribo112 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution and

[2019-10-03 21:21] veronicageek commented on #759
@Canis-Lupis
About your question on restricting group creation, hope this article should help:
https://docs.microsoft.com/en-us/office365/admin/create-groups/manage-creation-of-groups?view=o365-worldwide

[2019-10-04 12:02] mypil commented on #755
@lefrinj - We appreciate your efforts to clarify the docs. Could you please assist us by providing more details on how this content could be edited to incorporate your feedback? If you could suggest what the appropriate text and where it should be placed, I could assign one of our team members to create a Pull Request to get it added or you may also create a Pull Request to add in your suggestion

[2019-10-04 12:50] mypil commented on #741
@ivanfioravanti  - From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-04 13:32] Canis-Lupis commented on #759
This just links back to the article I'm posting the question on.  I'm not looking to create a group to allow Group creation, I'm looking to disable group creation for all (except the admins listed in the article).

Is disabling Group creation part of the PowerShell script listed?  While I am familiar with PowerShell, the script appears over my head.  What is the command that does that without addi

[2019-10-04 13:42] veronicageek commented on #759
This is what the script does. Prevents users from creating groups **except** the members (i.e.: your admins) of the Security Group you define.
You can copy/paste the PowerShell script & change the $GroupName value with your own.

[2019-10-04 13:57] Canis-Lupis commented on #759
Thanks, I'll give it a try but I don't want to have anything for $GroupName as we don't won't any regular users to have the ability to  create groups.  I will try to modify the script without that and give it a try.

________________________________
From: Veronique Lengelle <notifications@github.com>
Sent: Friday, October 4, 2019 8:42 AM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro

[2019-10-04 14:00] veronicageek commented on #759
@Canis-Lupis if you create a Security Group and put yourself only as a member, running the script with this Security Group name in $GroupName will make you the **only person** able to create groups.

[2019-10-04 14:26] Canis-Lupis commented on #759
Well, I'm a global admin, so I should be able to create groups anyway, correct?

I did try running the script with a dummy (empty)  security group and it didn't work.  I did install AzureADPreview first, per instructions.  But running the script gives errors,
The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet, function, script file, or operable program.
The term 'Get-

[2019-10-04 14:59] veronicageek commented on #759
:triumph: Argh I hear ya, those AzureAD modules are very frustrating, and despite people submitting pull requests, seems nobody is taking care of them :thumbsdown:

[2019-10-04 16:02] Ronsss opened #764 "Number of concurrently devices: 5 or 15?"
Does this page correctly reflect current Office 365 limit on device install. As I understand it, in the year the terms were (dis)"improved" to max any 5 devices, as stated on this current sales page:
https://products.office.com/en-ca/compare-all-microsoft-office-products?&activetab=tab%3aprimaryr2
and specifically for Business Users MS has automated moving license count around, moving from least r

[2019-10-04 17:15] cmcatee-MSFT commented on #764
@mypil Already investigating this issue.

[2019-10-04 18:17] Canis-Lupis commented on #759
Well, the good news is that I found my problem:  I ran Uninstall-Module AzureADPreview but hadn't run Uninstall-Module AzureAD.  Once I did that, I reinstalled the AzureADPreview and the script ran successfully.

I guess I owe everyone an apology for opening this issue as the ability to disable Group creation was in the article all along--I just hadn't run the PowerShell script originally because

[2019-10-04 18:29] veronicageek commented on #759
@Canis-Lupis - Glad you got it resolved 👍

[2019-10-04 18:50] cmcatee-MSFT commented on #764
@Ronsss The article is correct as written. If you look at the products page, the part about 5 PCs or Macs applies to desktop version, while the very next section applies to web and mobile versions, and says you can install on up to 5 phones and 5 tablets. So it's both. Hope that helps.

[2019-10-07 09:34] #764 closed

[2019-10-07 09:34] #760 closed

[2019-10-07 12:38] mypil commented on #756
@noobcoder7412  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-07 15:42] mypil commented on #759
@Canis-Lupis - From our understanding, the issue has been answered by <veronicageek. If you feel it hasn't been resolved, please re-open this issue.

Thank you for engaging with the community here for the docs.

[2019-10-07 15:42] #759 closed

[2019-10-07 17:26] Sirkkuw commented on #740
@Borkason the page is the Setup page in the Microsoft admin center.
@webstaff  The admin center is rolling out changes and you will likely see the ability to turn on MFA on the Active users page.

[2019-10-07 22:12] JoeDavies-MSFT commented on #743
@aakash-shah The new PowerShell section first removes the user from a license and then adds them to a different license. This moves the user from one subscription (license) to another. And yes, it is possible to do this in a single command, but I cannot spend the time required to rework this to duplicate the GUI functionality. Thanks.

[2019-10-07 22:12] #743 closed

[2019-10-08 02:15] jadesolis commented on #740
Does this mean the new Admin Center now requires Conditional Access Policies just to enable MFA?

[2019-10-08 06:53] aakash-shah commented on #743
To clarify, does this mean that MS supports removing a license where a user has an Exchange mailbox, and then adding it back as a next step?  I've read about people reporting problems with this since this causes the mailbox to not have an Exchange license for a moment which can cause disruption.  This is the reason I am trying to find out how to do this in a single operation, or to get guidance as

[2019-10-08 09:42] mypil commented on #742
@baardhermansen  - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-08 09:42] #742 closed

[2019-10-08 13:45] #741 closed

[2019-10-08 17:55] cmcatee-MSFT commented on #700
@boffsky It would help us troubleshoot this if you can provide us some additional information. We'd like you to test the # again, and make 2 attempts from 2 different caller phone numbers. Please contact me directly (click my profile image to get my email address) and provide the following information for each test call:

1.   Country and Number being called:
2.   Country and City of person callin

[2019-10-08 21:14] #686 closed

[2019-10-09 10:30] mypil commented on #755
@lefrinj - We value any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to open a new issue if you find any documentation error or if there is a particular area of the docs that we can improve on and we will be glad to help fix it. Thank you.

[2019-10-09 10:30] #755 closed

[2019-10-09 18:28] joinimran commented on #739
@JvdMaat - Are you requesting for a new feature in the permissions?

[2019-10-09 19:47] cmcatee-MSFT commented on #743
@JoeDavies-MSFT Can you respond to this?

[2019-10-10 13:31] Canis-Lupis opened #769 "There's one process missing here"
Pretty through article, but the one part about removing a former employee that's missing here is how to remove the "belongs to" setting in desktop applications (perhaps mobile applications as well but I haven't checked that).  We are noticing that when one employee leaves and a new employee uses the same workstation, even though the new employee can log on with her account just fine, the "belongs

[2019-10-10 14:40] mypil commented on #740
@Sirkkuw - Can you please assist with this addtional query from @jadesolis?

Thank you.

[2019-10-10 17:47] kenwith commented on #744
@Canis-Lupis - which part of the doc were you in when a note like you suggested would have helped?

Are you thinking a note along the lines of: "Note: Turning on a baseline policy instantly turns MFA on for everyone. Only after turning off baselines policies will you be able to assign MFA to individuals users and have them register.  Baseline policies aren’t necessary for MFA."

What we can do is

[2019-10-10 18:01] mypil commented on #769
@Canis-Lupis -  - Thank you for engaging with the community here for the docs.

Currently, there's no PowerShell command for what you are requesting for but I know the product teams are always looking for user feedback and feature requests on how to make Office 365/Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[User Voice](htt

[2019-10-10 18:15] Sirkkuw commented on #740
@jadesolis the MFA currently provided uses Azure CA - it will be changing, however, in the UI you can see this: Multi-factor authentication is changing in early 2020. New default security settings in ‎Azure Active Directory‎ will replace baseline policies as the place to manage multi-factor authentication. Go to Message center to learn about these new default security settings

[2019-10-10 18:23] Sirkkuw commented on #758
@mypil I am OK with the PowerShell being added, but I would like to see if @chrisda approves of it first.

[2019-10-10 18:42] kenwith commented on #744
@Canis-Lupis - I got in touch with the product team and they are currently changing the behavior to improve the process. This doc will be updated with that new behavior soon. So I will go ahead and close this and we can revisit when the product update happens.

[2019-10-10 18:42] #744 closed

[2019-10-10 18:42] chrisda commented on #758
Modern Auth in Exchange Online is supposed to be on by default, but it wasn't in my very old tenant, and I had to turn it on manually by `-OAuth2ClientProfileEnabled $true`. We also document this [here](https://docs.microsoft.com/exchange/clients-and-mobile-in-exchange-online/enable-or-disable-modern-authentication-in-exchange-online), so you might be able to link off instead of adding the steps.

[2019-10-10 19:42] Canis-Lupis commented on #769
Thanks, Joyce, I will do that.
________________________________
From: Joyce Y. <notifications@github.com>
Sent: Thursday, October 10, 2019 1:01 PM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: David Tessmann <dtessmann@OmegaWulf.dog>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-O365ITPro] There's one process missing here (#769)

[2019-10-11 09:03] mypil commented on #700
@boffsky  - We will close this issue now. If you still have problems calling our support hotline and need help to troubleshoot your telephony issue, please contact cmcatee@microsoft.com.

Thank you.

[2019-10-11 09:03] #700 closed

[2019-10-11 09:57] mypil commented on #749
@softwarecraft - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-11 09:57] #749 closed

[2019-10-11 09:57] mypil commented on #748
@softwarecraft - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-11 09:57] #748 closed

[2019-10-11 10:03] jadesolis commented on #740
@Sirkkuw do we have a Message center Message ID I can reference about Multi-factor authentication changing in early 2020, or the New default security settings in ‎Azure Active Directory‎ will replace baseline policies?
The 'new' Microsoft 365 admin center which uses Azure CA would now require us to use Azure AD Premium to access the CA Policies. Shouldn't this new requirement (hidden cost) be note

[2019-10-11 10:22] #769 closed

[2019-10-11 11:35] ChrisAtMAF opened #770 "Should resource mailboxes have sign in blocked as well"
I note under 'Block sign-in for the shared mailbox account' that it is recommended to block sign-in for the account that's associated with a shared mailbox to prevent hacking.

I notice that 'Resource' mailboxes (Rooms and Equipment) also have an account associated with them - are these also vulnerable and so should we block sign in for these too?

---
#### Document Details

⚠ *Do not edit this se

[2019-10-11 17:19] haider392 opened #771 "Microsoft 365 Usage Analytics needs a Power BI Pro License"
In the documentation, it is mentioned that this app is free and user only need to sign up for free Power BI Service. This is incorrect. To install Microsoft 365 Usage Analytics app, a Power BI Pro (paid license) is required.

Link where this is mentioned: https://docs.microsoft.com/en-us/office365/admin/usage-analytics/usage-analytics?view=o365-worldwide#is-this-content-pack-going-to-be-available-

[2019-10-12 14:19] mypil commented on #770
@ChrisAtMAF - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-12 14:20] mypil commented on #771
@haider392 - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-14 13:35] timskovjacobsen opened #773 "Yammer with code snippets?"
My company will be using Yammer from Jan 2020. We really need our technical networks on the site to support code snippets in posts. Any chance this will be implemented in the future?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 107f1ed0-b257-639b-112f-1c8f26095297
* Version Independent ID: 572dc2d1-773e-46ef-c5ca-61d

[2019-10-14 14:52] mypil commented on #739
@JvdMaat - We would like to follow up. Can you please respond to the query of joinimran?

Thank you.

[2019-10-14 15:19] mypil commented on #773
@timskovjacobsen - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Yammer better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[User Voice](https://yammer.uservoice.com/)**.
You might find others have made a similar request that you can

[2019-10-14 18:56] timskovjacobsen commented on #773
@mypil - Thanks for the reply. I have made a post about it in UserVoice and upvoted some related suggestions.

[2019-10-15 12:57] #773 closed

[2019-10-15 14:01] Outright-Graham opened #775 ""Invalid nameserver" error message when editing nameservers."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13e339f0-e8f8-a30f-1b27-af58235f1b0d
* Version Independent ID: 6928fa1f-7f67-71ee-c839-9688b96da754
* Content: [Change nameservers to set up Office 365 with Bluehost](https://docs.microsoft.com/en-us/office365/admin/dns/change-nameservers-at-bluehost?

[2019-10-15 14:23] get-itips commented on #758
Hello @chrisda and @Sirkkuw thanks, based on the info you provided and some other I could get, I am proposing thru a pr adding a note with this information, please review the referenced PR.

[2019-10-15 17:09] mypil commented on #775
@Outright-Graham - Can you please share what specific issue you have with this doc? Or are you having some technical issues which requires technical support?

If you have some issues with this doc, we would really appreciate if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2019-10-15 17:26] Outright-Graham commented on #775
Hello Joyce!
I'm very sorry to relay I was unable to figure out the problem. However my
coworker was able to submit name (alternative) server records (in Bluehost)
successfully.

Long story: we are trying to direct a domain on Bluehost to Microsoft. I
attempted twice and was unsuccessful. I'm sure I typed it in properly and
even double checked my work. My colleague, working off site, replicated my

[2019-10-15 18:49] mypil commented on #757
@benrwb -  From our understanding, the issue has been resolved based on the merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/827e2b291df1e968aa989193aec36c93ffa52754 but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appre

[2019-10-16 14:45] mypil commented on #775
@Outright-Graham - We're glad to know that your issue has been resolved. We will close this issue now.

Please feel free to open a new issue if there is a specific area in the docs that we can make better.

Thank you!

[2019-10-16 14:45] #775 closed

[2019-10-16 17:24] redamaleki opened #778 "Read Actions definition"
Is there a page that explains what a read action is? Is it just a message changing from unread to read?  Not necessarily someone reading a message that has already been read?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0edd827-38a3-12d1-7836-a2eacc97ed1c
* Version Independent ID: b0765177-6d47-49f4-47a5-2456107652c

[2019-10-16 19:11] Sepiks-Perfected opened #779 "Kaizala Management Portal"
NOTE: This pertains to the EmployeeHelpdesk-SolutionsPackage by Kaizala
I keep running into this issue even though I've followed all instructions for the file...

![Annotation 2019-10-16 150629](https://user-images.githubusercontent.com/56653094/66950857-34b24580-f027-11e9-830b-be0448e2e5ae.png)

[2019-10-16 19:43] J-Fedor opened #780 "Global reader - shortcomings"
Couple of things that I've noticed is that Get-InboxRules fails.  Example:
Get-InboxRule -Mailbox user@company.com
The operation on mailbox "User" failed because it's out of the current user's read scope. You may need elevated permissions. 'User' isn't within your current write scopes. Can't perform save operation.

Also, signing into SharePoint online fails.
Connect-SPOService : Current user is n

[2019-10-17 03:26] ttpro1995 opened #781 "As a USER (not admin), how to update your own recovery info after I did complete step 5 (filled the form on my first login)?"
[Enter feedback here]
First time I log on, it shown a form for me to give recovery information (including email and phone number).

Now I want to change recovery information (by myself, without contacting human in IT support) but I can't find a link. How can I update recovery information ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-10-17 03:27] ttpro1995 commented on #781
related question on stackexchange https://superuser.com/questions/1493108/how-to-update-recovery-information-of-myself-in-self-service-password-reset-tool

[2019-10-17 09:07] mypil commented on #778
@redamaleki  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-17 09:08] mypil commented on #780
@J-Fedor  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-17 09:10] mypil commented on #781
@ttpro1995 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution and

[2019-10-17 09:12] mypil commented on #779
@Sepiks-Perfected - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-10-17 13:59] dalmendinger opened #782 "Link for Removing a reseller relationship with partner not working"
The link provided: https://go.microsoft.com/fwlink/p/?linkid=870519 does not work. This is found at the bottom for Remove a reseller relationship with partner.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d391d-6fb4-8449-e816-6ae040781416
* Version Independent ID: bbfd14f9-8b89-5391-1963-ccfb19a3f4b6
* Content: [A

[2019-10-18 11:54] #757 closed

[2019-10-18 17:02] mypil commented on #779
@Sepiks-Perfected - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolut

[2019-10-20 08:28] Kav7 opened #784 "Powershell capability"
Can any of this be achieved or queried via powershell? We want to be able audit our clients tenant to check who they have as partner of records, or who they have allocated as delegated admins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d391d-6fb4-8449-e816-6ae040781416
* Version Independent ID: bbfd14f9-8b89-539

[2019-10-21 06:52] MaratMussabekov commented on #778
hello @redamaleki ,
read action counts when user clicks on email message or opens it. It is not the change of status from "unread" to "read", it is the fact that the message was displayed.
**Is there a page that explains what a read action is** - unfortunately, I didn't find article with the definition of this action.
Thank you

[2019-10-21 08:45] mypil commented on #784
@kavehs7  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-21 09:07] #779 closed

[2019-10-21 12:35] mypil commented on #739
@JvdMaat - We value any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to open a new issue if you find any documentation error or if there is a specific area of the docs that we can improve on and we will be glad to help fix it. Thank you!

[2019-10-21 12:35] #739 closed

[2019-10-21 12:36] #781 closed

[2019-10-21 14:57] mypil commented on #740
@Sirkkuw - Can you please share your inputs on this additional query?

Thank you.

[2019-10-22 07:14] andikrueger opened #785 "Is Azure AD Basic EDU still a thing?"
In this section, there is a mentioning of the Azure AD Basic EDU License: https://docs.microsoft.com/en-us/office365/admin/create-groups/groups-naming-policy?view=o365-worldwide#licensing-requirements

Where can I find additional Information about Azure AD Basic and how can I enable this within an EDU tenant?

This issue is related to this question: https://github.com/MicrosoftDocs/OfficeDocs-Skyp

[2019-10-22 08:49] mypil commented on #785
@andikrueger  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-23 06:28] joinimran commented on #770
Hello, @ChrisAtMAF Thank you for your query and this applies to all shared mailboxes including rooms and equipment. The best practice would be to block those accounts to sign in.

Thanks.

[2019-10-23 06:55] joinimran commented on #771
Hello @haider392 , Can you please share your whole scenario where you are facing this issue. The usage  analytics is free for Office365 usage analysis. Please see https://docs.microsoft.com/en-us/office365/admin/usage-analytics/usage-analytics?view=o365-worldwide for more details. This https://docs.microsoft.com/en-us/office365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide can h

[2019-10-23 09:13] ChrisAtMAF commented on #770
Thank you - please can this best practice be added to the Room and Equipment Mailboxes documentation so people are aware?
https://docs.microsoft.com/en-gb/exchange/recipients-in-exchange-online/manage-room-mailboxes?redirectedfrom=MSDN

https://docs.microsoft.com/en-gb/exchange/recipients-in-exchange-online/manage-equipment-mailboxes?redirectedfrom=MSDN

https://docs.microsoft.com/en-gb/office365/

[2019-10-23 09:53] jpalo opened #790 "Clarification of the WARNING text at the end of the document"
Can you please clarify the WARNING at the end of the article as to why the passwords expire after 90+ days even if you set passwords to never expire: "Passwords set to -PasswordPolicies DisablePasswordExpiration still age based on the pwdLastSet attribute. If you set the user passwords to never expire and then 90+ days go by, the passwords expire."

---
#### Document Details

⚠ *Do not edit this s

[2019-10-23 10:16] mypil commented on #790
@jpalo  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-23 12:51] sn131678 opened #791 "Disabling Automapping"
How to disable the automatic Automapping feature of shared accounts would be good to share on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a258b08-9f84-d11d-a5c5-8c758dfd5d18
* Version Independent ID: 1b9620e1-c056-cb1d-72cd-623703365e79
* Content: [Create a shared mailbox](https://docs.microsoft.com/en-u

[2019-10-23 13:56] zackoch opened #792 "Cisco Webex Add-In disappeared from our users ribbons"
The Cisco Webex Meetings Add-In was added through the O365 Admin Center a few months ago, and is now suddenly from most of our users...

What's the proper procedure here?

[2019-10-24 07:39] ttpro1995 commented on #781
hi, but you have not directly answer my question. The issue is not resolved yet.

I am USER, not ADMIN.

[2019-10-24 08:02] mypil commented on #791
@sn131678 - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-24 10:52] MaratMussabekov commented on #785
hello @andikrueger ,
unfortunately Basic versions of Azure AD is not available for new customers (https://github.com/MicrosoftDocs/azure-docs/issues/36471)
It still mentioned in the documentation as existing customers can continue use it (at least for now).
Thank you

[2019-10-24 12:48] mypil commented on #778
@redamaleki - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-24 12:48] #778 closed

[2019-10-24 13:11] mypil commented on #758
@webstaff - From our understanding, the issue has been resolved based on the merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/635a9cac075a74ff2e7c6ca539a9bf7629680c70. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-24 13:11] #758 closed

[2019-10-24 13:13] mypil commented on #756
@haider392 - From our understanding, the issue has been resolved based on the merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/52affb455b2b438309a24825fed48f4068d88344. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-24 13:13] #756 closed

[2019-10-25 10:10] mevaibhav83 opened #795 "Export-PlannerUserContent never finishes"
Issue
Export-PlannerUserContent command never finishes in following 3 condition and its getting stuck.

1. when upn has office 365 license (including planner) and user has never accessed planner so far
2. when upn has office 365 license (including planner) and user has not created any planner
3. when upn has office 365 license (including planner) but user never logged into office 365 yet

Followin

[2019-10-25 11:38] mypil commented on #795
@mevaibhav83 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-10-25 11:41] mevaibhav83 commented on #795
Sure, this is the link : https://docs.microsoft.com/en-us/office365/planner/export-user-data

[2019-10-25 13:40] jeking3 opened #796 "Sub-domains information seems to contradict itself"
[Enter feedback here]

The section "Can I add custom subdomains or multiple domains to Office 365?" first says that to have sub-domains you "must" use an external DNS provider.

Then it goes on to say that "Typically, you can add up to 900 domains to your Office 365 subscription".  Which one is correct?

Let's say I have foo.com in Office 365.  I wanted to add `eng.foo.com` as a sub-domain and the

[2019-10-25 13:53] mypil commented on #796
@jeking3 - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-25 13:55] #792 closed

[2019-10-25 14:26] msbemba commented on #790
@jpalo Thank you for your feedback.

1)When the policy goes live(new policy applies), passwords last changed before the number of days set in the policy will automatically expire. For example, if a user had last changed their password 6 months ago and the new policy was set for passwords to never expire, they will need to change the password else it would expire in 6 months.

2) Regarding the seco

[2019-10-25 15:33] msbemba commented on #791
@sn131678 Thank you for your feedback. We have added steps to disable Automapping on the document. This can be tracked via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/797

Thanks
Sri

[2019-10-25 15:48] msbemba commented on #780
@J-Fedor Thank you for your feedback. I was able to repro the issue, I'll check with the team internally and update you shortly on the next steps.

Thanks
Sri

[2019-10-25 16:39] webstaff opened #798 "Can you add a note to say this doesn't work from a tenanted admin"
Or in other words we don't care about partners!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90059adc-9f5f-bc6c-caab-695e7ca1933a
* Version Independent ID: d71bf1c7-ee9d-4c7c-5b65-a8765366b064
* Content: [Let users reset their own passwords in Office 365](https://docs.microsoft.com/en-us/office365/admin/add-users/let

[2019-10-25 20:50] Canis-Lupis opened #799 "I think the process here assumes too about much about how companies handle former employees."
I've worked at 4 different companies now that utilize O365 and not one of them removes former employee accounts as depicted here; that is, by resetting the password.  They all do one of two things (hybrid environments):
1) Delete AD account
2) Disable AD account and move it to an OU that doesn't sync to O365
Given this, some of the items listed here just don't work as listed.  For example, the emp

[2019-10-26 09:16] longnh994 opened #800 "Deleted Authentication application and can't login to Office 365 admin"
Hello,

I have enabled multi-factor authentication on the global admin account by Authentication application. I have deleted the Authentication application on my phone and now cannot log in to the global admin account. Please guide me to solve it.

Thank you!

[2019-10-28 04:33] #800 closed

[2019-10-28 08:22] awdhaan opened #801 "Overriding tenant settings"
Suggested improvement to this page is to clearify that if tenant Guest Access settings are set to False, individual groups cannot be set to True, where it does work the other way around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b191c8b0-5673-efce-de2a-ba219aa82f37
* Version Independent ID: d5f71172-e733-af54-e938

[2019-10-28 09:18] mypil commented on #798
@webstaff - Thank you for submitting feedback.

Can you please share what specific issue you have with this doc? Or are you having some technical issues which requires technical support?

Please assist to provide more details so we can investigate further.

[2019-10-28 09:18] mypil commented on #799
@Canis-Lupis - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-28 09:19] mypil commented on #801
@awdhaan - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-28 19:01] JohnMoor opened #802 "Access OneDrive File Share link not correct"
Under "Access a former user's OneDrive documents" bullet 4 (of both new and old MS365 admin) states:

Select the link to open the file location and download and copy the files to your own OneDrive for Business, or a common location. You can also share the link with another user to download the files.

This last sentence seems incorrect. When clicking the link it only allows the global admin to acc

[2019-10-29 10:13] mypil commented on #802
@JohnMoor  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-29 13:48] mypil commented on #771
@haider392 - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-29 13:54] mypil commented on #785
@andikrueger - From our understanding, the issue you raised has been answered by MaratMussabekov. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-29 14:07] mypil commented on #795
@mevaibhav83 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution a

[2019-10-29 14:10] mypil commented on #790
@jpalo  - From our understanding, the issue you raised has been answered by msbemba. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-10-29 14:38] andikrueger commented on #785
@MikePlumleyMSFT I am workings with an EDU customer at the moment. Is AAD Basic EDU still available?

[2019-10-29 14:43] adefowler commented on #703
@markgort86 - Sorry taking so long to get back to you, Mark! But the fix has been rolled out. Please test it - and if it works for you, close the comment.

Thanks again for reporting this bug!

[2019-10-29 14:45] MikePlumleyMSFT commented on #785
@andikrueger I'm not sure. Support should be able to get you some info though.

[2019-10-29 15:12] markgort86 commented on #703
@adefowler thanks for this update! I tried to update a group in the Office 365 admin center and that is now possible without limitations. Is there a way to see what has been changed by Microsoft? Instead of what is already visible on the roadmap.

[2019-10-29 18:23] mprentice22153 opened #803 "Another requirement"
It appears not only must the distribution list have an owner but that owner must have a mailbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10dbb56e-1c52-8fa0-0d3d-bab6d50519d0
* Version Independent ID: ff6585cd-9d68-ed1c-ee5f-1f451457dbef
* Content: [Upgrade distribution lists to Office 365 Groups in Outlook](http

[2019-10-30 08:17] Pinakin2404 opened #804 "No option to create custom A record"
my DNS are pointing to microsoft and I used to be able to add A records. I don't get this option any more.

Please help.

[2019-10-30 22:04] baltmanbrandes opened #805 "Please update documentation to reflect inability to move an smtp address"
We have found and confirmed via support Ticket #:17306202, that although we can remove an smtp address from our on-prem Hybrid Exchange Server for a Remote User Mailbox that matches the UPN of the user, and we see AzureAD Connect send a deletion command, the smtp address does NOT actually get removed.  So if we add it to another user or DL we get the alerts about duplicate attributes from AzureAD

[2019-10-31 08:08] mypil commented on #805
@baltmanbrandes - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-31 08:09] mypil commented on #804
@Pinakin2404 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution a

[2019-10-31 08:11] mypil commented on #803
@mprentice22153 - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-31 14:20] b27lu opened #806 "There is no "Start setup" on domains page"
Step 1 point 2 "On the Domains page, select your domain, then select Start setup. You'll go back to the domains setup wizard to see the specific value you need to add." I don't have "Start setup" on domains page. I only have "New custom record" and clicking it won't give me any pre-filled text value, it's just empty. I have have the default domain (XXX.onmicrosoft.com) in the domains page

---
###

[2019-10-31 15:24] #771 closed

[2019-11-01 07:31] manjunathp008 opened #807 "How to change alternate Email"
Helped. Thumbs up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b8f1206-71c4-76df-6843-e39a23f2350b
* Version Independent ID: 55bb4d3c-fdc4-4363-1202-89aa6e628577
* Content: [Update your admin phone number and email address in Office 365](https://docs.microsoft.com/en-us/office365/admin/manage/update-phone-number-an

[2019-11-01 09:58] VLG17 commented on #784
@Kav7 You could leverage the [Partner Center Powershell module](https://docs.microsoft.com/en-us/powershell/partnercenter/get-started?view=partnercenterps-2.0)

If you need help with the actual Powershell script in order to get that info, i suggest opening a ticket directly in Partner Center.

[2019-11-01 14:17] mypil commented on #806
@b27lu - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution and I r

[2019-11-01 14:23] mypil commented on #807
@manjunathp008 - Can you please share what specific issue you have with this doc? Or are you giving commendation that this doc was able to help you?

If you have some issues with this doc, we would really appreciate if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2019-11-01 16:03] mypil commented on #785
@andikrueger - As recommended by the author, it would be best if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP.

However, if in case you find that it is a documentation error, feel free to comment back here and we'll be glad to help fix it. Thank you!

[2019-11-01 16:03] #785 closed

[2019-11-01 16:04] #790 closed

[2019-11-01 16:04] #795 closed

[2019-11-01 16:06] mypil commented on #798
@webstaff - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to open a new issue if you find any documentation error or if there is a specific area of the docs that we can improve on and we will be glad to help fix it.

Thank you!

[2019-11-01 16:06] #798 closed

[2019-11-02 02:51] #804 closed

[2019-11-02 03:19] mypil commented on #750
@TeresaFG-writer - Can you please share your insights on this issue?

Thank you.

[2019-11-02 06:13] obviousbadger opened #809 "Incomplete Information"
Office 365 Business Premium is required, this should be mentioned to stop users purchasing an incompatable product.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a3bd9d-0022-b742-08c8-8717ae31be8c
* Version Independent ID: 802bca8e-ebff-2a9c-86d9-884ec909469e
* Content: [Change your email address to use your custom

[2019-11-02 16:04] mypil commented on #784
@Kav7  - From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-02 16:22] mypil commented on #809
@obviousbadger  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-04 07:46] Kav7 commented on #784
Thanks, had a look at all the Get* commands from the PartnerCenter module, but none of them provide the information I was requesting. It only tells me about my relationship with the clients, not all the relationships they have created in their tenant (like CSP reseller etc.).

[2019-11-04 10:52] bc-109 opened #811 "In the new admin, there's no Turn on multi-factor authentication choice under Setup."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5b41-d7e49f6ef9b4
* Content: [Set up multi-factor authentication for Office 365 users](https://docs.microsoft.com/en-us/office365/admin/security-and-compliance/set-up-mu

[2019-11-04 10:55] bc-109 opened #812 "MFA is disabled globally, and also individually for each user. But login to the admin panel still requires 2FA"
Is it a problem with the documentation ? Are there undocumented settings elsewhere ? Or is it a technical problem with the admin panel ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5b41-d7e49f6ef9b4
* Content: [Set up multi-factor auth

[2019-11-04 12:40] mypil commented on #811
@bc-109  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-04 12:40] mypil commented on #812
@bc-109  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-04 13:06] msbemba commented on #780
@J-Fedor Thanks for catching and reporting the problem. We have done some investigation, the conclusion is: it’s not a bug of Global Reader, but a by-design behavior of the CMDLet “Get-InboxRule” which is a confusing one requiring to write permission but with a “Get-*” format. See below code snippet for more information:

            // We need to verify the recipient is in write scope of the curr

[2019-11-04 14:39] #806 closed

[2019-11-04 17:36] TeresaFG-writer commented on #750
Thank you for forwarding. I made some changes and they are pending.

[2019-11-04 17:47] msbemba commented on #799
@Canis-Lupis Thank you for your feedback.  The document talks about Office365 tenancy in the cloud and Not Hybrid deployments.

What you have mentioned is correct w.r.t Hybrid as you cannot make changes on cloud and you will make changes on-premise AD.

Hope this Helps!

Thanks
Sri

[2019-11-04 17:50] Sirkkuw commented on #740
It is an additional cost depending on your subscription. With Microsoft 365 Business, for example, you continue to get CA.

[2019-11-04 17:53] msbemba commented on #802
@JohnMoor  Thank you for your feedback. I have created a PR# https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/813  to remove the last sentence.

[2019-11-04 17:58] msbemba commented on #803
@mprentice22153 Thank you for the feedback. You are correct about the statement, however, to be a distribution list owner one must have a mailbox. So I think the addition is not required to this doc.

Hope this helps!

Thanks
Sri

[2019-11-04 18:07] msbemba commented on #805
@baltmanbrandes Thank you for the feedback. What you said is correct w.r.t to removing an email address. The User Principal name automatically gets added as the email address, unless you change it manually. The workaround to remove the Smtp address would be to change the UPN( Login) as well. This document doesn't talk about removing an email address so I don't think we need to add this sentence.

[2019-11-04 18:32] baltmanbrandes commented on #805
Thanks Sri.  Where would it be appropriate to add to official Microsoft documentation that you cannot remove an email address that matches a UPN?  We can do that on-prem, AzureAD Connect shows it sending the command to remove it.  I had to spend time with Microsoft support on this for awhile before we came to conclusion that it couldn’t be done.  This should be reflected in some official MS doc.

[2019-11-04 18:47] msbemba commented on #805
@baltmanbrandes I hear you! This article talks about how a Proxy address attribute is populated in Azure AD :-  https://support.microsoft.com/en-in/help/3190357/how-the-proxyaddresses-attribute-is-populated-in-azure-ad  while it doesn't talk much about why the UPN is added as a Proxy, This is by design, When an object is synchronized to Azure AD, the values that are specified in the proxyAddresses

[2019-11-04 19:05] msbemba commented on #801
@awdhaan Thank you for your feedback. I have added a note to the doc via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/814

Thanks
Sri

[2019-11-04 20:16] mprentice22153 commented on #803
I was able to setup a distribution list with an owner that did not have a mailbox.  It doesn't hurt to add the the statement to ensure the detail is known.

[2019-11-04 21:12] Ghawblin commented on #811
Same issue. Instructions says "setup -> Turn on multi factor authentication" but even though I enabled modern authentication and am in the new admin center, it isn't there.

Typical microsoft.

[2019-11-05 12:49] joinimran commented on #796
Hello @jeking3 - Thank you for your query, Please note that if you own DNS then you can add subdomains but if you are letting Microsoft manage your DNS or you bought your domain from Microsoft then you can not add subdomains. This is mentioned in the document.

![image](https://user-images.githubusercontent.com/47118050/68209133-8cbfe480-fff4-11e9-8dcb-6ffa1f0d709d.png)

Thanks.

[2019-11-05 14:04] mypil commented on #782
@dalmendinger - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/a29bc6a12ba94dca91291a92e3094e13e8e064bd. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-05 14:04] #782 closed

[2019-11-05 15:55] msbemba commented on #803
@mprentice22153 I hear you! I have added a note to the doc via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/815 if the author thinks it is required this will be merged to live.

Thanks
Sri

[2019-11-06 17:02] mypil commented on #807
@manjunathp008 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to open a new issue if you find any documentation error or if there is a specific area of the docs that we can improve on and we will be glad to help fix it. Thank you

[2019-11-06 17:02] #807 closed

[2019-11-06 17:07] #780 closed

[2019-11-06 17:39] mypil commented on #740
@Eric-ITaaS @Borkason @webstaff @jadesolis - Please refer to the answers provided in the coment thread by the doc owner-Sirkkuw regarding this topic and please see this comment for additional context - https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/issues/744#issuecomment-540719181. We hope this helps to address your issues.

We appreciate your efforts to clarify the docs. Thank you for you

[2019-11-06 17:39] #740 closed

[2019-11-07 09:38] mypil commented on #791
@sn131678 - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/da41c446a17c6ee7ac5512ebfd815b72b6f0d6fa. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-07 09:38] #791 closed

[2019-11-07 14:15] lightupdifire opened #817 "PowerShell"
Hello,
Is it possible to query this data using PowerShell, please?
Really interested in count of "Files shared externally"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cb3459c-e032-f893-63e3-c3c94748e62c
* Version Independent ID: 52deeb2c-fe25-a211-1a5e-a3fd565dd81b
* Content: [Office 365 Reports in the admin center

[2019-11-08 01:54] bmcdade00 opened #818 "Adjustment for Unlocking Teams"
When unlocking Teams, it says to run the script and set $GroupName = ""

This will not remove the group ObjectId from the GroupCreationAllowedGroupID field.  On a GCC High tenant, it caused issues with being not able to create teams after it was unlocked.

To fix, change the "if ($GroupName)..." section to this:

if($GroupName)
{
	$settingsCopy["GroupCreationAllowedGroupId"] = (Get-AzureADGroup -S

[2019-11-08 02:29] mypil commented on #817
@lightupdifire  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-08 02:30] mypil commented on #818
@bmcdade00  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-08 02:31] bmcdade00 commented on #818
Thank you.  I appreciate it.

Thank you,

Brian McDade
Sr. Cloud Engineer
855-21-CLOUD ext. 719<tel:8552125683,719> (O) | 724-561-6531<tel:7245616531> (M)
BMcDade@AppliedCloud.io<mailto:BMcDade@AppliedCloud.io> | LinkedIn<https://www.linkedin.com/in/bmcdade318>

[Horizontal 150x40]<https://www.appliedcloud.io/>  [LinkedIn-Email Signature] <https://www.linkedin.com/company/applied-cloud-systems>

[2019-11-08 07:56] solmssen opened #819 "Remove account from iOS admin app if I can't sign in?"
Sign out is only available from menu if I can sign in - I want to remove an account I no longer have access to.

[2019-11-08 08:53] mypil commented on #819
@solmssen - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-11-08 09:18] solmssen commented on #819
I came here from https://docs.microsoft.com/en-us/office365/admin/admin-overview/admin-mobile-app?view=o365-worldwide. My concern is that I'm no longer able to sign into an admin account that was added to the app, I want to remove it, but there doesn't seem to be a way to edit accounts or sign out of a specific account without signing in first.

[2019-11-08 13:30] omairkhan opened #820 "This number doesn't exists."
This number is not working. No support for commercial products at all. I tried various ways to handle my issue but nothing is working. I am totally exhausted

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 857771a7-6be1-5630-2aa9-539a12390781
* Version Independent ID: 3cb9162f-d140-75c9-1071-d147bf97d19a
* Content: [Sup

[2019-11-08 19:54] Retne opened #821 "Powershell options"
I was sent here via a different MS page (for Exchange Online I think, although that's in the breadcrumb not in an "applies to" section so not as obvious as it might be).
On the page I was looking at Powershell commands and that's what I'm after. Please could the appropiate link be placed here or if I can't use PowerShell to gather this information, that be highlighted. Thanks.

(Edit - pages -> pa

[2019-11-08 23:54] ghanjiboy opened #822 "Does this apply to Office 365 Home?"
Hi,I have Outlook.com Premium and looking to transition to Office 365 Home.  My Domain registration is with Google, will I be able to setup my personalized email address with Google domains as opposed to Godaddy?

Thanks!

[2019-11-08 23:58] #822 closed

[2019-11-08 23:58] ghanjiboy opened #823 "Does this apply to Office 365 Home?"
Hi,I have Outlook.com Premium and looking to transition to Office 365 Home. My Domain registration is with Google, will I be able to setup my personalized email address with Google domains as opposed to Godaddy?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab521261-ae0d-9fe5-eff2-14ae0a5e3f68
* Version Indep

[2019-11-10 09:52] VLG17 commented on #784
@Kav7 I understand. I'm sorry the PartnerCenter module did not help. To be honest, i don't have any other ideea. It could also be possible that this option is not available because it could lead to data privacy issues.

I would also advise to open a case with Partner Center just to be sure there is no other way.

[2019-11-11 06:40] mypil commented on #820
@omairkhan - Thank you for submitting feedback and sorry to hear that you're having issues.

I will get this telephony issue over to the O365ITPro writing team for investigation.

In the meantime, if you require technical support, you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based

[2019-11-11 06:42] mypil commented on #820
@cmcatee-MSFT - Can you please assist to get the telephony team to investigate on this issue?

Thank you.

cc: @kenwith

[2019-11-11 06:44] mypil commented on #821
@Retne  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-11 07:00] mypil commented on #823
@ghanjiboy  - Thank you for submitting feedback.

Please click on the below links with suggestions that may help address your issue:

1) https://office365.uservoice.com/forums/264636-general/suggestions/8987830-office-365-home-personal-email-domain-availabili

2) https://support.office.com/article/what-account-do-i-use-with-office-and-why-do-i-need-one-914e6610-2763-47ac-ab36-602a81068235#bkmk_gma

[2019-11-11 09:52] mypil commented on #819
@solmssen - Thank you for submitting feedback.

As indicated in the doc, please try the suggested troubleshooting steps below found in the doc or send an email to feedback365@microsoft.com to report any issues in using Admin mobile app.

![image](https://user-images.githubusercontent.com/47188252/68577316-c9835400-04aa-11ea-9fa9-9928f880eacf.png)
![image](https://user-images.githubusercontent.com/

[2019-11-11 11:36] mypil commented on #770
@ChrisAtMAF - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/9774aec47f895f0595ad0de83c06f563bdd69ab7. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-11 11:36] #770 closed

[2019-11-11 13:42] mypil commented on #812
This is related to issue #811

[2019-11-11 14:06] mypil commented on #811
@bc-109 @Ghawblin @chi-ltd - Thank you for submitting feedback.

Please refer to the response by the doc owner- @Sirkkuw regarding this topic found in this issue comment- https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/issues/740#issuecomment-540708378 and this additional update- https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/issues/744#issuecomment-540719181. We hope this helps to ad

[2019-11-11 14:06] mypil commented on #812
@bc-109 - Thank you for submitting feedback.

Please refer to the response by the doc owner- @Sirkkuw regarding this topic found in this issue comment- https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/issues/740#issuecomment-540708378 and this additional update- https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/issues/744#issuecomment-540719181. We hope this helps to address your concerns

[2019-11-12 08:46] hrfmjp commented on #565
After all, what does "Office 365" include?

[2019-11-12 11:34] mypil commented on #796
@jeking3 - From our understanding, the issue you raised has been answered by joinimran. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-12 11:34] #796 closed

[2019-11-12 11:35] mypil commented on #799
@Canis-Lupis - From our understanding, the issue you raised has been answered by msbemba. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-12 11:35] #799 closed

[2019-11-12 11:37] mypil commented on #801
@awdhaan - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/e336efbfbd424b7cdb7ddef9624315c7572727c1. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-12 11:37] #801 closed

[2019-11-12 11:40] mypil commented on #802
@JohnMoor - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/bca9057114538a18483fbf53e7290c83636aa27e. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-12 11:40] #802 closed

[2019-11-12 11:41] mypil commented on #805
@baltmanbrandes - From our understanding, the issue you raised has been answered by msbemba. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-12 11:41] #805 closed

[2019-11-12 11:44] mypil commented on #750
@mwe-microsoft - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/3aa303300867dfd9a2a44a6f9a607641df7aa4a9. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-12 11:44] #750 closed

[2019-11-13 03:25] bsofd opened #824 "GroupCreationAllowedGroupId output stays blank after running script"
GroupCreationAllowedGroupId stays blank after running the script and security group does not allow group creation

I have tried running
$GroupName = ""
$AllowGroupCreation = "True"

and then running the script with the security group name again, but the GroupCreationAllowedGroupId output remains blank and the specified group is not able to create groups.

I have also tried creating a new security

[2019-11-13 13:17] #811 closed

[2019-11-13 13:17] #812 closed

[2019-11-13 13:18] #819 closed

[2019-11-13 13:19] #823 closed

[2019-11-13 14:20] mypil commented on #824
@bsofd - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

If you do

[2019-11-13 15:03] boe1 opened #825 "No groups showing up when clicking on the upgrade icon"
All my DG show up in 365 exchange management, not a single group showed up as available for migration/upgrade.  I created a test DL to see if it was anything unique about my others.  There is only one user as a member, owner, and they are on 365 (not on prem), there is no nested dl, there are no special characters, there are no shared mailboxes, there are no sender restrictions, no security groups

[2019-11-13 15:21] Canis-Lupis opened #826 "How do you actually manage add-ins?"
Did I miss something here or is there no instructions on how to actually manage the add-ins?  I see a section on deploying add-ins, but what if I need to remove an add-in or change who gets the add-in?  I don't see that anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081d424b-6f62-e70c-9c2d-ad779ffa6c3b
* Vers

[2019-11-14 01:48] MidSpeck opened #827 "Admin role clarification"
This page states, "You must have admin permissions to do this."  Can you clarify the minimum permissions role needed for adding an alias?  Surely they don't have to be a global admin.  Do they have to be an Exchange admin?  Is it possible to add an alias with less?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50963b7

[2019-11-14 10:19] mypil commented on #826
@Canis-Lupis  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-14 10:19] mypil commented on #827
@MidSpeck  - Thank you for submitting feedback.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-11-14 10:21] mypil commented on #825
@boe1 - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

If you don

[2019-11-14 10:23] mypil commented on #803
@mprentice22153 - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/98b012c33b8c9fe494ea212e899e93c6dce64141. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-14 10:23] #803 closed

[2019-11-14 13:08] tomka75 opened #828 "What is "Roadmap" and is "Microsoft Stream" missing"
Hi,

reading the documentation I saw a service called "Roadmap". Is this correct? And I think Microsoft Stream is missing.

BR
Tomislav

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2953d4-8abc-5e9c-e30d-43b059b57b9a
* Version Independent ID: 467981d4-20b5-8b70-2d42-d3e38b918281
* Content: [Ma

[2019-11-14 13:57] tomka75 commented on #828
OK, found that Roadmap is from Project for web. Microsoft Stream is missing.

[2019-11-14 23:22] boe1 commented on #825
I opened a case with MS.  Basically it was there best guess is the upgrade icon only works on distribution lists that were created in the cloud to begin with so I'm not sure what it upgrades if the DL is already there.   It is like saying if you buy this house we'll move everything to it free of charge - so you'll move everything to my new house from my old house - no, we'll take all your stuff ou

[2019-11-14 23:25] boe1 commented on #825
Sorry about the typo - I meant to say THEIR best guess.    Also I should mention the engineer created a test lab environment of a on prem server to 365 and found the same problem.   His guess is they never finished developing the feature.

[2019-11-15 17:04] adefowler commented on #703
@markgort86 - The roadmap is still the best way.

[2019-11-15 17:04] #703 closed

[2019-11-17 13:44] #824 closed

[2019-11-17 14:17] #784 closed

[2019-11-19 10:17] msbemba commented on #809
@obviousbadger Thank you for your feedback. To add a Custom domain all you need is a tenant with any  office365 license. There is no requirement to have an office365 Business premium License. It works with even the basic exchange online plan 1.

Hope this Helps!

Thanks
Sri

[2019-11-19 11:21] msbemba commented on #818
@bmcdade00 Thank you for your feedback. We have made few changes to the doc reflecting your suggestion. This can be tracked via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/831

Thanks
Sri

[2019-11-19 11:25] msbemba commented on #821
@Retne Thank you for your feedback. Are you looking for Powershell cmdlets to add an email alias to the user?

Thanks
Sri

[2019-11-19 11:30] msbemba commented on #827
@MidSpeck  Thank you for your feedback. You are correct, There are more than one role which you could use to add an alias. I have made the change to the doc via PR # https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/832

Thanks
Sri

[2019-11-19 11:30] Retne commented on #821
Hi msbemba. I was, but have now found what I was after, thank you. I am also not sure if my original comment makes as much sense out of context, so I'll edit it a bit to help there.

[2019-11-19 11:47] msbemba commented on #826
@Canis-Lupis  Thank you for your feedback. We have added the missing information on the doc via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/833

Thanks
Sri

[2019-11-19 11:52] msbemba commented on #828
@tomka75  Thank you for your feedback. I have added Microsoft Stream to this list via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/835

Thanks
Sri

[2019-11-19 12:11] obviousbadger commented on #809
You need any office 365 licence that includes *exchange*. Others come with
email and you can add your own domain but you can not use that domain for
email unless you have exchange. Which means choosing the premium license.

Coming from Gapps I just assumed that since I have email and I am able to
add a personal domain that I would be able to link the two things.

So I feel the documentation should

[2019-11-19 13:26] msbemba commented on #809
@obviousbadger  I have added a note to explain this in the doc and the same can be tracked via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/836

Thank you for the feedback.

Thanks
Sri

[2019-11-19 21:23] rbahne opened #837 "Powershell compatibility AzureADPreview + GCC High"
The instructions here seem to work like a charm in a commercial tenant, but I am not sure if there is an incompatibility with GCC High clients...

https://docs.microsoft.com/en-us/office365/admin/create-groups/manage-creation-of-groups?view=o365-worldwide#step-3-run-powershell-commands

When run in GCC High we are getting a token error any light you can shed would be greatly appreciated.

Ryan

[2019-11-21 09:15] ulasalasreenath opened #838 "Is there any way I can read shared mail box programmatically in java?"
Hi, is there any way I can read emails from shared mailbox programmatically with java programming language?

[2019-11-21 11:44] msbemba commented on #825
@boe1 Thank you for the feedback. The upgrade option is only available if the group was created directly in exchange online. The upgrade option lets the user upgrade the group from a DL to an O365 group (Which can be used for teams/streams planner etc).

Hope this helps!

Thanks
Sri

[2019-11-21 13:08] msbemba commented on #817
@lightupdifire Thank you for your feedback. While this document pertains to Office 365 Reports in the admin center - SharePoint activity we will not be able to add steps to get reports or collection information via Powershell. However, You can use the Office 365 Auditing Report Tool  from https://gallery.technet.microsoft.com/office/Office-365-Auditing-Tool-01747cd4 which can provide over 300 repo

[2019-11-21 15:04] mypil commented on #837
@rbahne  - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

If you

[2019-11-21 15:04] mypil commented on #838
@ulasalasreenath - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-11-21 18:00] cmcatee-MSFT commented on #820
@omairkhan Would you please send me the following information directly in email (do not post this information here):

1. Country and Number being called:
2. Country and City of person calling to test:
3. Number tester is calling from:
4. Landline or Mobile Phone?
5. What Carrier does this number belong to?
6. Date and time of test call:
7. Exact details of errors or experience when calling:

My em

[2019-11-22 08:13] #837 closed

[2019-11-23 03:50] ulasalasreenath commented on #838
Hi @mypil, It's not an issue. I was going through shared mailbox details like what is shared mailbox etc, at https://docs.microsoft.com/en-us/office365/admin/email/create-a-shared-mailbox?view=o365-worldwide

In our organization, we are using shared mailbox. We would like to know is there any way I can access the mails from shared mailbox programmatically in java.

I have been searching for soluti

[2019-11-25 14:41] Cheekynandos456 opened #840 "Isn't auto renew public preview only?"
I believe auto renew is currently on public preview? The wording above seems to state its already available to all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4773fc-df89-4d7c-6819-9ed94c66e1a3
* Version Independent ID: 9a0ce458-fd6b-5f12-0b6e-98f9b38ad13c
* Content: [Office 365 Group Expiration Policy](https://d

[2019-11-25 15:57] danprill commented on #840
It is now generally available:  https://techcommunity.microsoft.com/t5/Office-365-Blog/User-Activity-based-Expiration-Policy-for-Office-365-groups-is/ba-p/942877

[2019-11-25 16:31] RafaelGtze opened #841 "Block / Unblock User Option for Help Desk Admins"
Hello,
I need my help desk to be able to block /unblock users in the O365 admin center, however, this option is not available in the help desk role. They need to have this option as part of their day to day activities but I don't want them to user admin role as that is too much access.

Either adding block / unblock users to the help desk role or create a new role would be great help.

Thank you,

[2019-11-26 00:14] sietec opened #842 "File size limit way too small and inaccurate"
This page says the limit for uploading a logo is 15kb, when it is actually 10kb.  Why such a small limit?  I could understand 100kb or (maybe) even 25-50kb.  But 10!?  It is nearly impossible to get a decent looking image that is 200x30px into 10kb.  Think about it... ignoring compression for now, if we were talking about a 256 COLOR (8 bit == 1 byte) image , that is an uncompressed size of 6000 b

[2019-11-26 08:38] mypil commented on #841
@RafaelGtze - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-11-26 09:00] JonesMikael opened #843 "When will the new version be out?"
<delete>

[2019-11-26 09:01] #843 closed

[2019-11-26 09:02] JonesMikael opened #844 "New version available when?"
Announced at Microsoft Ignite 2019, there will be a new version of this coming. You can also see in this page was edited a few days ago by @Sirkkuw, a new screenshot of it is shown (Executive Summary screenshot). When will it be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f1b4f-6101-2741-32d9-77df46602

[2019-11-26 09:57] mypil commented on #838
@ulasalasreenath - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resoluti

[2019-11-26 09:57] #838 closed

[2019-11-26 10:00] mypil commented on #817
@lightupdifire - From our understanding, the issue you raised has been answered by msbemba. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-26 10:00] #817 closed

[2019-11-26 10:05] mypil commented on #821
@Retne - Is your issue already resolved? Or Is there anything in particular within this doc that you suggest to be added or edited? If there is, please assist to provide more details.

Thank you.

[2019-11-26 10:06] mypil commented on #825
@boe1  - From our understanding, the issue you raised has been answered by msbemba. If you feel it hasn't been answered, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-26 10:06] #825 closed

[2019-11-26 10:09] mypil commented on #828
@tomka75 - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/8f68e309fe91d3e0c10abae253e24ea3471e29a6. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-26 10:09] #828 closed

[2019-11-26 10:14] mypil commented on #842
@sietec - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Office 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a similar request that you can add

[2019-11-26 10:14] #842 closed

[2019-11-26 13:13] RafaelGtze commented on #841
Hi Mypil, I used this as reference:
https://docs.microsoft.com/en-us/office365/admin/add-users/about-admin-roles?view=o365-worldwide

This is the text that indicates what the help desk role can do:

Helpdesk admin | Assign the Helpdesk admin role to users who need to do the following:- Reset passwords- Force users to sign out- Manage service requests- Monitor service healthNote: The Helpdesk admin

[2019-11-26 13:46] abigailaller opened #845 "Group Type empty when using GET command via MSGraph API"
I am trying to access group data from Azure via MSGraph using the GET command. Everything works fine, except the "groupTypes" is always empty in the json data that I get from the GET command. I can see the group type in Azure AD, so I know it exists. Any thoughts as to why it doesn't show up when I fetch the data via the API? This happens for all groups who are Distribution/Security/Mail-enabled-s

[2019-11-26 13:48] #845 closed

[2019-11-27 07:40] deepikatyagi opened #847 "Global reader is not able to access SharePoint"
when we assign a global reader role, sharepoint admin center is not visible in the o365 admin center. In another document at this url: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles; it says the same. Could you clarify?

"
Global reader role has a few limitations right now -

    SharePoint admin center - SharePoint admin center does not sup

[2019-11-27 08:10] mrqasimali commented on #820
This number is not working, very poor telephonic support for commercial products at all. I tried various ways to handle my issue but nothing is working. I am also trying to +92(21)35839934 and used this email id mspkinfo@microsoft.com but their are no response at all.

[2019-11-27 12:24] Retne commented on #821
Hi mypil. I did resolve my issue via, I _think_, another MS Docs page. So personally, I have what I need.

The suggestion I would make is to add a link in the See Also section that links to the documentation that shows users how to do this same thing via a command line, as opposed to the UI. It may not matter - I may the only one to come here via a general Internet search. But if I'm not the only

[2019-11-27 12:31] Retne commented on #821
Okay, so I've had a quick look and think I used a few sources to find that info I needed, but this page is the key command:
https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/set-mailbox?view=exchange-ps
It doesn't have an example for an alias - perhaps that page itself could be altered with example 7 that covers the command: Set-Mailbox "mainEmailAddress" -EmailAddresses @{add=

[2019-11-27 13:43] Canis-Lupis commented on #826
Thanks, guys.

[2019-11-27 15:15] reklov79 opened #848 "Unclear who gets permission to what"
This document, especially "Send email from another user's mailbox" as well as the admin itself is unclear on who gets permission to what. Does the account where you "add permission" give permission to the user added, or do you add mailboxes that user has permission to to that account?

Also in the admin itself it should be clearly statet what happens. Which account gives permission to which one?

[2019-11-27 15:49] msbemba commented on #821
@Retne I agree with you. I have added an example to the doc which has this covered. This can be tracked via PR # https://github.com/MicrosoftDocs/office-docs-powershell/pull/4470

Thanks
Sri

[2019-11-27 16:43] tmires commented on #848
This video should help clarify things. I just had this question myself.

https://www.youtube.com/watch?v=f4QSZiZiG-E

[2019-11-28 16:45] sietec commented on #842
Thank you for the response, it is nice that Microsoft is actively monitoring customer feedback. I went ahead and did submit a request on user voice, one already existed so I just upvoted that one.

[2019-11-29 12:05] sijojlouis opened #849 "The given brand color, changes to a different shade after applying the branding colors."
I really like the idea of able to customise the colors as per brand, but I do not understand what is the purpose of O365 changing the given branding color to another shade. As it is definitely doesn't look like the brand page anymore.

Please, do not have the color change once the brand colors are applied. It just doesn't make sense to apply it at all.

[2019-11-30 10:10] mypil commented on #818
@bmcdade00 - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/f6ae52fcaf66097a87818c59302f02c96c5a4fdf. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-11-30 10:10] #818 closed

[2019-11-30 18:03] jamietshaw opened #850 "Why does this page only apply to Office "for business""
What about the personal version? There is nothing on the whole web page that suggests that I'm only in some business section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0721ffec-3115-1479-a73f-e74706d41410
* Version Independent ID: d34d5bdf-4380-e2e0-fa47-10057f7ef0ea
* Content: [What happens to my data and access

[2019-12-01 22:11] artekartian opened #851 "Need to add the differentiation of cancelling the renewal and cancelling the subscription"
The first sentence on this page is misleading: “If your subscription ends—either because it expires, or because you decide to CANCEL […] go through multiple states before the subscription is fully turned off, or deprovisioned.” If you CANCEL SUBSCRIPTION users will lose access immediately. It’s not enough to mention at the end of this page that one phase will be skipped if I cancel! The key issue

[2019-12-02 22:52] cmcatee-MSFT commented on #820
@mrqasimali Please send me the following information directly in email (do not post this information here):

1. Country and Number being called:
2. Country and City of person calling to test:
3. Number tester is calling from:
4. Landline or Mobile Phone?
5. What Carrier does this number belong to?
6. Date and time of test call:
7. Exact details of errors or experience when calling:

My email addre

[2019-12-03 05:59] mypil commented on #841
@RafaelGtze - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback [[and feature requests]] on how to make Office 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a similar request that you

[2019-12-03 05:59] #841 closed

[2019-12-03 09:04] jstpldev opened #852 "Available add-ons"
Can the list of mentioned add-ons, be bifurcated by traditional and standalone add-ons for better understanding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e643065c-fe65-e305-2c30-320b288109dc
* Version Independent ID: 413360ab-9ffb-97e2-3dd2-0e2d48f9fafa
* Content: [Buy or edit an add-on for Office 365 for busines

[2019-12-03 20:16] mypil commented on #849
@sijojlouis - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-12-03 20:20] mypil commented on #844
@Sirkkuw - Can you please share your insights on this issue?

Thank you.

[2019-12-04 05:42] mypil commented on #821
@Retne - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/office-docs-powershell/commit/8ba01b361a0c49a3db84cbbd6045fc72af3e00bb.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-04 05:42] #821 closed

[2019-12-04 08:12] mypil commented on #820
@omairkhan @mrqasimali - We will close this issue now. If your phone issue is not resolved, please send an email directly to **cmcatee@microsoft.com** with the required details that he is asking for.

 Thank you.

[2019-12-04 08:12] #820 closed

[2019-12-04 10:59] jstpldev commented on #852
We dont see any document to bifurcate Add-ons by traditional and standalone for better understanding. This is impacting our development as we need to understand this concept.

[2019-12-04 11:00] jstpldev commented on #852
@mypil Can you provide us contact person details for our question to bifurcate Add-ons by traditional and standalone for better understanding. This is impacting our development as we need to understand this concept.

[2019-12-04 18:40] Sirkkuw commented on #844
@mypil - I have reached out to the product team and will answer once I hear from them on the release cadence.

[2019-12-04 20:35] RascoPK opened #853 "Unable to see Microsoft 365 Usage Executive Summary"
I was hoping that after importing template file, one of the tabs will have a look as its presented in documentation.
Its not and I am not able to find this "Microsoft 365 Usage Executive Summary" tab.

Where is it located or where can I download template with that tab?

[2019-12-04 21:50] mypil commented on #826
@Canis-Lupis - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/cb9128a52d87781ef8e6f6ec70faa71284b3170d.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-04 21:50] #826 closed

[2019-12-05 01:52] mypil commented on #853
@RascoPK - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-12-05 02:41] mypil commented on #827
@MidSpeck  - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/18b2b3432fbf1c65320977256db8ab7f62f6cdec but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much ap

[2019-12-05 02:41] #827 closed

[2019-12-05 16:56] cragazzo opened #854 "Admins unable to create group"
I following the ps1 to create a security group to stop end users from creating groups to prevent such mess. Even though I have added certain users in that security group, those users are unable to create groups. Further, Administrators are not permitted to create groups either. Any thoughts?

This is the article / script I followed (which was successful): https://docs.microsoft.com/en-us/office365

[2019-12-05 19:45] Sirkkuw commented on #844
@JonesMikael  - you can get the downloadable here:
 https://download.microsoft.com/download/7/8/2/782ba8a7-8d89-4958-a315-dab04c3b620c/Microsoft%20365%20Usage%20Analytics.pbit

I will also update this doc https://docs.microsoft.com/office365/admin/usage-analytics/usage-analytics with the proper download link.

[2019-12-05 19:45] #844 closed

[2019-12-06 09:50] RascoPK commented on #853
https://docs.microsoft.com/en-us/office365/admin/usage-analytics/usage-analytics?view=o365-worldwide

In that link its possibel to download PowerBi Template. I was expecting Executive Summary in that template but it's not there.

[2019-12-06 09:50] RascoPK commented on #853
https://download.microsoft.com/download/7/8/2/782ba8a7-8d89-4958-a315-dab04c3b620c/Microsoft%20365%20Usage%20Analytics.pbit

[2019-12-06 14:18] mypil commented on #809
@obviousbadger - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/6718e736bdd1d63f409107f49cdc64d3de25784e.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-06 14:18] #809 closed

[2019-12-06 14:59] mypil commented on #849
@sijojlouis - We appreciate any feedback that improves the content in the Microsoft docs but we haven't received any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2019-12-06 14:59] #849 closed

[2019-12-06 16:07] treestryder opened #855 "The link found in Step 1 of "Team members can store their own files in OneDrive""
The link found in Step 1 of "Team members can store their own files in OneDrive" points to a location which only administrators have access to. Should it instead point to https://portal.office.com/ ?

https://docs.microsoft.com/en-us/office365/admin/setup/set-up-file-storage-and-sharing?view=o365-worldwide#team-members-can-store-their-own-files-in-onedrive

---
#### Document Details

⚠ *Do not edi

[2019-12-06 16:36] jcrowland opened #856 "Cannot find"
The header of this article states:  "You can also see the version information of Outlook apps that users are using, which will allow you to follow up with those who are using unsupported versions [...]"

Reviewing the document, I can find the report that shows the total for users using Office 2010 or 2013, but there is no way to find who the users are.  If there is a way, the documentation doesn't

[2019-12-06 18:27] scottsa-msft opened #857 "quarantine administrator is not listed in the article"
quarantine admin is not listed nor is the details on what it allows when granted.

[2019-12-06 18:28] scottsa-msft opened #858 "quarantine administrator role is not listed"
quarantine admin role is missing as well as what it gives access to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4e45a4-3d00-c650-c40f-3a10b457cf46
* Version Independent ID: fefa373f-f380-8988-e58a-73e9255134bb
* Content: [About admin roles in the Microsoft 365 admin center](https://docs.microsoft.com/en-us/office

[2019-12-06 18:29] scottsa-msft commented on #858
This role is listed in the security and compliance center

[2019-12-06 23:46] luken opened #860 "Which admin permissions"
It'd be really nice to have these pages report which admin permissions are needed in order to complete the tasks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96891122-3c0b-1335-35be-556b5681b0ca
* Version Independent ID: 7c567123-f4c0-497c-7d52-21f8bef66040
* Content: [Add or remove members from Office 365 groups](h

[2019-12-07 23:23] J-Fedor commented on #780
Well, the 'by-design' should still be able to function for all get-* commands since it is read operation.  I created a new role to handle doing the get-inboxrule so it can be manually added to the account as necessary

New-ManagementRole -Name "Read Inbox Rules" -Description "because of shortcomings with globalreader"  -EnabledCmdlets Get-InboxRule -Parent "Mail Recipients"

[2019-12-08 13:51] mypil commented on #857
@scottsa-msft - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-12-08 13:55] mypil commented on #853
@RascoPK - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

If you

[2019-12-08 13:56] mypil commented on #854
@cragazzo  - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

If yo

[2019-12-09 14:21] scottsa-msft commented on #857
This is the URL that is missing any reference to the new quarantine admin role
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#available-roles

Scott Sanders | Office 365 Service Delivery Manager
scottsa@microsoft.com<mailto:scottsa@microsoft.com> ' 678 629-5746 È 404 538-5105  7 O365 Support 1-800-936-3100
[cid:image001.png@01D5AE71.FDCF0CC0

[2019-12-09 16:27] adefowler commented on #780
@J-Fedor I forwarded your comment about the global reader role to the product group and they are investigating. Thank you!

[2019-12-09 17:47] curtand commented on #548
License compliance is not always enforced in Azure AD resource management actions. A person without the required license can still perform those actions, but it puts the organization out of compliance.

[2019-12-10 04:04] jantoney opened #862 "Step 1 needs a Step 1a added"
If this is a step-by-step process, then you actually need to click 'Add a group' button before selecting the Type

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2953d4-8abc-5e9c-e30d-43b059b57b9a
* Version Independent ID: 467981d4-20b5-8b70-2d42-d3e38b918281
* Content: [Manage who can create Office 365 Groups](https:

[2019-12-10 05:16] #853 closed

[2019-12-10 05:16] #854 closed

[2019-12-12 11:38] OzmeisterO opened #863 ""Make sign-in more secure" does not exist as an option"
When setting up MFA, "Make sign-in more secure" is not an option on my screen.  I'm therefore unable to follow these instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5b41-d7e49f6ef9b4
* Content: [Set up multi-factor authentica

[2019-12-12 13:39] MurtazK opened #864 "Support is not 24/7"
Technical Support Number is not 24/7 as mentioned.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d4e69c4-7a73-4860-8296-0f658c012bad
* Version Independent ID: 12f53517-e53d-e53e-a230-7bf8c2b758e9
* Content: [Support information for Singapore](https://docs.microsoft.com/en-us/Office365/Admin/supp

[2019-12-12 14:41] jnxxx opened #865 "Not only third-party apps and access to Office 365 information"
This settings appears not only to affect third-party apps to access their Office 365 information. It prevents users from consenting to any permission, even to own developed apps (hardly considered third party).

Please allow us to configure which permissions users can consent to themselves. Like basic login (User.Read) etc.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-12-12 17:22] dobby10 opened #867 "Error in the Template"
There is an error in the template, The Teams User number for the executive summary is filtering on the Teams Product from the "TenantProductActivity" table, where it should be using the "TenantProductUsage" table. I discovered this because the number was 3x the number of users in the whole company.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-12-13 03:56] ragupt opened #870 "looks like this can be done via GUI as well"
I had suggested couple of changes to this This can also be done through the new option that is available in Azure AD
Go to Portal.Azure.com.
Go to Azure Active directory.
Go to User settings.
Click on "Manage external collaboration settings".
under Collaboration restrictions" select Allow invitations only to the specified domains (most restrictive).
Enter the target domain names to be allowed.

--

[2019-12-13 03:57] ragupt commented on #870
This can also be done through the new option that is available in Azure AD
Go to Portal.Azure.com.
Go to Azure Active directory.
Go to User settings.
Click on "Manage external collaboration settings".
under Collaboration restrictions" select Allow invitations only to the specified domains (most restrictive).
Enter the target domain names to be allowed.
![70410742-15a7c100-1a76-11ea-918a-2d6269c498

[2019-12-13 05:43] v-hakob opened #871 "Notifications mailed to "Technical contact" in AAD and the primary email address registered in O365 admin center."
One of our largest customer uses both O365 and Azure, and they would like to make sure they get all the notifications for what they are using. According to this document, the Technical contact in AAD is the email address for the primary technical person who administers your Office 365 subscription. Do "Technical contact" in AAD and the primary email address registered in O365 admin center receive

[2019-12-13 13:54] nottalada opened #873 "Message provided doesn't reflect the reality of today's threats."
"Do not open these type of files from people you do not know because they might contain macros with malicious code." isn't good advice because these days, it's easy enough for malicious attachments to come from people you know.

It should read:
"Do not open these type of files unless you were expecting it because the file may contain malicious code and knowing the sender isn't a guarantee of safet

[2019-12-13 13:57] RobvanB opened #874 "Outdated"
Article is outdated. Many of the options here have moved or are renamed in the admin center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5b41-d7e49f6ef9b4
* Content: [Set up multi-factor authentication for Office 365 users](https://docs

[2019-12-14 01:08] mypil commented on #857
@scottsa-msft - Thank you for sharing the doc link. This repository is intended for feedback on docs specific to Office 365 ITPro topics and the link you shared is for the Azure repo.  Please submit your feedback and open a new issue by clicking on the Feedback section on the specific Microsoft doc (https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-r

[2019-12-14 01:08] #857 closed

[2019-12-14 04:24] mypil commented on #840
@Cheekynandos456 - From our understanding, the issue has been answered by danprill so we will close this issue.

Thank you for engaging with the community here for the docs.

[2019-12-14 04:24] #840 closed

[2019-12-15 00:20] mypil commented on #863
@OzmeisterO - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

If y

[2019-12-15 00:20] #863 closed

[2019-12-15 01:51] mypil commented on #864
@MurtazK - Thank you for submitting feedback.

To help investigate this issue, please send an email to **cmcatee@microsoft.com** and provide the below information directly in email (do not post this information here):

Country and Number being called:
Country and City of person calling to test:
Number tester is calling from:
Landline or Mobile Phone?
What Carrier does this number belong to?
Date a

[2019-12-15 01:51] #864 closed

[2019-12-15 19:13] Wang-W-e-i opened #875 "No Domains in Settings, Domains' Moved to Setup"
Instead of 'go to the Settings', Step 1.1 should read 'In the Microsoft 365 admin center, go to Setup'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27249e0c-e601-b849-8404-ce0bb8155fce
* Version Independent ID: a308f156-998b-8ea9-5668-7a59e549cd10
* Content: [Gather the information you need to create Office 365 DNS r

[2019-12-16 02:23] XixiHuang333 opened #876 "21Vianet EXO large message trace downlaoding issue"
Customer often cannot download large message trace. If size of trace is small downloading, then we are able to download it. However, there is no preview of query in portal. Can we compose and publish any official docs guide customer how to download message trace in EAC portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-12-16 15:17] mypil commented on #867
@dobby10 - Can you please share what specific issue you have with this doc? Or are you having some technical issues which requires technical support?

If you have some issues with this doc, we would really appreciate if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2019-12-16 17:26] msbemba commented on #860
@luken  Thank you for your feedback. We have added details about the admin roles required to make these changes Via PR # https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/877

Thanks
Sri

[2019-12-16 17:31] msbemba commented on #862
@jantoney Thank you for your feedback. We have added the extra step to the document via PR # https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/878

Thanks
Sri

[2019-12-16 17:46] msbemba commented on #858
@scottsa-msft Thank you for your feedback. The quarantine role is not available on the Microsoft 365 admin center yet. So I have update the doc for Security and Compliance center roles via PR # https://github.com/MicrosoftDocs/microsoft-365-docs/pull/942

[2019-12-16 18:01] msbemba commented on #850
@jamietshaw  Thank you for your feedback. While the table details remain the same For Paid Home, Personal,  and Business subscriptions. This document pertains only to Paid Office 365 Business subscriptions and thus no information about the Home or personal version.

I understand that this page doesn't suggest that you are in the business section, however from the overview you can see these documen

[2019-12-16 18:04] msbemba commented on #855
@treestryder Thank you for your feedback. We have made the change in document via PR #879

Thanks
Sri

[2019-12-16 18:09] msbemba commented on #856
@jcrowland Thank you for your feedback. You may not be able to see the username section unless you add it. You can do that using the steps provided in Step8 https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/879

Hope this helps!

Thanks
Sri

[2019-12-17 11:27] rdupplaw commented on #790
This still doesn't make much sense. Why, if I disable password expiration for a user, would their password then expire following the 6 months policy? What is the point of disabling password expiration if the password still expires?

[2019-12-17 18:21] born-slippy opened #881 "Link broken"
Troubleshoot: User not seeing add-ins
https://docs.microsoft.com/office365/troubleshoot/troubleshooting/user-not-seeing-add-ins

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081d424b-6f62-e70c-9c2d-ad779ffa6c3b
* Version Independent ID: e4597136-bfe8-4230-da83-f806a1126005
* Content: [Manage deployment of Office 365 a

[2019-12-17 18:39] saigrsundaram opened #882 "Executive summary dashboard image above is outdated"
The current version of "Microsoft Office365 usage analytics" app dashboard layout is different than the dashboard above. Request you to update the image

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f1b4f-6101-2741-32d9-77df46602591
* Version Independent ID: 64c576f5-200a-a702-7662-d66892596c7f
* Content: [Microsof

[2019-12-17 21:22] mscaitlina opened #883 "Link broken: Settings > Services & add-ins page"
Deploy an Office add-in using the admin center
...
In the admin center, go to the Settings > Services & add-ins page.

Link: https://go.microsoft.com/fwlink/p/?linkid=2053743

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081d424b-6f62-e70c-9c2d-ad779ffa6c3b
* Version Independent ID: e4597136-bfe8-4230-da83-f806a112600

[2019-12-18 20:18] esther-tan-IT opened #884 "Microsoft 365 Usage Analytics App cannot be created"
I tried to follow the 'Initiate the content pack' steps on this page: https://docs.microsoft.com/en-US/office365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide.

On step 3, after clicking 'Get in now', it displays a "Please hold on while we load a few things..." message, and continues spinning.

[2019-12-18 20:52] cragazzo commented on #854
Update:  I ran the script as documented, which generated the security group. Despite having a member in that security group, they were unable to create a new teams group. I re-ran the script with the <> so line 2 now looks like $GroupName = "AllowGroupCreation". Now any member in this group can create a new teams group. Although global admins still are not able to, I can easily add as members in t

[2019-12-19 03:23] mypil commented on #867
@dobby10 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't received any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2019-12-19 03:23] #867 closed

[2019-12-19 07:20] XixiHuang333 commented on #876
hi Team,
Any update on this?

[2019-12-19 07:32] XixiHuang333 commented on #876
Our Gallatin customers mentioned they rely on email trace report a lot for email platform/audit operation. They feel very inconvenient for trace downloading because most of time they encountered error when downloading trace. They also feel it is troublesome and difficult for them to filter less information many time to reduce size of trace to less than limitation size as there is no preview size i

[2019-12-20 00:14] MaratMussabekov commented on #848
Hello @reklov79 ,
on the step 2 you are choosing the mailbox which you are going to send as.
on step 5 you are choosing user WHO will have the permission

[2019-12-20 14:38] leonid17242 opened #887 "Problem with Downloading Office 2013 Language Packs (Italian)"
Hello everyone !

When i'm trying to download the Office 2013 Language Packs (Italian), the downloading run and all it's good i follow the instructions and it's finish.

but when i'm going to per example Outlook or World in the settings -> Options -> Choose Editing Languages, the Italian Editing Language are Enabled but Not Installed while i have installed this now 5 times with different package a

[2019-12-20 17:41] mypil commented on #887
@leonid17242 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2019-12-20 19:37] mypil commented on #884
@esther-tan-IT - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution

[2019-12-20 19:37] #884 closed

[2019-12-20 20:59] mypil commented on #852
@cmcatee-MSFT - Can you please share your insights on this issue?

Thank you.

cc: @kenwith

[2019-12-22 17:08] joinimran commented on #851
@artekartian Thank you for your feedback. Can you please share in detail what should be added so that I can see and help to make document to reflect the accurate information.

[2019-12-23 09:06] leonid17242 commented on #887
https://support.office.com/fr-fr/article/module-linguistique-language-accessory-pack-pour-office-82ee1236-0f9a-45ee-9c72-05b026ee809f#ID0EAADAAA=Office%C2%A02013

[2019-12-23 09:51] msbemba commented on #871
@v-hakob Thank you for the feedback. The technical contact in AAD receives the service health status and not the address registered during the o365 setup. Meanwhile, If this is specific to Service status or health, we have a new feature which is going to be rolled out shortly and you can add multiple addresses for service health notifications- https://www.microsoft.com/en-gb/microsoft-365/roadmap?

[2019-12-23 09:55] msbemba commented on #873
@nottalada Thank you for your feedback. I have made changes to the doc to reflect your concern. THis can be tracked via PR # https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/889

Thank you for making our docs better.

Thanks
Sri

[2019-12-23 10:25] msbemba commented on #874
@RobvanB Thank you for your feedback. We have made changes to the doc via PR#https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/890 to reflect the correct steps.

Thanks
Sri

[2019-12-23 10:29] msbemba commented on #875
@Wang-W-e-i Thank you for the feedback. We have made changes to the doc via PR#https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/891

Thanks
Sri

[2019-12-23 11:16] msbemba commented on #870
@ragupt Thank you for your feedback. We have added a section for this named Allow or block guest access based on their domain and a link is posted within this section which talks about the new option that is available in Azure AD

https://docs.microsoft.com/en-us/azure/active-directory/b2b/allow-deny-list

Thanks again for making our docs look better.

Thanks
Sri

[2019-12-23 17:45] towernick opened #892 "Generate and send reports"
Hello,

I am wondering if it's currently possible to have these reports sent to an email address automatically at a set date?

I am the administrator over multiple O365 accounts, and would like to find out if there's a way to have info the client requested sent to me to avoid having to sign into multiple O365 accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-12-24 03:38] mypil commented on #860
@luken - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/bccbad7d7c41ccc528018568019997b03632eac4.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-24 03:38] #860 closed

[2019-12-24 03:39] mypil commented on #862
@jantoney - From our understanding, the issue has been resolved based on this merged commit
https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/3a9df79a42d178fa0be531eeeb58a5bd5f4188fd.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-24 03:39] #862 closed

[2019-12-24 03:43] mypil commented on #850
@jamietshaw - From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-24 03:43] #850 closed

[2019-12-24 17:58] mypil commented on #887
@leonid17242 - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

[2019-12-24 17:58] #887 closed

[2019-12-25 19:31] mypil commented on #865
@jnxxx - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Office 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a similar request that you can add t

[2019-12-25 19:31] #865 closed

[2019-12-26 02:35] YujiImaoka opened #894 "Remove [Microsoft Dynamics 365 for Operations]"
Could you please remove [Microsoft Dynamics 365 for Operations] from Available self-service programs?
Because the link for [Website for self-service sign up] does not work.
https://www.microsoft.com/ja-jp/dynamics365/operations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f27380ae-e2d6-7d32-b573-5c9a08592164
* Versio

[2019-12-26 23:21] mypil commented on #871
@v-hakob - From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-26 23:21] #871 closed

[2019-12-26 23:31] mypil commented on #856
@jcrowland  - From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-26 23:31] #856 closed

[2019-12-26 23:41] mypil commented on #892
@towernick - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

I

[2019-12-26 23:41] #892 closed

[2019-12-26 23:50] mypil commented on #894
@YujiImaoka - Thank you for submitting feedback.

I just checked and confirmed that the link for the Website for self-service sign up for the Microsoft Dynamics 365 for Operations actually works. This is the source link - https://dynamics.microsoft.com/en-us/finance-and-operations-to-finance-and-scm/ and the Japanese version is this link - **https://dynamics.microsoft.com/ja-jp/finance-and-operati

[2019-12-26 23:50] #894 closed

[2019-12-27 00:02] YujiImaoka opened #895 "Please change [Website for self-service sign up] for Microsoft Dynamics 365 for Operations"
Please change [Website for self-service sign up] for Microsoft Dynamics 365 for Operations to
https://dynamics.microsoft.com/en-us/finance-and-operations-to-finance-and-scm/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f27380ae-e2d6-7d32-b573-5c9a08592164
* Version Independent ID: b17e2ed4-9b79-0fd3-efa9-e62f73dc5cb4

[2019-12-27 00:19] mypil commented on #870
@ragupt  - From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-27 00:19] #870 closed

[2019-12-27 02:04] mypil commented on #895
@YujiImaoka - This is related to the closed issue #894.

Are you having issues accessing the link within the doc for the  [Website for self-service sign up] for Microsoft Dynamics 365 for Operations? If yes, can you please share the error message or a screenshot of the error that you're getting? This will help us investigate if there's really a need to make changes on this doc.

As mentioned in th

[2019-12-27 02:42] YujiImaoka commented on #895
As I mention in other request, correct URL is
https://dynamics.microsoft.com/en-us/finance-and-operations-to-finance-and-scm/<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdynamics.microsoft.com%2Fen-us%2Ffinance-and-operations-to-finance-and-scm%2F&data=02%7C01%7Cyuji.imaoka%40microsoft.com%7C3e7ab1d42b4b400c14c608d78a604c01%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C6371300

[2019-12-27 17:37] mypil commented on #895
@YujiImaoka - Thank you for your response and for sharing the error message.

I created PR #896 to help fix the broken link issue and tagged the author to review/merge the PR.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-12-31 10:18] mosaiqrs opened #897 "Adding additional licences from other source"
Hello Team,

can you, please, help us to add an additional licence from the box? We are a small company and we bought 2 licences for 2 users directly on Microsoft.com. We bought another licence from a reseller (box with key). How to add this licence to existing domain and subscription? Is enough just to go to office.com/setupkey and activate it here? Does this will just increase the number of user

[2020-01-01 15:56] MaratMussabekov commented on #882
Dear @mypil, @Sirkkuw,
Could you please have a look, I created a Usage report in my tenant and I see following:
![image](https://user-images.githubusercontent.com/48041687/71643244-4a0f4580-2ce1-11ea-87ff-74df377e7076.png)
it seems that this article contains the description of sections of Microsoft 365 usage analytics that do not exist.
Does article need to be rewritten or am I doing something wro

[2020-01-02 15:09] xivizi opened #898 "Where do I get the O365 Nameservers info to update GoDaddy?"
In your "Change DNS management to Office 365" section and using the 'Setup my online services for me' option, everything works OK except that I don't get step 5 (we list the nameservers for O365 to update at your domain registrar).

At the top of the 'Update DNS Settings' page there are green ticks against: add a domain, verify domain, set up your online services but not on 'Update DNS settings' w

[2020-01-02 15:27] xivizi commented on #898
.... just to clarify, the email side is working perfectly.  It is just the domain / URLs part that I cannot set up.  Thank you

[2020-01-02 17:12] chrimorgNG commented on #721
That email address is kicking back a delivery failure notice. It’s saying “the group only accepts messages from people in its organization or on its allowed senders list.”

Please update the email or update the group settings so we can reach out to it

[2020-01-02 18:50] jjinatlanta opened #899 "How to determine if Group creation IS restricted to a group?"
This explains how to restrict the ability to create groups to members of a specific group.  How can we determine if this has already been configured? would we have to examine every group in our tenant for that "EnableGroupCreation" property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2953d4-8abc-5e9c-e30d-43b059b

[2020-01-02 22:13] mypil commented on #881
@born-slippy -  Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/d8d048beef834ffcc72de85c85c96efb9b9fcc70.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-02 22:13] #881 closed

[2020-01-02 22:22] mypil commented on #851
@artekartian - We would like to follow up. Can you please respond to the query of joinimran?

Thank you.

[2020-01-02 22:26] artekartian commented on #851
Thanks for reminder. I will be back to you tomorrow. Just holidays.

Pozdrawiam,
Sebastian
________________________________
From: Joyce Y. <notifications@github.com>
Sent: Thursday, January 2, 2020 11:22:31 PM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: Arte Kartian <s.pawlowski@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/

[2020-01-03 09:44] VLG17 commented on #876
@XixiHuang333 Have you tried running the Message Trace from the Security & Compliance Center instead of EAC?

https://techcommunity.microsoft.com/t5/exchange-team-blog/new-message-trace-in-office-365-security-038-compliance-center/ba-p/607893

Regarding the options that the customer wants, i recomment opening thread on [UserVoice for Office 365](https://office365.uservoice.com/forums/273493-office

[2020-01-03 13:26] artekartian commented on #851
Hi All,
I’m referring the first sentence in the docs article:
https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/what-if-my-subscription-expires?view=o365-worldwide

If your subscription ends—either because it expires, or because you decide to cancel—your access to Office 365 services, applications […]

This is misleading and customers expect a different behavior if they ca

[2020-01-03 15:27] bhoisuman opened #900 "Feature Request : Good to Have : Schedule Send Emails on Outlook Web"
It shall be a **great privacy preserving** feature to be able to **schedule send** emails on future date/time.

[2020-01-03 15:47] lmarianko opened #901 "Some Other Suggestions to Add to this article"
1) How unread marks work in shared mailboxes
2) Send as and send on behalf of permissions  (or links to these documents), using security groups in shared mailbox permissions
3) on-prem vs. online and cross prem permissioning (links to this perhaps)  https://docs.microsoft.com/en-us/exchange/collaboration-exo/shared-mailboxes
3) Can lock down access to it if you give permissions at the folder level

[2020-01-03 17:42] Jamie-StarFyre opened #902 "Templates Nowhere to be Found..."
We were anxiously awaiting this feature to arrive.  The announcement for this, in message MC188687, indicated that worldwide rollout would be complete by the end of November 2019.

Wondering...  To date, this feature is not available in our instance.  Has there been a delay in full implementation?  It's now 2020 and we still don't have the option for user templates in the Admin Center...

Is it ju

[2020-01-03 19:41] SteveColegrove opened #903 "AAD Security Groups"
Does a similar process exist for preventing regular users from creating Azure AD security groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2953d4-8abc-5e9c-e30d-43b059b57b9a
* Version Independent ID: 467981d4-20b5-8b70-2d42-d3e38b918281
* Content: [Manage who can create Office 365 Groups](https://docs.microsoft

[2020-01-03 23:18] mypil commented on #897
@mosaiqrs - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so w

[2020-01-03 23:18] #897 closed

[2020-01-03 23:31] mypil commented on #898
@xivizi - Thank you for submitting feedback.

This doc - [Create DNS records at GoDaddy for Office 365](https://docs.microsoft.com/office365/admin/dns/create-dns-records-at-godaddy?view=o365-worldwide), may help provide more information to help fix your issue.

In case you still encounter some technical problems, I would recommend that you open a **[service ticket](https://docs.microsoft.com/offic

[2020-01-03 23:31] #898 closed

[2020-01-03 23:48] mypil commented on #900
@bhoisuman - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature request on how to make Office 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a similar request that you can ad

[2020-01-03 23:48] #900 closed

[2020-01-04 20:09] martinagrom opened #904 "Groups admin"
The description that a groups admin can access:
"Assign the groups admin role to users who need to manage all groups settings across admin centers, including the Microsoft 365 Admin Center, Azure Active Directory portal, Teams admin center, and SharePoint admin center." is not correct as a user in that role can only access the Microsoft 365 admin center and the Azure admin center.

---
#### Docume

[2020-01-06 07:06] ondraandy opened #906 "Created group from MS Teams - rule doesn´t work"
Hi.
I have set rules and it works when I create group from OWA. But from MS Tems doesn´t work - domain for group is default in tenant. Have you any idea why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96002890-7e35-a0ab-a849-d94fef254fa8
* Version Independent ID: 2c4105db-b713-4829-393e-de355c5c60d4
* Content: [Cho

[2020-01-06 12:45] SteveColegrove commented on #899
run the PS stuff listed in the article but comment out the 3 lines listed below.  In the output, just look at GroupCreationAllowedGroupId and EnableGroupCreation

$GroupName = "<SecurityGroupName>"
$AllowGroupCreation = "False"
Set-AzureADDirectorySetting -Id $settingsObjectID -DirectorySetting $settingsCopy

[2020-01-06 15:22] abhitalks commented on #882
Yes. The executive summary section is not available. Also, the UI of the executive summary section is different than the rest of the reports?

[2020-01-06 16:54] adefowler commented on #721
@chrimorgNG - Can you try again? I've checked the settings on the distribution list and it allows external senders and the feedback dev says that they've gotten 2 delivered feedbacks this morning.

Thank you!

[2020-01-06 17:51] mypil commented on #873
@nottalada -From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/5e974e0e7a389ccafaa9af3c19a9b35463d9a0b2.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-06 17:51] #873 closed

[2020-01-06 17:51] mypil commented on #875
@Wang-W-e-i - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/b49ef27bbe2ce013dc90ce36cbfc42195453bbc3.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-06 17:51] #875 closed

[2020-01-06 19:26] cmcatee-MSFT commented on #895
@YujiImaoka - The link should be working correctly now.

[2020-01-06 19:26] #895 closed

[2020-01-06 20:37] mypil commented on #847
@deepikatyagi -  Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/d93bffadac9534ff000f161652edf7f82fb40d89.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-06 20:37] #847 closed

[2020-01-06 20:38] mypil commented on #848
@reklov79 -  Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/99f523cb5c2e1c2f95025a2582c47f008a083823.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-06 20:38] #848 closed

[2020-01-07 08:37] andrewflatt opened #907 "Incorrect"
The below doesn't exist anymore
----------------

Manage MFA settings
In the admin center, select Setup.

Next to Sign-in and security, under Make sign-in more secure, select View.

Under Make sign-in more secure, select Manage.

The Azure portal Conditional Access - Policies page will appear. To turn multi-factor authentication on or off:

Select Baseline policy: End user protection (Preview), an

[2020-01-07 09:44] bcollins999 opened #908 "Baseline policies are being depreciated"
As per "What's new in Azure Active Directory?", baseline policies are being depreciated. This should be mentioned in this article.
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#replacement-of-baseline-policies-with-security-defaults

[2020-01-07 09:45] AltCoyne opened #909 "Baseline policies are being depreciated"
As per "What's new in Azure Active Directory?", baseline policies are being depreciated. This should be mentioned in this article.
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#replacement-of-baseline-policies-with-security-defaults

[2020-01-07 09:46] #909 closed

[2020-01-07 10:01] b-col opened #910 "Baseline policies are being depreciated"
As per "What's new in Azure Active Directory?", baseline policies are being depreciated. This should be mentioned in this article.
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#replacement-of-baseline-policies-with-security-defaults

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed9586

[2020-01-07 10:02] #908 closed

[2020-01-07 17:04] adefowler commented on #721
Hi, @chrimorgNG - We figured out the issue. Within that distribution list is a nested distribution list that didn't have external senders enabled. So, we were getting your email, but the nested DL was sending the NDR. Sorry about that. We've fixed the issue.

[2020-01-08 07:28] jarrott616 opened #912 "Administrative Assistance Association"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a48cf8a-f5cb-ca05-c8ca-f9b29c458cf3
* Version Independent ID: d926f9d3-a659-f81c-af11-868094683733
* Content: [Switch to a different Office 365 for business plan](https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/switch-to-a-

[2020-01-08 23:33] mypil commented on #855
@treestryder - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/66f58b74c4990bc9ed05a61734a30730f174a8c6.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-08 23:33] #855 closed

[2020-01-09 09:32] msbemba commented on #858
@scottsa-msft Thank you for the feedback. We found that the role was exposed prematurely. You will see more in the documents once this is publically live for all tenants.

Hope this helps!

Thanks
Sri

[2020-01-09 12:29] VLG17 commented on #904
@martinagrom thank you for this valid feedback. I have created a PR with the changes.

[2020-01-09 15:09] mypil commented on #858
@scottsa-msft - From our understanding, the issue you raised has been answered by msbemba and please refer to this additional https://github.com/MicrosoftDocs/microsoft-365-docs/pull/942#issuecomment-566189249 from the author so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-09 15:09] #858 closed

[2020-01-09 15:13] mypil commented on #874
@RobvanB - Please refer to the author's https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/890#issuecomment-570688767 in response to this issue. We hope this helps to give clarity so will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-09 15:13] #874 closed

[2020-01-10 20:30] Absoblogginlutely opened #916 "What is the powershell command for turning off (or on) permissions for integrated apps?"
Would be nice to have the powershell equivalent of the gui documented for mass configuration of multiple tenants

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279bb5c8-222e-5ee9-dcd7-8c06bd4d3a3e
* Version Independent ID: 4b1d6664-91b3-8bd6-f26e-d46005891294
* Content: [Turning Integrated Apps on or off](https://docs.

[2020-01-10 23:50] mypil commented on #876
@XixiHuang333 -  Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-10 23:50] #876 closed

[2020-01-11 00:24] mypil commented on #899
@jjinatlanta - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by SteveColegrove so we will close this issue.

@SteveColegrove  - Thank you for sharing your insights to address this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-11 00:24] #899 closed

[2020-01-13 08:11] ragupt opened #918 "Set up multi-factor authentication"
below section is incorrect

Set up multi-factor authentication

In the admin center, select Setup.
Next to Sign-in and security, under Make sign-in more secure, select View.
On the Make sign-in more secure page, select Get started.
Select the Require multi-factor authentication and Require users to register for multi-factor authentication and block access if risk is detected check boxes.
Under Do

[2020-01-13 08:24] ragupt commented on #918
Below section is incorrect and doesn't exist : -

Set up multi-factor authentication

- In the admin center, select Setup.
- Next to Sign-in and security, under Make sign-in more secure, select View.
- On the Make sign-in more secure page, select Get started.
- Select the Require multi-factor authentication and Require users to register for multi-factor authentication and block access if risk is d

[2020-01-13 10:44] JamesHeathcote commented on #918
We have 10k users, on the MFA page for azure you can only select users in batches of 20, and there is no logical sort, we have all our invited customers in the list which results in over 10k individuals we have to go through. This is not scalable. As per ragupt's post, the section does not exist to "make sign-in more secure"

[2020-01-13 17:25] cmcatee-MSFT commented on #852
@jstpldev - We will pass this feature request back to the Partner Center team for consideration. Thanks.

[2020-01-13 17:26] #852 closed

[2020-01-14 00:53] ekamkar opened #919 "Typo"
There is a typo issue in the first sentence of the "Save you data" segment.
Lose access to your "dat" should be "data".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7fc1eb-7083-a9b0-b4aa-3eaa5e364fbc
* Version Independent ID: b27630b4-77e6-5493-b5b7-27dc6e143531
* Content: [Cancel your subscription](https://docs.mi

[2020-01-14 03:35] mypil commented on #919
@ekamkar - Thank you for pointing this out.

PR #920  has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-01-14 03:41] mypil commented on #906
@ondraandy - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  https://docs.microsoft.com/office365/admin/contact-support-for-business-products

If yo

[2020-01-14 03:41] #906 closed

[2020-01-14 03:48] mypil commented on #912
@jarrott616 - Thank you for submitting feedback.

Can you please share what specific issue you have with this doc? We would really appreciate it if you are able to help by providing more details as to what should be edited and/or included.

[2020-01-14 13:43] JohanssonMarkus commented on #882
Seems that Power BI on the Web and Desktop is using different templates. I did download and running on desktop version and looks better. Try this
https://download.microsoft.com/download/7/8/2/782ba8a7-8d89-4958-a315-dab04c3b620c/Microsoft%20365%20Usage%20Analytics.pbit

[2020-01-14 18:11] msbemba commented on #883
@mscaitlina Thank you for the feedback. The link is working now and you should be able to access the services and add-in page from the link mentioned in the doc.

Hope this helps!

Thanks
Sri

[2020-01-14 18:14] msbemba commented on #903
@SteveColegrove  Thank you for your feedback. Only global and user management administrators have permissions to create, edit, or delete Azure AD security groups; for more information about administrator roles, see Assigning Admin roles here(https://docs.microsoft.com/en-us/office365/admin/add-users/assign-admin-roles?view=o365-worldwide)

Hope this helps!

Thanks
Sri

[2020-01-14 19:06] #919 closed

[2020-01-14 19:16] cmcatee-MSFT commented on #901
@lmarianko Thank you for your suggestions. The content publishing team will consider them for future updates to this article. @Sirkkuw

[2020-01-14 19:16] #901 closed

[2020-01-14 19:19] cmcatee-MSFT commented on #851
@artekartian Thanks for your feedback. The article has been updated.

[2020-01-14 19:19] #851 closed

[2020-01-14 21:05] artekartian commented on #851
Thanks a lot! Nice to see the docs updated. 👍👍👍

Pozdrawiam,
Sebastian
________________________________
From: Cern McAtee <notifications@github.com>
Sent: Tuesday, January 14, 2020 8:19:55 PM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: Arte Kartian <s.pawlowski@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-O365ITP

[2020-01-15 09:46] sijojlouis commented on #849
Hi @mypil, sorry I missed sharing it earlier and for the late response.
I created the issue, because the feature wasn't working the way expected.

It was not due to an issue with the [MS doc](https://docs.microsoft.com/en-IN/office365/admin/setup/customize-your-organization-theme?WT.mc_id=365AdminCSH&view=o365-worldwide) but more on the feature on working in the [MS app](https://admin.microsoft.co

[2020-01-15 13:06] msbemba commented on #907
@andrewflatt Thank you for your feedback. As per the Author, this is how the new settings will be looking like and there are chances that some tenants are still seeing it the old way.

https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/890#issuecomment-570688767

Hope this helps!

Thanks
Sri

[2020-01-15 13:10] msbemba commented on #910
@b-col Thank you for your feedback. We have added a note in the doc via PR # https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/923

Thanks
Sri

[2020-01-15 13:12] msbemba commented on #918
@ragupt  and @JamesHeathcote  Thank you for your feedback. As per the Author, this is how the new settings will be looking like and there are chances that some tenants are still seeing it the old way.

https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/890#issuecomment-570688767

Hope this helps!

Thanks
Sri

[2020-01-15 14:00] Kreism opened #924 "Is the link to Microsoft 365 Usage Analytics.pbit still actual"
We have problems with the actual Microsoft 365 Usage Analytics.pbit file, loading the TenantOfficeLiceses, we always getting the error "the access to the resource is forbidden"
Could you please check if the file is working fine?
Thanks
Martin
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f1b4f-6101-2741-32d9-77df466

[2020-01-16 08:02] ragupt commented on #918
@msbemba  - Thanks for your message may I know where has this been role out as it is documented at this moment? I purchased 2 new American tenants yesterday and didn't see new behavior as mentioned .. comments please

[2020-01-16 15:05] MaratMussabekov commented on #882
yes, but even in desktop version it looks much differ, not as it is described in the article.

[2020-01-16 18:26] ryanhelmer opened #925 "How would one *force* Focused Inbox off for an account?"
For example, we have shared accounts like conference rooms that must be kept consistent. How would we turn it off and prevent it from being enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83abc4f6-2d5b-1187-eda8-6cf841fe420a
* Version Independent ID: 5df31a0f-5128-140d-2c13-ca9eb0b59b0a
* Content: [Configure Fo

[2020-01-16 22:13] sth2258 opened #927 "Outdated"
This information is extremely outdated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 784a196f-3e0e-0c0a-0b2f-af2105a774d9
* Version Independent ID: 08300f82-3b1d-b96d-bf10-e401ac6ef2c0
* Content: [Allow members to send as or send on behalf of a Group](https://docs.microsoft.com/en-us/office365/admin/create-groups/allo

[2020-01-17 12:55] Bogdan-Paun opened #928 "The "Tip" is misinforming the users"
The default password policy for newly created accounts is for the passwords to expire at 90 days with a 14 day notification period.
tested just a few minutes ago by creating a new tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77ae0f7d-90b6-8647-8ea5-0a3b15cd1d53
* Version Independent ID: b8c089e1-689e-96a3-f67

[2020-01-17 20:40] Sirkkuw commented on #882
Where are you located @MaratMussabekov  ? In the FAQ section there is a link to the pbit file you can download. That was just updated to the new file, and the topic itself was updated with the new look just recently.

[2020-01-17 20:41] Sirkkuw commented on #882
However, I will follow up with the product team to make sure I have included the appropriate figure.

[2020-01-18 16:00] MaratMussabekov commented on #882
Hello @Sirkkuw ,
**In the FAQ section there is a link to the pbit file you can download** - yes, I tried this file, but still dashboard is not the same as in the article.
Thank you

[2020-01-18 16:52] mypil commented on #924
@Kreism - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

If y

[2020-01-18 16:52] #924 closed

[2020-01-18 16:52] mypil commented on #925
@ryanhelmer - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome, let me know if it is something that can be called out in the docs.

Please follow this link to contact support for business products:  **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

[2020-01-18 16:52] #925 closed

[2020-01-20 05:55] lewatson opened #929 "Section: Add the six CNAME records that are required for Office 365"
As of 2020-01-19,

a) The instructions indicate there are 6 CNAME records required for Office 365 and only 5 are listed: autodiscover, sip, lyncdiscover, enterpriseregistration, and enterpriseenrollment. What is the sixth CNAME record?

b) For step "5) Select the DNS Traffic icon (orange cloud) to bypass the Cloudflare servers" the desired outcome is unclear. Should the cloud be orange (on) or gre

[2020-01-20 06:09] lewatson opened #930 "Section: Add an MX record so email for your domain will come to Office 365"
As of 2020-01-19, the MX record values shown on the MX tab on the "Verify your domain" page in my account are different than indicated here:

Points to: msXXXXXXXX.msv1.invalid instead of &lt;domain-key&gt; .mail.protection.outlook.com indicated in the instructions above
Priority: 32767 instead of 1 indicated in the instructions above
TTL: 3600 instead of 30 minutes indicated in the instructions a

[2020-01-20 09:33] ShawnTeng commented on #483
Hi Team, how can we receive another transferred domain from other registrar? We have got an Auth-info code, but we cannot find where to receive.

[2020-01-20 09:34] OfficeGlobal opened #931 "[LOC] Broken link in several articles"
Hello, we found 1 broken link in several articles, could you please check it and update or remove from the articles?

**Broken link:** https://support.office.com/article/a8178510-501d-4bd8-9921-b04f2e9517a5.aspx
**Link Text:** Use a public website with Office 365

**Affected articles:**
 - create-dns-records-at-1-1-internet.md
 - create-dns-records-at-123-reg-co-uk.md
 - create-dns-records-at-aws.

[2020-01-20 14:07] mypil commented on #912
@jarrott616 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page.

Thank you.

[2020-01-20 14:07] #912 closed

[2020-01-20 17:19] peterwake opened #932 "Manage security defaults section - set Yes or No"
I think you are missing a step in these docs
Point 3 says On the bottom of the page, choose Manage Security defaults.
But then.. a screen pops up .. do you want to turn this to Yes or No ?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5

[2020-01-21 03:10] mypil commented on #931
@OfficeGlobal - Thank you for pointing this out.

PR #933 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-01-21 08:56] OfficeGlobal opened #935 "[LOC] Type in an article"
Hello there is a typo in an article.

**Repro steps:**
1. Go to https://docs.microsoft.com/en-us/office365/admin/security-and-compliance/set-up-multi-factor-authentication?view=o365-worldwide
2. Search for "conditonal"

**Actual results:**
conditional is writen as conditonal
**Expected results:**
conditonal should be changed to conditional

**GH article:**
https://github.com/MicrosoftDocs/OfficeDo

[2020-01-21 17:29] milkyway1 opened #936 "stolen vewiws"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db5aea7-bb2e-f349-7518-fc4fd396b3da
* Version Independent ID: b4112301-d38e-4a77-847b-f41bd7bca0f1
* Content: [Enable Modern Authentication for Office 2013 on Windows devices](https://docs.microsoft.com/en-us/office365/admin/security-and-compliance/e

[2020-01-21 17:32] milkyway1 commented on #936
prea must turn back to retrospective their is know bailout prea is the door of a lie wharer the meeting is to be split as for currecy now cr criminal guess who almost got robbed for their country well they stole first and I say get a ejecation

[2020-01-22 02:32] jansenbro opened #937 "you need to provide the link"
There is a link .. somthing like aka.etcetc for setting up the MFA  it needs to be posted here for admins to quickly find so they can send to end users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32bb26-e78a-caad-5b41-d7e49f6ef9b4
* Content: [Set up m

[2020-01-22 12:23] crshovrd41 opened #940 "Very misleading regarding PBI licensing"
You don't state anywhere on this page that to actually view the data you must upgrade your license to pro or you can "try free for 60 days." Please fix the article so other people don't make the same mistake.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ec8961e-4fc1-eb46-1e71-3147b55ac90e
* Version Independent ID: 2

[2020-01-22 13:25] schittli opened #941 "Why must every customer have to google for the licensing requirements himself?"
I'm sorry, but it's really a shame that the Important licensing requirements Block does not offer a Link to the Licensing details.

Are you afraid that this Microsoft could get invalid after some weeks? Then a free tip: simply define logical, static links. Here it is:
www.M$.com/licencing/O365/Office-365-Groups
This link could stay forever and always display the latest content, maybe with links to

[2020-01-22 14:25] mypil commented on #882
@saigrsundaram @abhitalks @MaratMussabekov - We have verified and confirmed with the Product team that the figure is the current version.

We value your feedback. Thank you for engaging the community here for the docs!

[2020-01-22 14:25] #882 closed

[2020-01-22 18:00] mypil commented on #935
@OfficeGlobal -  Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/1ac8f92029149ab719b0f4b444ffb70e21184f4e#diff-2012347ee26db8e4a848e8d0ef923d17.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-22 18:00] #935 closed

[2020-01-22 18:52] mypil commented on #883
@mscaitlina - From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-22 18:52] #883 closed

[2020-01-22 19:00] msbemba commented on #916
@Absoblogginlutely  Thank you for the feedback. unfortunately, we don't have a way currently to use Powershell cmdlets to exercise this. The document will be updated once the PS cmdlets are ready.

Thanks
Sri

[2020-01-22 19:32] #931 closed

[2020-01-22 22:40] mypil commented on #936
@milkyway1 - Thank you for submitting feedback.

Can you please share what specific issue you have with this doc?

We would really appreciate it if you are able to help by providing more details as to what should be edited and/or included.

[2020-01-23 13:31] ChrispyBites opened #943 "Which admin permissions?"
Please be specific about the admin privileges that are needed to perform this action on the M365 Admin Center.  You just say "You must have admin permissions in Office 365 to do these steps," but not every administrator role has the rights to perform this action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b8183c4-

[2020-01-23 13:48] brakim opened #944 "Information is wrong, maybe?"
I have a couple of Microsoft 365 Business subscriptions and i don't have access to company branding,  is says i need to upgrade my AAD to premium.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1e37fbb-0bb1-7c14-fda3-376ed667834a
* Version Independent ID: 44237e1d-1792-2073-9d9a-0905a9e2c555
* Content: [Add your compa

[2020-01-23 15:20] robertgreeneahp commented on #943
I second this.  We are facing this issue now where our help desk doesn't have the proper permission to perform this option.  So what user role is needed to do this?

[2020-01-23 18:17] mypil commented on #904
@martinagrom - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/commit/6bfdbc774ce660ab40e2a171a61cdd50c0882d79 but it may take a few days for the merged content to appear in the doc.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-23 18:17] #904 closed

[2020-01-24 15:20] mypil commented on #907
@andrewflatt - From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-24 15:20] #907 closed

[2020-01-24 15:23] mypil commented on #903
@SteveColegrove  - From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-24 15:23] #903 closed

[2020-01-24 15:30] mypil commented on #918
@Sirkkuw - Can you please share your insights on this additional feedback?

Thank you.

cc: @kenwith

[2020-01-24 15:41] mypil commented on #902
@Jamie-StarFyre - Thank you for this inquiry.

I will get this issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-01-24 15:42] mypil commented on #902
@SharS - Can you please share your insights on this issue?

Thank you.

cc: @kenwith

[2020-01-24 16:07] Jamie-StarFyre commented on #902
@mypil

Thanks!  I can actually report that that Templates option finally showed up on my Admin panel earlier this week!

[2020-01-24 16:22] RichardFransen opened #946 "Recycle bin"
Are the number of files (and the related amount of storage) in the RECYCLE BIN taken into account when calculating the number of FILES and STORAGE USED in the ODB Usage Report?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b9dada-0658-e34b-fba2-568d1322b947
* Version Independent ID: 4561d278-79c0-517f-fb7e-de94474cc

[2020-01-24 16:40] mypil commented on #902
@Jamie-StarFyre - Thanks for your confirmation that the issue has been resolved. We will close this issue now.

Please feel free to open a new issue if there is a specific area in the docs that we can make improve on.

[2020-01-24 16:40] #902 closed

[2020-01-24 17:49] Sirkkuw commented on #918
If you bought a new tenant you should have security defaults turned on automatically, as described in the topic. You can still go to the Azure admin center and turn on MFA on per user basis, but it should not be available from the list of users in the Microsoft admin center. However, it is possible that the changes haven';t rolled out quite to everyone. Please take a look at the set up MFA topic a

[2020-01-25 13:09] mypil commented on #936
@milkyway1 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page.

[2020-01-25 13:09] #936 closed

[2020-01-27 13:21] raymondlittle100 commented on #940
I found this very confusing as well. On the page linked below it says you can use the free licence

https://docs.microsoft.com/en-us/office365/admin/usage-analytics/usage-analytics?view=o365-worldwide

"The content pack is available to all customers free of charge. You need to sign up for the free Power BI service to connect to the content pack. You can also customize the dashboards and reports wi

[2020-01-28 00:08] isaacgandalf opened #949 "Requesting for elaboration on some terms"
"Billing Period is the time period since the last invoice date. Service Period is the time period during which you are charged to use the service."

Most of the time, we here are support get asked why the billing period is almost always behind (in dates) for the service period.
For instance, in annual invoices, one sees a Billing Period of Jan 2019 to Jan 2020, with an invoice date somewhere in Ja

[2020-01-28 01:09] mypil commented on #918
@ragupt - From our understanding, the issue you raised has been answered by Sirkkuw & msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-28 01:09] #918 closed

[2020-01-28 01:14] mypil commented on #944
@brakim - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so we

[2020-01-28 01:14] #944 closed

[2020-01-28 01:18] mypil commented on #916
@Absoblogginlutely - From our understanding, the issue you raised has been answered by msbemba  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-01-28 01:18] #916 closed

[2020-01-28 05:24] afield1235 opened #950 "12 hours?"
Why does outlook for windows take 12 hours? That's way to long. Webmail and mac are instant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081d424b-6f62-e70c-9c2d-ad779ffa6c3b
* Version Independent ID: e4597136-bfe8-4230-da83-f806a1126005
* Content: [Manage deployment of Office 365 add-ins in the admin center](https:/

[2020-01-28 10:37] msbemba commented on #927
@sth2258 Thank you for the feedback. This document talks about modifying the permissions via the Exchange admin center. So the instructions are current.

Hope this helps!

Thanks
Sri

[2020-01-28 10:45] msbemba commented on #928
@Bogdan-Paun Thank you for the feedback. We have made changes to the doc via PR # https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/951

Thanks
Sri

[2020-01-28 10:58] msbemba commented on #929
@lewatson Thank you for the feedback. The Cloud Icon should be grey after you select to bypass.
I have made the correction the number of Cname records required via PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/952

Thanks
Sri

[2020-01-28 11:01] msbemba commented on #930
@lewatson Thank you for the feedback. The steps mentioned in the document should be followed after the domain is verified using the TXT record as they are used for email routing and not domain verifying.

Hope this helps!

Thanks
Sri

[2020-01-28 11:11] msbemba commented on #943
@ChrispyBites Thank you for the feedback. You need to be a Global Admin or an exchange admin to perform this action. We have made changes to the doc via PR #
https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/953

Thanks
Sri

[2020-01-28 11:26] msbemba commented on #946
@RichardFransen Thank you for the feedback. The one drive storage size shown on the report includes the data deleted/in the recycle bin.

Hope this helps!
Thanks
Sri

[2020-01-28 11:57] AnatolN opened #954 "Clarity on data retention in OneDrive for Business needed"
In this article we have this part referring to ODB data retention:
"When a license is removed from a user, data that is associated with that account is held for 30 days. After the 30-day grace period, the data is deleted and can't be recovered. Files that are saved in OneDrive or SharePoint Online aren't deleted."
It gives incomplete information as it does tell the files will not be deleted but do