[2018-09-03 11:04] jesspent opened #2 "Simpler instructions please?"
This really very clear to me on how to create a Dynamic group in Yammer. - E.G. add a Group / Distribution list called finance. And anyone in this group/dl/ or  attribute of finance automatically get added. Could you make this simpler please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71d80456-b900-8982-0077-bdd6c0

[2018-09-03 17:43] alexiordan opened #3 "When will be available for ios?"
What is the road map for Kaizala Web app? When will it support ios?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a6ac125-809c-25c8-520d-c899d7c0f5f4
* Version Independent ID: 328117c5-6159-589e-eca4-1bc3dc7ee0f5
* Content: [Use the Kaizala web app](https://docs.microsoft.com/en-us/office365/kaizala/use-the-web-app)

[2018-09-12 08:18] DeanGross opened #12 "Connecting new Yammer Group to O365 Group"
Can a new yammer group be connected to an existing O365 Group so that another SPO Site is not created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc7a47d0-7e67-1890-8a1e-192871c99b55
* Version Independent ID: ff75ce98-2235-8c92-b6a2-9b034061adef
* Content: [Yammer and Office 365 Groups](https://docs.microsoft.com/e

[2018-09-14 19:07] IrenePasternack commented on #12
No, this is not possible. If this is a feature that is important to you, please let the Yammer team know by adding it at [ https://yammer.uservoice.com/]( https://yammer.uservoice.com/).

[2018-09-18 21:55] AndreaBarr commented on #2
@jesspent Thank you for this feedback

I will get this over to the O365ITPro Team for investigation and update.

I was able to get this into the backlog for the O365ITPro team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-09-18 21:55] #2 closed

[2018-09-18 21:57] AndreaBarr commented on #3
@alexiordan Thank you for this feedback

I want to get this question answered for you quickly. Support will handle this to resolution.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/w

[2018-09-18 21:57] #3 closed

[2018-09-19 14:48] nplima opened #25 "WHY"
well... why the limited regional availability? Why so many chat applications int he Office 365 world?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2033900c-d18a-cdd3-313c-7efed2ceb4ec
* Version Independent ID: 87b1f4a4-abb8-f3f6-241e-ca8b9b3d5015
* Content: [Kaizala regional availability](https://docs.microsoft.com/e

[2018-09-21 23:49] AndreaBarr commented on #25
@nplima Thank you for this feedback.

I am not sure how to answers these questions but Support will be able to answer them.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuO

[2018-09-21 23:49] #25 closed

[2018-10-08 19:21] mauldlouie opened #27 "Script to enable Yammer license doesn't work"
Your article says the following put in the script will enable Yammer licenses but I just tested it and it does not work. The Yammer license is still disabled:
If ($_.ProvisioningStatus -eq "Disabled" -and $_.ServicePlan.ServiceName -notlike "*YAMMER*") { $DisabledOptions += "$($_.ServicePlan.ServiceName)" }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-10-08 22:38] IrenePasternack commented on #27
The script you mention is used for disabling the license.
For enabling, use the previous example in the article:

The following example assigns a license from the litwareinc:ENTERPRISEPACK (Office 365 Enterprise E3) licensing plan to the unlicensed user belindan@litwareinc.com<mailto:belindan@litwareinc.com>.

Set-MsolUserLicense -UserPrincipalName "belindan@litwareinc.com" -AddLicenses "litwarein

[2018-10-08 23:10] mauldlouie commented on #27
I was wrong. The Yammer license is enabled by the code you showed. I thought it was disabled because the GUI was showing it disabled. I guess the GUI just hadn't caught up. When I ran a PowerShell command to check the status, it showed it enabled.

[2018-10-08 23:11] IrenePasternack commented on #27
I’m glad you were able to get it enabled. The GUI sometimes does take a while to refresh.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: mauldlouie <notifications@github.com>
Sent: Monday, October 8, 2018 4:10:25 PM
To: MicrosoftDocs/OfficeDocs-O365ITPro
Cc: Irene Pasternack (Steyer Associates Inc); Mention
Subject: Re: [Micro

[2018-10-12 12:16] ulflunqvist opened #28 "Broken link"
The Office 365 Roadmap link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fb833c2-bcef-be1a-30da-b69070db3aa3
* Version Independent ID: 78609177-69be-486e-b3c0-0325cdca2d3f
* Content: [Compare options for a free trial of Yammer](https://docs.microsoft.com/en-us/yammer/get-started-with-yammer/compare-option

[2018-10-16 09:40] CarikeBL opened #29 "Cannot change the notification tone"
It would be great to be able to change the notification tone for the app instead of using the default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2033900c-d18a-cdd3-313c-7efed2ceb4ec
* Version Independent ID: 87b1f4a4-abb8-f3f6-241e-ca8b9b3d5015
* Content: [Kaizala regional availability](https://docs.microsoft.com/

[2018-10-16 13:32] IrenePasternack commented on #28
I tested the link in the last line of the file, and it goes to the roadmap. Could you try again and let me know if it works?

Thanks,
Irene

From: ulflunqvist <notifications@github.com>
Sent: Friday, October 12, 2018 5:17 AM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: Irene Pasternack (Steyer Associates Inc) <v-irpast@microsoft.com>; Mention <mention@norepl

[2018-10-23 16:23] AndreaBarr commented on #29
@CarikeBL Thank you for this suggestion.

I know the product teams are always looking for user feedback and how to make software  better. They keep a close tab on the Kaizala app [kaizalafeedback@microsoft.com](kaizalafeedback@microsoft.com).

Thank you for your contribution to make the docs better! Much appreciated!

[2018-10-23 16:23] #29 closed

[2018-10-29 07:39] samioneric opened #32 "Source"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd50ed2-f843-2daf-fd8f-80ad9b3d5029
* Version Independent ID: 35571d2f-e4bf-c65b-450f-f57b1ecd6967
* Content: [Microsoft Kaizala](https://docs.microsoft.com/en-us/office365/kaizala/kaizala-overview)
* Content Source: [Office365-Kaizala/kaizala-overview.md](https://github.c

[2018-10-29 18:00] #32 closed

[2018-10-31 00:43] svjr opened #34 "Contact quote on chat"
How do you make a contact in the chat !? I tried to use the @ character but I could not!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef921d18-04ac-dc05-3a66-093903cf2ec5
* Version Independent ID: 0539f939-04fa-db4e-2c0f-acae96d49498
* Content: [Kaizala mobile app](https://docs.microsoft.com/en-us/office365/kaizala/k

[2018-10-31 04:28] vnbtc opened #35 "@cmcatee-MSFT"
[Nhập phản hồi vào đây]

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 9bdbb534-fd78-a4d0-dac4-b9a3ce1179fe
* Version Independent ID: 134d6149-7c7d-3cd8-4842-47287bdd158f
* Content: [Add, update, or remove a credit card or bank account](https://docs.microsoft.com/vi-vn/office365/admin/subscriptions-and

[2018-10-31 22:23] Melindawj opened #36 "Who ever changed this article; please reach out to me immediately. Thanks"
Who ever changed this article please reach out to me.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fea1bd-47c1-ca3f-7a67-9b629a2e9d12
* Version Independent ID: 7b1aacb9-b57b-b4c7-bb64-0b7a7ebb249b
* Content: [Manage messages in Message center](https://docs.microsoft.com/en-us/office365/admin/manage/manage-

[2018-11-01 15:53] Sirkkuw commented on #36
I have reached out and added a section on how to leave feedback on a message center post.

[2018-11-01 15:53] #36 closed

[2018-11-01 18:34] AndreaBarr commented on #34
@svjr Thank you for this inquiry

It looks like this app mostly goes off of your phones contact list for contacts inside the app. Most apps like this also has a search function but I'm not familiar with this one. I am going to get this over to the o365ITPro team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appre

[2018-11-01 18:39] AndreaBarr commented on #35
@vnbtc Do you have an issue?

[2018-11-01 21:57] MikeDembek opened #37 "Delegation grant access to OneDrive and delegation options"
Is it possible to delegate access to the access files function in a manner similar to Exchange RBAC (ie. targeted group)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5756315-8321-0d88-846a-f6f31d8018cb
* Version Independent ID: 7e55c5a1-7ae8-ba3e-cd8b-eae7a4ba2113
* Content: [Get access to and back up a former user

[2018-11-02 11:11] D1872375545 opened #38 "Get-AzureADDirectorySettingTemplate cmlet invalid"
Get-AzureADDirectorySettingTemplate : The term 'Get-AzureADDirectorySettingTemplate' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of
the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ Get-AzureADDirectorySettingTemplate
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          :

[2018-11-02 11:24] westerdaled opened #39 "Do we need AD Premium licenses for each member of group creators security group."
I am working with an org who have 1000 E1 or E3 license plans, all accompanied with the default Azure AD basic licenses. To regulate the creation of Office 365 groups, this org simply needs to ensure that all the members of the designated SG have Azure AD P1 licences; the remaining users can stay as they are?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-11-04 07:42] hamedtm opened #41 "When the problem of calculating the email"
I can not login to an account even though the password is correct
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 18e3cc57-f30b-c459-ba6b-6a1676b47285
* Version Independent ID: ee307e06-60d3-f40c-fb95-ccf87fcd1c2c
* Content: [Contact support for business products - Admin Help](https://docs.microsoft.com/ar-sa/office365/

[2018-11-05 18:39] micfau1091 opened #42 "Vague"
"Enter your email address in the prompt so we can send you a link to join the Office 365 account where your domain is currently added."

What prompt? Where?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24eaf551-7e49-ee4a-2979-8515f92d4d2a
* Version Independent ID: 67e53343-d996-ce5e-4742-0c0d819fbca1
* Content: [Do a

[2018-11-06 04:41] pyoungberg opened #43 "Please don't write to system32"
Don't understand why your script writes to C:\windows\system32. Please either provide a hook where the output can be specified or write someone else like the desktop or the root of the system drive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0659185-aece-2fa7-0e9d-fe56c771d8f9
* Version Independent ID: b5f0658e-d8

[2018-11-06 04:42] pyoungberg commented on #43
Excel can't open items from system32, it has to be copied to another directory before it will open

[2018-11-06 06:27] mickeytsui opened #44 "使用 microsoft office 365 商務版 開啟電郵中 的EXCEL 檔案, 經常發生 ( 檔案損毀,無法開啟)"
使用 microsoft office 365 商務版 開啟電郵中 的EXCEL 檔案, 經常發生 ( 檔案損毀,無法開啟) ,
但本機內的EXCEL 檔案是沒有問題,
現只能移除 microsoft office 365 軟件後, 再安裝一次microsoft office 365 就可以開啟檔案 ,
( 現時電郵使用版本: windows live mail )

---
#### 文件的詳細資料

⚠ *請勿編輯此部分。 docs.microsoft.com 必要 ➟ 連結 GitHub 問題。*

* ID: 68d423ef-7d7a-0729-f239-8681b4752e19
* Version Independent ID: 67e30897-9816-b92b-dd6f-b7d3bfbfd751
* Content: [支援資訊 （香港特別行政區）](https://do

[2018-11-07 00:55] GeoffreyMcN opened #45 "Send a message to everyone at a specific location"
It would be useful for my organisation to send announcements to all staff *currently* at a specific location or building.
eg: emergency warnings, staff duress alerts, 'have you seen &lt;whatever&gt;, tell us if you have', etc, etc.

email won't do that.
Skype for Business won't do that.
teams won't do that.
Kaizala? It looks like that won't do it either.

---
#### Document details

⚠ *Do not edit

[2018-11-07 12:52] Gunner237 opened #46 "O365 Roadmap link broken"
The Office 365 Roadmap link to https://fasttrack.microsoft.com/roadmap leads to an error page, rather than the expected roadmap page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eaa7f6-1a74-947f-80d0-8962b6df9b39
* Version Independent ID: 8b546fac-4393-7589-9c71-bd5860d0f0b2
* Content: [Stay on top of Office 365 c

[2018-11-07 14:52] geoffupham opened #47 "Screenshots as requested"
This is unacceptable:

our Microsoft expert Crisente G has ended your chat session. Thanks for visiting Microsoft Support.
6:50 am
System
Chat has ended.
Check your internet connection.

Screenshots as requested

[https://1drv.ms/w/s!Av3fFxXtXjFf2WqLrWM1XD_rzUU0](url)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e3c

[2018-11-07 14:54] geoffupham commented on #47
I spent an hour with a support engineer who has no access to my account or a shared link on OneDrive.

How is that support?

This should have been a very easy issue to resolve.

Instead everything he asked me to do resulted in an error.

[2018-11-07 15:01] bally-singh commented on #38
Ensure that you are using the AzureADPreview cmdlet... try this first as admin in ISE:

Get-Module azuread -ListAvailable | uninstall-module
Install-Module -Name AzureADPreview

[2018-11-07 18:01] rubenssleme opened #48 "Imagens da documentação estão em inglês"
As imagens da documentação estão em inglês, aparentemente são mais antigas do que as ferramentas atuais.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 0176b533-4c38-8f7b-f4f8-2cd62d1e698c
* Version Independent ID: b9bdbc3a-e960-4d77-e556-d5ff6dcf0e69
* Content: [Caixas de correio de equipamentos e salas]

[2018-11-07 19:06] sing-ideas opened #49 "Types of Public user no clarity"
Public groups have 3 types of users - admins, members & subscribers. - as per the dialogue box. But the documentation url in the know more is not explaining the above 3 types. Kindly give clarification on types of users and the two radio buttons for managed and public in the same dialogue box.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2018-11-08 12:31] D1872375545 commented on #38
Hi,
       Thank you very much for your help.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: bally-singh <notifications@github.com>
发送时间: Wednesday, November 7, 2018 11:01:45 PM
收件人: MicrosoftDocs/OfficeDocs-O365ITPro
抄送: 代超群; Author
主题: Re: [MicrosoftDocs/OfficeDocs-O365ITPro] Get-AzureADDirectorySettingTemplate cmlet invalid (#38)

En

[2018-11-08 13:21] Key-international opened #51 "Key International academy"
https://www.keyinternational.academy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc99803-4432-cd7c-4747-0953276298d9
* Version Independent ID: 1d7554f1-8b1c-dd3a-18e6-1106ad2b3bcb
* Content: [Domains FAQ](https://docs.microsoft.com/en-us/office365/admin/setup/domains-faq?redirectSourcePath=%252farticle%252f1272bad0

[2018-11-08 15:36] ReQ6W7rFnaBxyfb opened #52 "dead link"
This link is dead: If you're a user looking to reset or change your password, see I forgot the username or password for the account I use with Office.
https://support.office.com/article/https://support.office.com/en-US/article/I-forgot-the-username-or-password-for-the-account-I-use-with-Office-eba0b4a2-c0ae-472c-99f6-bc63ee2425a8.aspx#bkmk_buschangepw

---
#### Document Details

⚠ *Do not edit thi

[2018-11-08 16:25] hfulks opened #53 "Microsoft 365 usage analytics template"
I downloaded the template and entered my organization's tenant ID but the template generated 2 pages of errors. Completely unusable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1fdd664-c2d2-7712-fd41-3745c52d1442
* Version Independent ID: 0dfdadc8-15f0-dd7e-0efc-9a2565f7b519
* Content: [Customize the reports in Mic

[2018-11-08 19:21] Key-international opened #54 "Key International academy"
How to get Google contacts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08093bf0-9f68-b710-7e95-866c1e0908d0
* Version Independent ID: ae21e774-9f27-ae15-fb47-770c39162410
* Content: [Quick help Contacts](https://docs.microsoft.com/en-us/office365/admin/misc/contacts?redirectSourcePath=%252fen-US%252farticle%252fe64c

[2018-11-09 16:25] RustyNailz77 opened #57 "Documentation needs updated"
This article states that "Power BI is a free service for users in your organization to connect to, analyze, and securely share data with others. "  This is not quite correct.  You cannot share content without a Pro license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f27380ae-e2d6-7d32-b573-5c9a08592164
* Version In

[2018-11-12 10:59] sev7enITA opened #58 "Setting up the policy for session alive to kill upon password change."
Dear MS Team,
thanks for the usual care you have in the docs but it lacks of an important aspect: how to setup the de-sync of the active session when we have a password change.
It is very important and critical as usually left devices far from where they are and for any password change, the ones with the old credential block the account due to bad logon credentials.

---
#### Document Details

⚠ *

[2018-11-13 12:29] BogdanStefanManolache opened #63 "Create Team in MS Teams"
Is there any way to create a TEAM in MS Teams based on distribution list? ...and keep them in sync?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9c8e89a-d001-eb11-d1e4-e2525561307a
* Version Independent ID: 42c5f231-7a58-4e92-2a43-eb35bcf8c410
* Content: [Create distribution lists in the Office 365 admin center](htt

[2018-11-13 14:44] thomps opened #64 "Archive Information"
I'm curious if this storage includes all items stored in archive or not.  I have been looking around and there doesn't seem to be much information on whether or not the archived items are included in these canned reports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c35522-704a-a490-97a1-8389c0c6261c
* Version Inde

[2018-11-14 17:13] FlorentinStafie opened #67 "1&1 is being renamed to IONOS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60ec04cf-93af-b216-4290-c2d0ff79878d
* Version Independent ID: e7fd186e-7efd-711e-3f29-e318b2100083
* Content: [Create DNS records at 1&1 Internet for Office 365](https://docs.microsoft.com/en-us/office365/admin/dns/create-dns-records-at-1-1-internet?

[2018-11-15 03:24] eysz7x opened #68 "Register Domain on office365"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4080057-b2f7-129a-ed97-450b6b571920
* Version Independent ID: 1a98aaee-42b8-dc0d-602a-07342969bdca
* Content: [Create DNS records at Register365 for Office 365](https://docs.microsoft.com/en-us/office365/admin/dns/create-dns-records-at-register365?re

[2018-11-15 14:05] Markus-Hanisch opened #69 "Custom tile image URL is not recognized"
Hello Microsoft Support,
I wanted to add two custom tiles to SharePoint locations within our tenant.
I uploaded two images on our corporate website (utilizing WordPress as CMS):
https://www.das-ee.com/wp-content/uploads/2018/11/teamevents-das_60px.png
https://www.das-ee.com/wp-content/uploads/2018/11/icon-aus-und-weiterbildung_60px.png

I tested another image from the web (https://www.academicgate

[2018-11-15 14:41] 2704lnx opened #70 "How to change deny alert or send a message to users that try to create a new group"
This procedure is useful and easy to implement.
We recently block the group creation after two years.
The users don't know what is the new procedure to create their groups.

To make a good change management, I'm looking to change the system message "Your organization's global admin has turned off the ability to create new Plans ans Office 365 Groups."
or get an activity alerts from Graph.  It is s

[2018-11-15 14:57] angoo-atea opened #71 "Add functionality to show different apps in app launcher to different groups of users"
Many of my clients have a need to add apps to the app launcher for specific user groups only, not just globally. This is a common requirement for multinational organisations which may for example have separate IT support functions per country, separate HR applications per country etc.
Pleas add the functionality to show different apps to different users based on AD group membership or user profile

[2018-11-15 20:11] joshn-ridewta-com commented on #69
I experienced the same problem and it looks like a "-" was the problem for me too.  Thank you so much Markus-Hanisch for your troubleshooting.

[2018-11-15 20:39] UpsilonB opened #72 "Parts of text repeated several times"
Parts of text are repeated several times after "3. Save yourchanges" in "Change your domain's name server (NS) records".

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: 922a82b5-470a-553b-2bc0-292140ec82b7
* Version Independent ID: e27c707b-0693-86fc-fa2a-b417b0633c05
* Content: [Naamservers wijzigen voo

[2018-11-16 16:32] lkuhn65 opened #73 "Impact to OneDrive sync client not explained in this article"
The Organization name, if changed, directly impacts the folder name that the OneDrive Sync client creates on Windows workstations.  This must be called out here somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29c73190-a61e-5d37-0ad7-cbc5731c3fc0
* Version Independent ID: ec796206-3bad-e391-dee7-1ce5423f7fbe
*

[2018-11-16 17:32] Markus-Hanisch commented on #69
You are welcome. Sharing is caring.

[2018-11-16 18:31] PaulPMooney opened #74 "Office 365 Does Not Allow Edit to SPF Record"
The important section above says "If you already have an SPF record for your domain, don't create a new one for Office 365. Instead, add the required Office 365 values to the current record so that you have a single SPF record that includes both sets of values." The problem is when you open the panel in O365 to do this it says in red below the entry "You can't edit or remove the Office 365 SPF rec

[2018-11-16 21:28] ShyangTan opened #75 "MSOnline"
Thanks for the great article!  However, Azure Active Directory Connection page doesn't have the link to download AdministrationConfig-V1.1.166.0-GA.msi.

It seems like it has been replaced by Install-Module MSOnline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8299b0d8-25e4-af45-a9f8-724f61ed4f4a
* Version Independe

[2018-11-17 01:17] jeffreyoliver opened #76 "Step #3 is inaccurate"
The user account has a valid license yet the link to convert to a shared mailbox does not appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fb81a0-5744-18b2-1636-a41c771ef0db
* Version Independent ID: fad4cd45-1a93-bfee-e82b-892752317056
* Content: [Convert a user mailbox to a shared mailbox](https://docs.micros

[2018-11-17 20:46] SolespireMarcus commented on #12
I definitely am not happy that additional SharePoint Sites are being created. I rather have previously created SharePoint Sites via Office 365 Groups be attached to a Yammer Group, the same way everything else is tied together in OWA and the greater working environment of Office 365.

[2018-11-19 12:01] arichter83 opened #77 "In German translation the SRV record ist called _sip instead of _sip._tls"
In German translation the SRV record ist called _sip instead of _sip._tls

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 58d30a72-4274-982c-4737-7c87a35febb9
* Version Independent ID: dea907ab-1da1-dcbd-8db7-5120c2c41a8f
* Content: [Erstellen von DNS-Einträgen für Office 365 bei DNSMade

[2018-11-19 13:43] hooperman opened #78 "Giving folder access to groups in Sharepoint online"
I really don't believe that you could make this topic more confusing if you went out and out to do so :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 812da0c1-b351-62bb-bf61-a30ff65b8987
* Version Independent ID: cdf8e0e7-a61f-651b-eb92-eb8bd5b16a9f
* Content: [Create, edit, or delete a security group in the Office

[2018-11-19 21:48] MohitGargMSFT opened #79 "Using [CountryOrRegion] in eaxmple rather then [Country]"
As per discussion on this document feedback - https://github.com/MicrosoftDocs/azure-docs/issues/18991 please change the example to use Using [CountryOrRegion] in example rather then [Country] else it is causing confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f70ad7b-5ba2-6167-1207-7496d57c6828
* Version Ind

[2018-11-19 23:06] AndreaBarr commented on #37
@MikeDembek Thank you for this inquiry

I am not sure about delegating access for this. Let me get this over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-19 23:16] AndreaBarr commented on #38
@D1872375545 It looks like Bally-singh resolved the issue you were having. I am going to close this issue as resolved. If this is not resolved please re-open this issue.

[2018-11-19 23:16] #38 closed

[2018-11-19 23:19] AndreaBarr commented on #39
@westerdaled Thank you for this inquiry

I am not sure on this licensing question. I will get this over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-19 23:34] AndreaBarr commented on #43
@pyoungberg Thank you for this suggestion

I know the product teams are always looking for user feedback and how to make o365 better. They keep a close tab on User Voice [https://office365.uservoice.com/](https://office365.uservoice.com/) and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already you could op

[2018-11-19 23:34] #43 closed

[2018-11-19 23:41] AndreaBarr commented on #44
@mickeytsui Thank you for this feedback

Can you verify if this is a translation issue or if the document needs update.

https://docs.microsoft.com/en-us/office365/admin/support/hong-kong-sar?view=o365-worldwide#phone-number

[2018-11-19 23:48] AndreaBarr commented on #45
@GeoffreyMcN Thank you for this inquiry

I think there is a way to do that with utilizing Group Policy Objects from the Admin side of things but I'm not a 100% on that. Let me get this over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-19 23:57] AndreaBarr commented on #48
@rubenssleme Thank you for pointing this out

I will get this images issues over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:00] AndreaBarr commented on #46
@Gunner237 Thank you for pointing this out

I will get this link issue over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:07] AndreaBarr commented on #49
@sing-ideas Thank you for this feedback

I will get this information over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:15] AndreaBarr commented on #52
@ReQ6W7rFnaBxyfb Thank you for pointing this out

I will get this link information over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:19] AndreaBarr commented on #53
@hfulks THank you for this feedback

I am not sure why you received the error. Let get you over to Support who has more resources to dig in and find resolutions.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discovering back into the docs.

[2018-11-20 00:19] #53 closed

[2018-11-20 00:34] AndreaBarr commented on #58
@sev7enITA Thank you for this feedback

I'll the get this request for more information about configuring this over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:37] AndreaBarr commented on #57
@RustyNailz77 Thank you for pointing this out

I will get this update information over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:41] AndreaBarr commented on #63
@BogdanStefanManolache Thank you for this inquiry

I am not sure about the creation of teams in Teams. Let me get this over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:48] AndreaBarr commented on #64
@thomps Thank you for this feedback

I am not sure what the canned reports include. Let me get this over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:58] AndreaBarr commented on #67
@FlorentinStafie Thank you for this update

I will get this rebranding information over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 00:59] AndreaBarr commented on #68
@eysz7x Do you have a specific issue with this article?

[2018-11-20 09:06] carloreggiani opened #80 "Migrating from Exchange: license assigment"
Better specify clearly that the Office365 user licenses has to be assigned AFTER migration. We are doing license assignment before migration from several users, discovering after months (thanks to support) that migration reset the user license and assign a "30 days grace" license.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-11-20 10:34] jerikkofrancisco opened #81 "Phone Number is not working"
Already tried to use India (Both Primary and Alternate)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2b385a-9cb4-9110-94bb-7d63f7e591f0
* Version Independent ID: 07d6eed9-0f79-5c7e-6c7b-0391d0190c57
* Content: [Support information for India](https://docs.microsoft.com/en-us/office365/admin/support/india?view=o365-w

[2018-11-20 12:50] xNiklasJern opened #82 "Dark mode"
The new admin center is cool, but I feel its missing the most important thing of it all. Dark mode theme ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a046b07e-0b18-facf-8990-ad37d673e8bb
* Version Independent ID: f28529dc-4ae4-a52d-5ae9-11bc787660af
* Content: [About Microsoft 365 admin center preview](https://doc

[2018-11-20 20:08] mvanders opened #83 "Dutch version"
Desperately looking for the Dutch version (can be used both in Belgium AND The Netherlands!

[2018-11-20 22:17] cmcatee-MSFT commented on #81
I'm working on verifying that the #s are correct & working. Will update when I know more.

[2018-11-20 22:46] #47 closed

[2018-11-20 23:09] AndreaBarr commented on #70
@2704lnx Thank you for this inquiry

I am not sure how to get the users redirected to your process with a pop up or other option. Let me get this over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 23:36] AndreaBarr commented on #73
@lkuhn65 Thank you for pointing this out to us

I will get this information over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-20 23:40] AndreaBarr commented on #74
@PaulPMooney Thank you for this feedback

I am not sure why your not able to change this. I want to get you over to Support since they have more resources to dig in and find a solution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discovering

[2018-11-20 23:40] #74 closed

[2018-11-21 00:05] AndreaBarr commented on #75
@ShyangTan Thank you for this feedback

I'll get this information about the link over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 00:40] AndreaBarr commented on #77
@arichter83 Thank you for pointing this out.

I'll get this tralsation name issue over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 00:46] AndreaBarr commented on #76
@jeffreyoliver Thank you for this inquiry

I am not sure why the shared mailbox does not appear. I want to get you over to Support since they have more resources to help find a resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discoveri

[2018-11-21 00:46] #76 closed

[2018-11-21 12:27] pmdci opened #86 "What if I need to do this for another Azure AD"
What if I need to set a user's password to never expire, but this user exists in another Azure AD which I am invited to and I am a full admin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8299b0d8-25e4-af45-a9f8-724f61ed4f4a
* Version Independent ID: 4ab5dc30-7f11-758b-9b58-e5254e25774e
* Content: [Set an individual

[2018-11-21 18:51] AndreaBarr commented on #78
@hooperman Thank you for this feedback

Is there a specific part that you need clarification on?

[2018-11-21 19:04] AndreaBarr commented on #79
@MohitGargMSFT Thank you for this feedback

I'll get this change of wording request over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 19:18] DFLiddle opened #87 "Clarification on licensing"
Above, it reads, “Group naming policy requires Azure Active Directory Premium P1 license for unique users that are members of Office 365 groups.”

Does that mean that a license is required for each user who will implement the policy, or that one is required for each person who will be affected by the policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-11-21 19:31] AndreaBarr commented on #80
@carloreggiani Thank you for this feedback

I will get this information about the licences and migration over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 20:29] AndreaBarr commented on #82
@xNiklasJern Thank you for this suggestion.

I know the product teams are always looking for user feedback and how to make the o365 admin center better. They keep a close tab on User Voice [https://office365.uservoice.com/](https://office365.uservoice.com/) and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request a

[2018-11-21 20:29] #82 closed

[2018-11-21 20:47] AndreaBarr commented on #86
@pmdci Thank you for this inquiry

I am not sure if the same exact steps will work for another Azure AD. Let me get this over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 21:03] AndreaBarr commented on #87
@DFLiddle Thank you for this inquiry

I am not sure if that means you need a P1 licence for the creater of the group or everyone in the group. Let me get this over to the O365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 21:58] AndreaBarr commented on #83
@samanthaw Is there a Dutch version?

[2018-11-21 22:04] kenwith commented on #83
Actually, I just looked at the docs.microsoft.com site and with the language code  nl-nl   and it looks like there might be? https://docs.microsoft.com/nl-nl/

Here is an example: https://docs.microsoft.com/nl-nl/MicrosoftTeams/security-compliance-overview

@samanthaw would know for sure as @AndreaBarr mentioned.

[2018-11-22 06:40] mvanders commented on #83
I posted this in relation to the newcomer Microsoft Kaizala in a Dutch version, not the docs. Sorry for the misconception...

[2018-11-22 07:11] foldcode opened #88 "12175139"
We are not getting instant response on ticket 12175139. Have been routed to many people and asking for wait.

I would like to get this case fix ASAP. This is affecting business, as we could not get emails in office 365.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2b385a-9cb4-9110-94bb-7d63f7e591f0
* Version Indepe

[2018-11-22 09:21] sing-ideas commented on #49
This is not just a doc feed back. I am struggling to use the kaizala app. I created a Public Managed group and invited my B2C clients to install their app.

They opened the app and verified their mobile number tried to get into my company group but Kaizala is asking for Office 365 user ID and password for my end clients.

Confusion gets complicated when my clients are employed in MNCs where they u

[2018-11-22 15:42] huixin0930 opened #89 "檔案中找不到關聯識別碼rld251的圖像部分"
我是使用office for mac word 15.23(2016) 大量授權版
請問檔案中圖片大量遺失該如何回復？

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: db1be7ae-040e-8939-309f-804d4598ccfa
* Version Independent ID: 976a9ca1-63a4-764b-4cab-da120cb0d8c3
* Content: [台灣的支援資訊](https://docs.microsoft.com/zh-tw/office365/admin/support/taiwan?view=o365-worldwide)
* Content Source: [Office365-Admin/support/taiwan.md](h

[2018-11-23 12:11] pettersh commented on #71
You can achieve what you want by registering your apps in Azure AD and only assign access to specific users or groups

[2018-11-23 12:30] pettersh commented on #71
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-restrict-your-app-to-a-set-of-users

[2018-11-23 13:57] DFLiddle opened #90 "Filter read correctly, but correct domain not applied"
Greetings, all! I followed the instructions above for Scenario 2, setting a few policies like so:

New-EmailAddressPolicy -Name AbcGroups -IncludeUnifiedGroupRecipients -EnabledEmailAddressT
emplates "SMTP:@domain1.de" -ManagedByFilter {Office -eq 'ABC' -or EmailAddresses -like "*domain1.de*"} -Priority 1
New-EmailAddressPolicy -Name AbcGroups -IncludeUnifiedGroupRecipients -EnabledEmailAddressT
e

[2018-11-25 13:57] michevnew opened #91 "Permissions"
Can you please clarify the permissions needed to add/manage domain, either here or in the Domains FAQ article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf4bb58c-d6e6-2cd8-2e0a-13b7eabfebc7
* Version Independent ID: fa15ca5c-66f9-62ec-1d2b-0f8020b0827a
* Content: [Add a domain to Office 365](https://docs.microsoft

[2018-11-26 10:20] angoo-atea commented on #71
Hi Petter - I've looked further at this and tried to test with a standard O365 application (Yammer) but the instructions in that article don't seem to match the navigation/settings options in the Azure interface.
For example,

_"**Assign users and groups to the app**
Once you've configured your app to enable user assignment, you can go ahead and assign users and groups to the app.

    Select the

[2018-11-26 17:05] samanthaw commented on #83
@mvanders I'm not clear what the issue is, can you provide a link? The Dutch version of Kaizala is here: https://docs.microsoft.com/nl-nl/office365/kaizala/kaizala-overview

[2018-11-26 17:16] mvanders commented on #83
The program itself in dutch ;-)

Outlook voor Android<https://aka.ms/ghei36> downloaden

________________________________
From: samanthaw <notifications@github.com>
Sent: Monday, November 26, 2018 6:05:17 PM
To: MicrosoftDocs/OfficeDocs-O365ITPro
Cc: Marc VANDERSTRAETEN; Mention
Subject: Re: [MicrosoftDocs/OfficeDocs-O365ITPro] Dutch version (#83)

@mvanders<https://github.com/mvanders> I'm not cl

[2018-11-26 17:44] kenwith commented on #83
@mvanders - I got you now. I see a thread with this request and a number of people looking for it and the product team is responding there. Here is that thread: https://techcommunity.microsoft.com/t5/All-Languages/Kaizala-Dutch-Belgian-version/idi-p/284810

I will also let the writer that covers this area know to get this information back to the product team so we can request them to prioritize it

[2018-11-26 17:44] #83 closed

[2018-11-26 17:51] AndreaBarr commented on #49
@sing-ideas Thank you for the clarification.

The document part has been sent over to the o365ITPro team. For the other part of this I want to get you to Support who have more resources than we do here to dig in and help find a solution to what your clients are seeing with Kaizala

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

[2018-11-26 19:03] tttomdemaria opened #92 "Don't close this without fixing the issue like you did with the other guy"
Step 3 is wrong.  The button does not appear whether the user has a license or not.

The way it can be done is by going to the exchange admin center, clicking "recipients", finding the user, then clicking "Convert" under "Convert to Shared Mailbox"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fb81a0-5744-18b2-1636-

[2018-11-26 19:45] AndreaBarr commented on #88
@foldcode Thank you for this feedback

If this is an immediate issue that is affecting your business then I want to get you over to Support. They have more resources to dig in and find a resolution. They will also be able to find a resolution quicker than we are able to here in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind plea

[2018-11-26 19:45] #88 closed

[2018-11-26 20:03] AndreaBarr commented on #89
@huixin0930 Thank you for this inquiry

Let me get this missing files issue over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-26 20:11] dianef77 commented on #92
Hey, I just double-checked Step 3 and it's correct.  There must be another reason you aren't seeing the option to convert the user's mailbox to a shared mailbox in the Office admin center, but you can access the functionality in the Exchange admin center.  (Only licensed users appear in the recipients page of Exchange admin center.) Perhaps it's your permissions?  I recommend opening a support tic

[2018-11-26 21:50] AndreaBarr commented on #90
@DFLiddle Thank you for this inquiry

I am not sure how to address this policy issue. Let me get this over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-26 22:06] AndreaBarr commented on #91
@michevnew Thank you for this inquiry

I will get this request over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-26 22:13] AndreaBarr commented on #92
@tttomdemaria Based on Diane's response please open a Support ticket. I am going to close this ticket for now but please reopen it once you have an update from Support. Replying to this comment will re-open the ticket.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this

[2018-11-26 22:13] #92 closed

[2018-11-27 06:08] mvanders commented on #83
But that thread is being closed. Could you then reopen and leave it so we
can vote, or does it work different then this?

Grts,
Marc

On Mon, 26 Nov 2018 at 18:44, Ken Withee <notifications@github.com> wrote:

--
-------------------------------------------------------------------------------------
Marc Vanderstraeten
+32 475 713612
ACT BVBA
Founder POE - Pool Of Experts, POPE - Pool Of Plone Exper

[2018-11-27 07:02] RAJU2529 opened #93 "can I use for office 2016x"
thanks for the information about Modern authentication setup

Can I enable second verification setup on windows 10 with office 2016 pro plus
with above registry keys.
I will replace 15.0 by 16.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db5aea7-bb2e-f349-7518-fc4fd396b3da
* Version Independent ID: b4112301-d38e-4

[2018-11-27 16:10] M365SupportJapan opened #94 "User management administrator can adds, removes, and updates license assignments for users, groups as same as License administrator."
The User management administrator can adds, removes, and updates license assignments for users, groups as same as the License administrator in addition to resets passwords, monitors service health, adds and deletes user accounts, manages support tickets, adds and removes members from Office 365 groups. Please consider to add this behavior on this document.

---
#### Document Details

⚠ *Do not edi

[2018-11-27 18:10] dianef77 commented on #92
Are you a delegated admin, with full admin rights?  (As opposed to a global admin.)

[2018-11-27 18:48] AndreaBarr commented on #93
@RAJU2529 Thank you for this inquiry

I am not sure if the above registry keys are good for the 2016 version. Let me get this over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-27 18:54] AndreaBarr commented on #94
@M365SupportJapan Thank you for this feedback

I will get this suggestion and information over to the o365ITPro team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-27 23:29] tttomdemaria commented on #92
I'm going to take the hard L on this one.  Can you explain why it's setup
that way?  Wouldn't it make sense for "global" admin to have access to
everything?

On Tue, Nov 27, 2018 at 1:10 PM Diane Faigel <notifications@github.com>
wrote:

[2018-11-28 00:14] dianef77 commented on #92
Think we had a miscommunication.  I was thinking the reason you're not seeing the option to convert the user mailboxes to shared is because you might be (I was guessing) a delegated full admin, not a global admin.  I've noticed that delegated full admins don't have all the same permissions as the global admin.  The fact that you're experiencing this behavior and you're a global admin is odd.  If y

[2018-11-28 00:44] tttomdemaria commented on #92
Yea it's basically the opposite in all the tenants.  Within my company, and 3 others, at the time of sending this reply, where global admin has less access than if I take the admin account and grant it everything with "custom administrator".  I will follow up via email.

[2018-11-28 10:28] labanex opened #96 "Credit Card Updates"
This article does not mention anything about how a credit card must match the tenant's origin. For instance, you cannot use a UK credit card to pay on a US tenant. We do have a lot of customers that ask us about this because when updating a credit card, if the bank is not in the same country as the origin country of the tenant, they cannot update payment details. Please add this information on thi

[2018-11-28 13:42] SteveColegrove commented on #64
I am also looking for the same info.  Any update?

[2018-11-29 03:03] GavinEke commented on #64
I am looking for similar info about this report. I would like to know if the storage includes all mailbox types (user, shared and resource) or if it is just the storage of user mailboxes?

[2018-11-30 01:40] dcodding opened #97 "Hybrid information is inaccurate"
We have a hybrid deployment and migrate all email accounts to Office 365 after AD creation.  This article says to convert the user mailbox to a shared mailbox on-premises and then move to Office 365.  However, the on-premises EAC (Exchange 2013) does not have the option to convert to shared.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-11-30 09:24] lesterw1 opened #98 "Include the list of Azure AD Roles"
Some of the role names differ or don't appear when using the Get-AzureADDirectoryRole PowerShell cmdlet.

* "Global Administrator" is "Company Administrator"
* "Password Admin" is "Heldesk Administrator"
* "User Management Administrator" is "User Account Administrator"
* "Skype for Business Administrator" and "Compliance Administrator" don't show up

There are a few other differences.  The documen

[2018-11-30 10:06] Grobi2010 opened #99 "Create a Office365 Group for existing Yammer Group"
We have some Yammer Groups that was created lang before the "O365 Group feature was established.
Can I create a connected O365 Group for a existing yammer Group?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: bc7a47d0-7e67-1890-8a1e-192871c99b55
* Version Independent ID: ff75ce98-2235-8

[2018-11-30 20:48] IrenePasternack commented on #99
There is an automatic process in place that will convert existing eligible Yammer groups to be Office 365 connected groups. This typically happens a week or so after your network becomes eligible for connected groups.

Only public and private internal groups will be converted. Private unlisted and external groups cannot be converted to Office 365 connected groups.

From: Grobi2010 <notifications@g

[2018-12-01 17:35] securityvoid opened #100 "Use the Exchange Management Shell to create a shared mailbox <- Steps Don't Appear to Work"
The above steps don't appear to work in Office 365 when adding a group to a shared mailbox. The PowerShell command runs successfully, but its not possible to expand the mailbox in Outlook even if you manually add the Shared Mailbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a258b08-9f84-d11d-a5c5-8c758dfd5d18
* V

[2018-12-01 18:06] securityvoid commented on #100
To add further details, the following will not have the group show up for the user when MarketingSG is a group:
`New-Mailbox -Shared -Name "Sales Department" -DisplayName "Sales Department" -Alias Sales | Add-MailboxPermission -User MarketingSG -AccessRights FullAccess -InheritanceType All`

If you instead change it to the following it will work:
`New-Mailbox -Shared -Name "Sales Department" -Disp

[2018-12-01 18:59] michaelbunney opened #101 "Outdated?"
Nothing in step 4 of the procedure "Add a TXT record for verification" corresponds to the navigation and labels I'm seeing in Google Domains.  I eventually found the right place, but perhaps this article needs to be reviewed against the current Google Domains U.I. for changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-03 17:00] FlorentinStafie opened #102 "Unclear steps on how to become an admin"
Step 3 is too vague. It is unclear what steps I need to follow to get to the "Become the admin" if I am a member of the unmanaged tenant. Additionally, when the takeover process is started from a managed tenant in the Admin portal Step1 is not useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24eaf551-7e49-ee4a-29

[2018-12-03 23:17] kenwith commented on #83
@mvanders - I don't know why they closed it as 'completed' either.. I will try to dig more on it and see what I can find. Seems like they shouldn't close it until it is done. Or maybe they are in the process of creating it so 'completed' it since it is accepted into the work they are doing. Let me see what I can find out.

[2018-12-04 08:03] KellyDang86 opened #103 "Email Error"
dear Admin,
How couldnt i send the email to everybody since last weekend

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 345ba0cf-c1b8-45b2-ac51-b02dfddedf93
* Version Independent ID: 7a53dbc3-0fef-71b3-5b74-c71f0b113b70
* Content: [Support information for Vietnam](https://docs.microsoft.com/vi-vn/office365

[2018-12-04 12:30] mwiedemeyer commented on #69
Hi,
please can you explain, why no - is allowed in the image url? That absolutely makes no sense.
I wanted to add an image from a CDN which contains a - in the domain.

[2018-12-05 18:51] jkerie opened #108 "#3 Needs Fixed - Same issue as others"
There must be other reasons why the option to convert the mailbox doesn't appear. As another poster, I am a Global Admin, and it didn't show. However, I could do as the other poster stated and do it in the Exchange mailboxes section. Either fix the problem so that it shows for global admins, or point out where else it can be done, because if it weren't for the prior poster's comments I would have

[2018-12-05 22:55] J-Fedor opened #109 "Step numbers changed for the creation portion?"
Step 6 says if you get an error like the image below, no need to do step 6, to skip to step 7.  Guessing they should be incremented by 1 now (no need for step 7, skip to 8)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2953d4-8abc-5e9c-e30d-43b059b57b9a
* Version Independent ID: 467981d4-20b5-8b70-2d42-d3e38b918281

[2018-12-06 23:00] jacobyoby opened #114 "Code provided does not work."
Upgrade-DistributionGroup does not appear to accept a pipeline.

PS C:\Users\jacobd&gt; Get-EligibleDistributionGroupForMigration  | Upgrade-DistributionGroup
The input object cannot be bound to any parameters for the command either because the command does not take pipeline
input or the input and its properties do not match any of the parameters that take pipeline input.
    + CategoryInfo

[2018-12-07 13:26] ThePangy opened #115 "How to revoke the access?"
This is great info on gaining access to a user's OneDrive for whatever the reason may be. However, supposing this is an existing user still, how do I now revoke the access that I gave myself as an admin? I am still able to see her files after our investigation was completed and I no longer want/need access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-12-10 07:38] PallaviPandey30 opened #116 "cannot edit the content pack report"
We Cannot edit the content pack report. We will need a pbit file if we need any customizations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f1b4f-6101-2741-32d9-77df46602591
* Version Independent ID: 64c576f5-200a-a702-7662-d66892596c7f
* Content: [Microsoft 365 usage analytics](https://docs.microsoft.com/en-us/of

[2018-12-10 16:36] StuBeck32 opened #117 "Manage MFA user settings - ambiquous location of step 2"
There isn't a clear indication of where one can find the MFA settings in this section. There needs to be an assumption that users are coming here after already setting it up months ago, and telling them to go to a page which isn't clearly marked isn't very useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865

[2018-12-10 18:42] CaitlinKnox opened #118 "Categories Attribute"
I'm really interested in seeing the count by Category. I know there's VBA code that exists, but I'd like to leverage existing reports that are connected to this model in my organization. Does anyone know if this will ever be an available attribute available as a column selection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-12-10 22:17] ferrety2006 opened #119 "StaffHub teams still allowed after implementing this solution"
"StaffHub: Both admins and managers won't be able to create teams."
After restricting group creation, people can still create StaffHub teams. However, those created Teams do not create O365 Groups. Is this expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2953d4-8abc-5e9c-e30d-43b059b57b9a
* Version I

[2018-12-11 22:35] #12 closed

[2018-12-11 22:35] #28 closed

[2018-12-12 19:23] AndreaBarr commented on #96
@sonika24 Could you please look into this issue?

[2018-12-12 19:25] AndreaBarr commented on #97
@dcodding Did JBerglundAW resolve your issue?

[2018-12-12 19:56] AndreaBarr commented on #98
@sonika24 Could you handle this please?

[2018-12-12 20:09] AndreaBarr commented on #99
@Grobi2010 Did Irene resolve your issue?

[2018-12-12 21:16] AndreaBarr commented on #100
@lindspea Could you please investigate this issue?

[2018-12-12 21:21] lindspea commented on #100
Will do
[image: Picture]

On Wed, Dec 12, 2018 at 11:16 PM AndreaBarr <notifications@github.com>
wrote:

[2018-12-12 21:33] AndreaBarr commented on #101
@lindspea Could you please investigate this issue?

[2018-12-12 21:49] AndreaBarr commented on #102
@lindspea Could you please investigate this one?

[2018-12-12 21:53] AndreaBarr commented on #103
@KellyDang86 Thank you for this feedback

I would like to get this email issue handled for you in the best way possible. I want to get you over to Support since they have more resources than we do to dig in and find a resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want

[2018-12-12 21:53] #103 closed

[2018-12-13 12:54] fkaleck opened #123 "Remove a user from an external network (done by user)"
There is no "Delete Account" in Settings-&gt;Networks. instead the link is named "Leave Network". Should be updated because it is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be3cea98-2b32-6f9f-8a22-4bc82613b6ac
* Version Independent ID: 9bcbd2d7-c954-1ddb-95eb-472c68f6e637
* Content: [Manage GDPR data sub

[2018-12-13 13:21] fkaleck opened #124 "Remove a user from an external network (done by user)"
The content is misleading that a user can "remove" himself from the External Network. Even the user is unable to logon to the External Network after selecting "Leave Network" the user identity is still there (Visible to the Network Administrator and others (eMail address, photo, first name, last name).

The term "remove" is used in the same article describing a hard deletion of a user's identity.

[2018-12-13 14:28] sravenscroft opened #125 "Group Alias not removed"
I ran the command to remove the alias, and received no error.

When I run Get-UnifiedGroup -Identity "Group Name" it still shows the alias.

When I run the command to remove the alias again, it returns "WARNING: The command completed successfully, but no settings of 'Group Name' have been modified."  I, therefore, assume that the alias was removed, but I am still unable to add it to another exchan

[2018-12-13 16:02] sravenscroft commented on #125
It seems that the correct command to use is:

Set-UnifiedGroup -Identity "Group name" -EmailAddresses @{remove="alias@contoso.com"}

[2018-12-13 17:04] maragon-belize opened #126 "Availability in BELIZE"
when will the O365 integration be available in Belize ?

[2018-12-14 04:43] limjianan opened #127 "Comment on content"
&lt;&lt;&lt;Users will not be able to modify domains when they create Office 365 groups. Only admins can specify the domain that the group can be created in.&gt;&gt;

I found that admin do not follow email address policy; they will still use the default accepted domain as default unless they change the domain during creation.
I am not sure it is a product limitation but this should call out cleare

[2018-12-14 04:46] limjianan commented on #127
This is additional things i found.
the email address policy works when GroupCreatedinAdminCenter (admin.microsoft.com)
when it is created from ECP or AAD, it will not follow the email address policy.

[2018-12-14 11:22] markburland opened #128 "International"
Worth pointing out this only works for certain domains (cough US only cough).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f1019f3-2e3e-8ac9-d18e-a89ffd1f9591
* Version Independent ID: aea85027-3a77-554b-fb0d-5b908edfd035
* Content: [Find your domain registrar for Office 365](https://docs.microsoft.com/en-us/office3

[2018-12-14 17:56] AndreaBarr commented on #108
@lindspea Could you please investigate this?

[2018-12-14 18:10] AndreaBarr commented on #109
@kellipav Could you please investigate this?

[2018-12-14 18:13] AndreaBarr commented on #114
@sonika24 Could you investigate this for me please?

[2018-12-14 18:16] sonika24 commented on #114
Sure

On 14-Dec-2018, at 11:43 PM, AndreaBarr <notifications@github.com<mailto:notifications@github.com>> wrote:

@sonika24<https://github.com/sonika24> Could you investigate this for me please?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/issues/114#issuecomment-447407733>, or mute the t

[2018-12-14 18:19] AndreaBarr commented on #115
@sonika24 Could you please investigate this issue?

[2018-12-14 18:30] kellipav commented on #109
Yes!

On Fri, Dec 14, 2018 at 12:10 PM AndreaBarr <notifications@github.com>
wrote:

[2018-12-14 19:14] AndreaBarr commented on #116
@PallaviPandey30 The article does mention the pbit file in the FAQ section. This is a generic overview. Is there a specific part of the article you would suggest us edit or add in?

[2018-12-15 12:48] DeanGross opened #130 "Listing of available reports"
small editorial suggestion, most of the items in the listing of available reports have bullets, but some do not. This should be made consistent.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2900ade-43fe-5f21-fc18-d1db33762787
* Version Independent ID: 574a1284-ace4-68ba-8811-4e305386c7de
* Content: [Activity Reports

[2018-12-15 15:58] vadim-mocanu-pers opened #131 "Domain on fasthost and hosting on hostgator"
Fasthost is my DNS. App is hosted on Hostgator.
I already have NS1 and NS2 from hostgator.

How should I proceed with 4 NS from Office 365 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 310333e5-2f8f-44a0-524c-afc70a25c80b
* Version Independent ID: 714ce499-cfee-8dae-25cd-ebae372413ca
* Content: [Change nameservers t

[2018-12-17 17:34] IrenePasternack commented on #124
Frank,

Thank you for the feedback. I removed the section on users removing themselves from external network, as you’re right, it does not erase the user’s personal data.

Irene

From: Frank Kaleck <notifications@github.com>
Sent: Thursday, December 13, 2018 5:22 AM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: Irene Pasternack (Steyer Associates Inc) <v-irpa

[2018-12-17 17:35] IrenePasternack commented on #123
Frank,

Thank you. I removed this whole section based on your other comment.

Irene

From: Frank Kaleck <notifications@github.com>
Sent: Thursday, December 13, 2018 4:55 AM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: Irene Pasternack (Steyer Associates Inc) <v-irpast@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/OfficeDocs-O36

[2018-12-17 18:07] YannickRondeau opened #133 "Typo in the documentation page title."
There is a typo in the page title, we should read "Welcome" instead of "Wlecome".
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbd50ed2-f843-2daf-fd8f-80ad9b3d5029
* Version Independent ID: 35571d2f-e4bf-c65b-450f-f57b1ecd6967
* Content: [Wlecome to Kaizala](https://docs.microsoft.com/en-us/office365/kaizala/kaizala-o

[2018-12-17 18:40] nenonix commented on #128
@markburland  Thank you for contributing feedback to improve the content. I will be working with you to incorporate your suggestion if possible. Can you tell me what aspect in the docs you are referring to specifically?

[2018-12-18 12:53] riabovil commented on #39
@AndreaBarr, any news about it?
On my developer's Office 365 instance it works without Azure AD Premium license.

[2018-12-18 13:04] westerdaled commented on #39
@riabovil  thanks for verifying.  I haven't  had an update on this yet from o365ITPro.  Off topic, we found the only members in this group could create Teams,  i.e. Global tenant & Exchange admins that were not members of this group could not, despite this fact being contradicted in the documentation.

[2018-12-18 13:43] get-itips commented on #46
Referencing PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/129

[2018-12-18 14:00] stche opened #138 "access to endusers onedrives should be off by default and aduit logged once admins get access"
eventhough the ability to have access to content from an employee that left the company might be a valid ask, this article here simply just shows how and Admin can get access with no borders other than clicking a link. This is actually in most cases for the customers I work with a violation of their data privacy or internal IT-policies and I hope we do audit logging this event out of box without h

[2018-12-18 17:57] AndreaBarr commented on #39
@sonika24 Can you investigate this issue please?

[2018-12-18 18:22] nenonix commented on #127
@limjianan Thank you for your feedback on the content.  I am going to research this issue and then try to work with you to improve  the text.  While  I do that, can you tell me more about what we would need to add or change to make this clearer?

[2018-12-18 19:11] AndreaBarr commented on #119
@ferrety2006 Thank you for this feedback

I want to make sure your issue gets the appropriate attention. I want to get you to Support who has more resources available to find a resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are discoveri

[2018-12-18 19:11] #119 closed

[2018-12-18 21:42] kenwith commented on #126
@maragon-belize - can you provide more information and we can work on seeing if there is already content related to this or if this is an area that needs new content. We did find this page that shows Belize already has availability for Office 365: https://products.office.com/en-us/business/international-availability

Is there something specific that is not available yet that you were looking for?

[2018-12-19 03:40] hyoshioka0128 opened #141 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Yammer.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dfa3130f-f429-4305-5114-915d1ebb9762
* Version Independent ID: 5902f898-f078-6025-8dbc-35d121d80ec9
* Content: [追

[2018-12-19 03:41] hyoshioka0128 opened #142 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Office 365.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b191c8b0-5673-efce-de2a-ba219aa82f37
* Version Independent ID: d5f71172-e733-af54-e938-19b738a026b3
* Content

[2018-12-19 03:44] hyoshioka0128 opened #143 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Yammer.
---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: c2651c11-4d40-f6e7-5f80-6a5416e90477
* Version Independent ID: a04898e8-34ab-ad61-4066-ddcf73a1c543
* Content: [Ya

[2018-12-19 05:21] maragon-belize commented on #126
Hello , yes office 365 is provided in Belize, what I am referring to is the new app Kaizala. It has not appeared on my admin page for me to administer the users.

Regards,
Maragon

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Ken Withee <notifications@github.com>
Sent: Tuesday, December 18, 2018 3:42 PM
To: MicrosoftDocs/OfficeDocs-O365ITPro
Cc: Manuel Aragon;

[2018-12-19 08:39] msbemba opened #145 "Images not showing up"
![exchadmin](https://user-images.githubusercontent.com/45987684/50208592-923e1d00-0397-11e9-8089-974fe1028b97.PNG)
![covnerttoshared](https://user-images.githubusercontent.com/45987684/50208599-966a3a80-0397-11e9-8148-8d2595343709.PNG)

[2018-12-19 10:27] bencorley opened #147 "Misleading"
Please make sure the first thing you mention in the article is "Follow the steps in Azure Active Directory cmdlets for configuring group settings to create group settings."

We didn't see this until late in the day then understood why the command were failing. This is literally Mandatory prior to start reading this article.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-12-19 14:17] mikenri commented on #93
Office 2016 supports modern authentication by default, no changes are needed to enable it.

[2018-12-19 14:48] RAJU2529 commented on #93
thanks

[2018-12-19 17:49] kenwith commented on #126
@maragon-belize - OK I got you now. I see on this page: https://products.office.com/en/business/microsoft-kaizala it shows where it is available but it does not show Belize.

Let me loop in @chuckedmonson who has written content for Kaizala and see if he knows if there is a release schedule available for other countries on a roadmap. It might be information that is not yet available yet but we can

[2018-12-19 22:40] jamesrhea commented on #145
Hi @msbemba. It appears that your issue submission only includes screenshots. Is there a specific article that you're looking at where images aren't showing up?

[2018-12-19 22:58] limjianan commented on #127
@nenonix  I have researched it further as well by creating groups in multiple places

GroupCreatedinECP
 GroupCreatedinAdminCenter
 GroupCreatedinAAD
 GroupCreatedinTeams
 GroupCreatedinTeamsPowerShell
 GroupCreatedinUnifiedGroupPowerShell

I found the only one who don't observe the email address policy when you create the group in ECP which is strange. do you want to test and confirm is it the sa

[2018-12-20 03:18] jamesrhea commented on #52
@AndreaBarr, the dead link is no longer present. This issue can be closed.

[2018-12-20 06:33] msbemba commented on #145
Hello James,

Yes, I was trying to update the article
https://docs.microsoft.com/en-us/office365/admin/email/convert-user-mailbox-to-shared-mailbox?view=o365-worldwide
with different screenshots and changes in step 2-4 . This is the first time
I'm trying to do this and I have created a pull request after making the
desired changes in the code. Not sure if I'm doing something wrong here.

On Thu, D

[2018-12-20 15:49] Weychris commented on #73
Agree, AND don't make the Organization Name too long if you want to sync Excel files! (max. 218 characters). Geeze Microsoft.

[2018-12-20 15:50] jamesrhea commented on #145
@msbemba, thanks. That clarifies things. Looks like your pull request is here: https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/146

I've added a comment to identify that PR as a fix to this issue. Thanks for helping keep Microsoft Docs current and accurate!

[2018-12-20 16:07] rstern commented on #73
We just encountered this issue (staff cannot access Excel files due to length of path). We've counseled them to use fewer and shorter nested folders but we would also like to give them some more room by changing our company name from about 30 characters to its 6-character initialism. My concern is that the change might disconnect all the staff that are already synced to their one drives, requiring

[2018-12-20 16:17] Weychris commented on #73
@rstern I'm just about to go through with this for a small 4 user site- changing the org name, maybe site name, and document library name to shortern up the file path.

[2018-12-20 16:19] rstern commented on #73
@Weychris please let us know how it goes, and if you encounter any unexpected challenges. Much appreciated!

[2018-12-20 16:21] jlopezgarcia19 opened #150 "Verificacion indentidad"
no puedo verificar mi cuenta porque, me envian el codigo a un numero telefonico que no estoy utilizando en el momento

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 95ccea09-c43c-352d-03d2-62e3f2c88024
* Version Independent ID: 928cfeb9-04f7-ee66-3086-b319ea1739f0
* Content: [Información de soporte técnic

[2018-12-20 16:39] #145 closed

[2018-12-20 17:58] #52 closed

[2018-12-20 19:47] ferrety2006 commented on #119
I've submitted a ticket - thank you! I'll come back with an outcome.

[2018-12-21 12:02] Marc26 opened #152 "tool laat zich om veiligheidsredenen niet installeren. (ook niet met administrator-rechten.)"
Office-outlook 365 loopt vast na start programma, met namen na bekijken inbox andere account dan standaard ingesteld.
De herstel-assistent loopt vast tijdens de installatie. (tool laat zich om veiligheidsredenen niet installeren. (ook niet met administrator-rechten.)

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHu

[2018-12-21 12:08] Marc26 commented on #152
![afbeelding](https://user-images.githubusercontent.com/32365478/50342021-79fa0980-0521-11e9-8027-45f22a12f345.png)

[2018-12-22 03:46] hyoshioka0128 opened #154 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Yammer.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 75c828c7-fc43-f86f-685b-37cd79208717
* Version Independent ID: bbda9176-74fc-c5ec-a8d5-466cc936fc45
* Content: [基

[2018-12-22 03:50] hyoshioka0128 opened #155 ""来園者" needs to be replaced with "ゲスト""
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Yammer.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: fe7fd096-7470-0ce6-9cf0-789746acae0c
* Version Independent ID: 673f2d50-0207-e3d7-12df-a42e6359047a
* Content: [Y

[2018-12-22 03:52] hyoshioka0128 commented on #143
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Yammer.

[2018-12-22 03:55] hyoshioka0128 commented on #154
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Yammer.

[2018-12-22 04:00] hyoshioka0128 commented on #141
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Yammer.

[2018-12-22 04:01] hyoshioka0128 commented on #142
Strongly recommend to replace "来園者" with "ゲスト" , I can see "来園者" is used as a localized Japanese word of "guest" in English, however, it should be "ゲスト" which stands for guest user of Office 365.

[2018-12-22 21:28] marypcbuk opened #156 "which Office 365 editions"
Document doesn't say if this applies to Office 365 Home as well as Business

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a8536a8-9f8e-11be-09bd-1b5b55dce588
* Version Independent ID: 985d25d7-b37e-a256-468d-fe23bd6f84cf
* Content: [Buy a domain name in Office 365](https://docs.microsoft.com/en-us/office365/admin/get

[2018-12-26 04:11] dcbrown16 opened #159 "Instruction is not universally applicable"
"On the Dashboard page, in the All resources area, choose the domain that you want to update."
...this only works if you happened to have been using that domain recently and have your Dashboard configured to show it.
The more objective procedure that should be used would be something like "type DNS zone in the search bar, then select the zone from that menu" or "go to All Services &gt; Networking

[2018-12-26 04:38] dcbrown16 commented on #159
Also, this page doesn't seem to show in the ToC, is that intentional?

[2018-12-26 19:44] khorne3 commented on #159
@AndreaBarr I'll take a look at this one.

[2018-12-26 19:46] khorne3 commented on #156
@AndreaBarr I'll take a look at this one.

[2018-12-26 20:17] #147 closed

[2018-12-26 20:17] #57 closed

[2018-12-27 00:10] AndreaBarr commented on #58
@sonika24 Could you please investigate this?

[2018-12-28 22:00] AndreaBarr commented on #93
@RAJU2529 It looks like Mike answered your question. I am going to close this issue at this time. If your issue is not resolved please re-open this issue.

[2018-12-28 22:00] #93 closed

[2018-12-28 22:07] AndreaBarr commented on #94
@sonika24 Could you please investigate this issue?

[2018-12-31 07:03] LieslJordaan commented on #128
I totally agree, am a first time user of Domains and live in  South Africa and registered with registerdomain.co.za

[2018-12-31 10:32] nenonix commented on #128
@LieslJordaan  Thank you for the feedback. I will try to reflect this in the document

[2018-12-31 19:42] AndreaBarr commented on #80
@jamesrhea Could you please investigate this issue?

[2019-01-02 18:01] toddjohnson39 opened #162 "Policy Scope"
Please clarify. Using "-IncludeUnifiedGroupRecipients" and "-ManagedByFilter" will only target Office 365 Groups, correct? So if we already have an EAP for User Mailboxes we would create an additional one for Office 365 Groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96002890-7e35-a0ab-a849-d94fef254fa8
* Versio

[2019-01-02 22:29] TiloGit opened #163 "add Copy to / Move to options and limits"
Hi,
please elaborate on the copy to / move to options.
Seems that there is a limit of 500 GB and no support for versions (see here: https://support.office.com/en-us/article/move-files-and-folders-between-onedrive-and-sharepoint-5916f90d-f58a-4bf9-b135-10853f516d0b

You can move up to 500 MB of files and folders at a time.)

What are the option for large OD of former employees without download it a

[2019-01-02 23:41] mhouston100 opened #164 "Add-In Details of the 'Enable Protected Mode' requirement"
Using an Office Add-Ins deployed using Centralized Deployment requires that 'Enable Protected Mode' be enabled in Internet Explorer Settings.

Is there more information regarding this? We don't want to 'Enable Protected Mode' across the board, is there a certain list of URL's that I can add to a certain zone (restricted for instance) that has protected mode enabled?

Is there any way for these to

[2019-01-03 17:02] EnriqueLechuga opened #166 "Problem solving not included"
The documentation lacks a  section for problem solving to activate Kaizala app. As an example, I cannot activate the app. I have downloaded it to my device (iPhone XS), entered my name, chosen my country (Mexico), entered my phone number, received a code and get a message that there is no connection and to try later). Oddly enough, if I change the code, the message states that the code is incorrec

[2019-01-03 17:12] tseward commented on #128
@LieslJordaan Can you provide an example domain name that uses that registrar?

[2019-01-03 19:39] yammerdan commented on #99
@Grobi2010 - This should happen automatically. If it's been over a week (which appears to be the case), your admin should go ahead and open a support case so we can look into this.

[2019-01-03 21:52] chuckedmonson commented on #166
@nitinjms2 and @n-r-s -- Can you please help Enrique with his activation inquiry? Thank you.

[2019-01-04 00:41] dariomws306 commented on #37
Hi @MikeDembek , please could you further elaborate on the comment?

Thank you!

[2019-01-04 06:33] LieslJordaan commented on #128
Hi there

I am not sure I am understanding you correct. Here is another example of a co.za domain "http://www.joburgsdarling.co.za/" this is the link for a South African registrar "https://www.registerdomain.co.za/" that I used. "https://www.domains.co.za/index.php" is another registrar.

The South African domains that I am aware of are www.name.co.za<http://www.name.co.za> or -.gov.za or -ac.za a

[2019-01-04 13:44] n-r-s commented on #166
Thanks @EnriqueLechuga for bringing this up.

1. You make a valid suggestion on having documentation for problem solving. This is something we're already working and will hopefully have up & running soon.
2. For the issue on signup: I am sorry to hear this happening. It will help us greatly if you could tell us the last 4 digits of your number & any approximate time interval when you were trying t

[2019-01-04 17:13] EnriqueLechuga commented on #166
Dear Neeraja,

Thank you for your prompt response. It is really nice to know you will have problem solving documentation soon.

As to my phone number, the country code is +52, the area code is 55 and the last four digits are 5484.
The last time I attempted to activate the app was yesterday at 12:44 pm Mexico City time, which is the same as Central time in the USA.

Please let me know if any additi

[2019-01-04 21:19] dariomws306 commented on #37
Hi @MikeDembek , I think you are talking about this:
https://docs.microsoft.com/en-us/sharepoint/manage-user-profiles#add-and-remove-admins-on-a-onedrive-account

[2019-01-04 22:47] MikeDembek commented on #37
Yes, that's a good option to accomplish what I was looking to do.  Could that get linked as an alternative option in part 1?

[2019-01-04 23:20] tseward commented on #128
@LieslJordaan thank you. I've updated it with a note that InterNIC only supports COM/NET/EDU TLDs. Unfortunately there is no single database from a non-commercial entity that I'm aware of which supports all forms of TLDs/gTLDs.

[2019-01-05 01:35] gandoge commented on #117
Please fix this. I have no way of getting to the manage MFA portal in this new UI.

[2019-01-05 03:09] cepmgsy opened #168 "Unable to Contact Support Team"
unable to contact skype for business support through the numbers mentioned above

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a2b385a-9cb4-9110-94bb-7d63f7e591f0
* Version Independent ID: 07d6eed9-0f79-5c7e-6c7b-0391d0190c57
* Content: [Support information for India](https://docs.microsoft.com/en-us/office365/admin/

[2019-01-05 15:57] jonblackburn opened #169 "Article is stale, here are the current commands of relevance."
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8299b0d8-25e4-af45-a9f8-724f61ed4f4a
* Version Independent ID: 4ab5dc30-7f11-758b-9b58-e5254e25774e
* Content: [Set an individual user's password to never expire](https://docs.microsoft.com/en-us/office365/admin/add-users/set-password-to-never-expire?view=o365-world

[2019-01-05 16:53] dariomws306 commented on #37
Ok, I am working on it.

[2019-01-07 11:58] thernstig opened #170 "A "basic team site" does not exist as indicated by documentation"
Text in this documentation indicates that Office 365 includes what is called a "basic team site". This basic team site does not exist. "basic team site" is mentioned twice in the documentation.

The second location it is mentioned even gives a guide how to reach the site, see this parthttps://docs.microsoft.com/en-us/office365/admin/setup/set-up-file-storage-and-sharing?view=o365-worldwide#explore

[2019-01-07 12:00] nenonix commented on #169
@jonblackburn Thank you for your feedback and for providing clarity. I will look into this and post here when this has been resolved.

[2019-01-07 19:19] IoTFier opened #172 "Retiring Staffhub App - OpenSource code ?"
Hi @AndreaBarr and others, is there any thought on Open sourcing the retiring StaffHub App code ?

Is there a link / doc that explain how can I merge (invoke) some of the Staffhub functionalities in a mobile App/Site giving access to integrate with O365 APIs but allowing me to use StaffHub App functionality while providing my own color themes etc to the merged Staffhub App module(s).

Your thought

[2019-01-07 21:25] jmlahammer opened #173 "Office 365 administration"
I would like to be able to run a report that gives me all the aliases and who they point to for my organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f73b082-eed3-e2a8-50a3-ba1b85f2915d
* Version Independent ID: 05dbb561-a215-1cf8-de66-6ea901617719
* Content: [Quick help Types of users](https://docs.microsof

[2019-01-08 00:34] EnriqueLechuga commented on #166
Dear Neeraja,

I attempted today, January 7th, and got the same result (“No connection” message). I got the code from +52 (418) 132 5656 at 5:52 pm Mexico City time (US Central time), and used it tight away.
Is there anything at all I can do to activate Kaizala?

I will certainly appreciate your help.

Warmest regards,

[20FESEN_02]

[cid:image003.png@01D4A6B7.9A99E570]

Enrique Lechuga Ballestero

[2019-01-08 09:24] danno77 opened #174 "API access permissions"
Hi, Can you please confirm the required level of permissions for accessing the Reporting API?  Is it the same as the report permissions?  thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f1b4f-6101-2741-32d9-77df46602591
* Version Independent ID: 64c576f5-200a-a702-7662-d66892596c7f
* Content: [Microsoft 365 u

[2019-01-08 12:30] DenisMitchell opened #176 ""Manage inactive mailboxes in Exchange Online" link incorrect"
As stated in title, "Manage inactive mailboxes in Exchange Online" link is incorrect and goes to:
https://docs.microsoft.com/en-us/office365/securitycompliance/eop/exchange-online-protection-overview

The link should go either to:
https://docs.microsoft.com/en-us/office365/securitycompliance/inactive-mailboxes-in-office-365
or
https://docs.microsoft.com/en-us/office365/securitycompliance/create-an

[2019-01-08 13:05] thernstig commented on #170
I also noted that this site https://docs.microsoft.com/en-us/office365/admin/setup/cutomize-team-site?view=o365-worldwide says:

That was simply not the case for me when signing up for Office 365 Business Premium. No such site exists as a SharePoint team site when I use SharePoint online.

[2019-01-08 17:41] n-r-s commented on #166
@EnriqueLechuga : Thanks a ton for the details! We found the issue with the details you gave us. It was a problem at our end, which is expected to be fixed in 2 days. You could try signing up post that and it should go through. Apologies again for the inconvenience caused & the ensuing delay.

[2019-01-08 18:04] veronicageek opened #177 "Correction to the docs on 'Enabling the content pack'"
The documentation says:
* In the admin center, expand the left nav, and go to **_Reports_** > **_Usage_**.
* On the _Usage- page, locate the _Microsoft 365 usage analytics_ card, and choose Get started.
* On the Reports panel that opens, set `Make data available the Microsoft 365 usage analytics for Power BI` to On > Save.

That doesn't seem correct as `Make data available the Microsoft 365 usage

[2019-01-09 16:17] thernstig opened #179 ""File extension matches" does not exist as a exchange mail flow rule option"
The section https://docs.microsoft.com/en-us/office365/admin/security-and-compliance/secure-your-business-data?view=o365-worldwide#5-protect-against-ransomware describes how to protect against ransomware. The part that says "Any attachment . . . file extension matches . . . " does not exist in the exchange admin-&gt;mail flow-&gt;create a new rule. Nothing called "file extension matches" exists.

[2019-01-09 16:20] thernstig commented on #179
Actually, I had missed that I had to click the "More" option. All good!

[2019-01-09 16:20] #179 closed

[2019-01-09 17:06] nenonix commented on #177
Thank you for pointing this out. I will reflect your changes in the document. While I research the issue,  can you help me by suggesting how we edit the content for clarity?

[2019-01-09 17:51] veronicageek commented on #177
Hi,

The documentation should says:

* In the admin center, expand the left navigation, and go to **_Services & add-ins_**
* On the _Services & add-ins_ page, scoll down and click on **_Reports_**.
* When the _Reports_ blade opens, check the box `Make data available the Microsoft 365 usage analytics for Power BI` and click on **_Save changes_**.

[2019-01-09 19:05] gacarini commented on #73
@lkuhn65 I believe this issue can be closed as we've added a reference to the sync client for both Windows and Mac. Let me know if you have any feedback.

[2019-01-09 20:06] AndreaBarr commented on #73
@lkuhn65 I am going to go ahead and close this issue. If this is not resolved please re-open this issue.

[2019-01-09 20:06] #73 closed

[2019-01-10 07:42] lindspea commented on #75
Ok will do.

[image: Picture]

On Sat, Dec 29, 2018 at 12:24 AM AndreaBarr <notifications@github.com>
wrote:

[2019-01-10 07:42] lindspea commented on #108
Will do.
[image: Picture]

On Fri, Dec 14, 2018 at 7:56 PM AndreaBarr <notifications@github.com> wrote:

[2019-01-10 09:14] lindspea commented on #75
@ShyangTan, thank you for pointing this out.  I will investigate further.

[2019-01-10 10:55] lindspea commented on #108
@jkerie Thank you for info.  Will look into it.

[2019-01-10 17:22] PsychoData commented on #100
@securityvoid  Can you confirm MarketingSG is a Mail-Enabled Security Group?  if not, what type of group is it?

I was able to

- add a mail-enabled security group through O365 exchange admin portal (I don't have my test tenant AAD Sync'd),
- Add that Mail-security Group as a Delegate/FullAccess to view the mailbox
- Add that mail-security group as a SendAs on Recipient Permissions for the Shared

[2019-01-11 05:34] tumud commented on #81
Tried connection to those two phone numbers over one hour in the mentioned time... but in vain

[2019-01-11 07:36] lindspea commented on #102
Will do.
[image: Picture]

On Wed, Dec 12, 2018 at 11:49 PM AndreaBarr <notifications@github.com>
wrote:

[2019-01-11 07:37] lindspea commented on #102
Hi @FlorentinStafie. Thank you for valuable contribution in pointing this out.  We will work together to resolve this soonest.

[2019-01-11 07:50] lindspea commented on #101
@michaelbunney Thank you for your valuable contribution in pointing this out and making the docs better. Much appreciated.

[2019-01-11 08:02] lindspea commented on #101
@michaelbunney thank you for your valuable contribution in improving MS docs.  We will work together to resolve this issue soonest.

[2019-01-11 11:56] nenonix commented on #177
@veronicageek  Thank you, We really appreciate your efforts to improve the documentation.

[2019-01-12 02:09] EnriqueLechuga commented on #166
Dear Neeraja,

Thank you very much for your help. I was finally able to activate the app.

Have a great weekend!

Warmest regards,

[20FESEN_02]

[cid:image004.png@01D4A9E9.902ADFB0]

Enrique Lechuga Ballesteros
Marketing and Customer Care Director
Tel. +52 (55) 5148 5696 ext. 110 | Fax +52 (55) 5148 5697 | Mobile: +52 (55) 4524 5484
Lada sin costo 01 800 022 2024 | Twitter: EnriqueLB | Skype: enr

[2019-01-13 01:34] sonika24 commented on #39
@westerdaled ,The best way to do this is to create a security group, and then only the people in that security group will be able to create Office 365 Groups and teams in apps like outlook, share point, Microsoft teams.
The administrator who configures the settings, and the members of the affected groups, must have Azure AD Premium licenses assigned to them.

[2019-01-13 12:12] cuzito opened #185 "Screen shots and work around out dated"
Hi
The screenshots for Ionos are outdated and they have changed the layout of their DNS records. Also clicking on the loop for the video continually reloads this page rather than showing the video.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60ec04cf-93af-b216-4290-c2d0ff79878d
* Version Independent ID: e7fd186e-7ef

[2019-01-14 04:12] hyoshioka0128 opened #186 "https://docs.microsoft.com/ja-jp/yammer/troubleshoot-problems/help-users-log-in-to-yammer-on-android-devices"
"https & #58;//www & #46; ssllabs & #46; com/ssltest/分析 & #46; html?d =FQDN&hideResults =&最新"
→ "https://www.ssllabs.com/ssltest/analyze.html?d=FQDN&hideResults=on&latest"

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 51fbedf3-20bb-c09d-f850-e99cbf4c9abb
* Version Independent ID: 2fce6e5e-b191-23b8-da6d-966f0b99a723
* Content: [ユーザーはログオンできません Yammer

[2019-01-14 08:31] yatsymbal opened #188 "Workarround is available for converting to shared mailbox in Hybrid"
Hello,

Is there any reason why we can't use the workaround posted in the support article as a recommended guidance?
https://support.microsoft.com/en-us/help/2710029/shared-mailboxes-are-unexpectedly-converted-to-user-mailboxes-after-di

With the workaround the process of converting mailbox to a shared in Hybrid would as easy as this:

    1. Convert a mailbox to shared in Exchange Online Admin Ce

[2019-01-14 08:45] TeyssierF opened #189 "gestion de tickets"
Bonjour je suis Technicien informatique dans une petite structure (-22 pers).
J 'ai besoin d'un service de ticket qui passe par la boite mail outlook.
Cela est il possible?
Cordialement
Florian Teyssier

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: f6eb21db-f7a1-2f51-068a-ee3b939a560f
* Version Ind

[2019-01-14 13:01] lindspea commented on #101
Hi @michaelbunney.  I have done some research on the issue.  Do you think these instructions would make it clearer:
1. On the Website, domain & email page, scroll down and click DNS, then click Web DNS.
2. Open the instructions for the type of verification record you would like to add to your domain's DNS records.
3. Add a TXT verification record (most common) Under Personal web DNS settings, from

[2019-01-14 17:03] michaelbunney commented on #101
Hi, @lindspea.  Unfortunately your proposed revision still doesn't correspond to anything I’m seeing in the U.I. of Google Domains.  When I sign in to Google Domains as directed in step 3, I do not see a “Website, domain & email” page.

In order for this procedure to correspond to what I see in Google Domains, you would need to replace step 4 with these steps:

4. On the **My domains** page, find

[2019-01-14 17:15] lindspea commented on #101
Hi @michaelbunney.  Thank you for your helpful suggestions in improving MS docs.  I will revise the instructions to resolve this issue.

[2019-01-14 18:03] petey121175 opened #190 "Soft delete gives 404 now, instead of a 403."
The 403 error no longer represents a group that's been soft deleted. We throw a 404 error instead. It was 403 some time ago, but engineering has decided to change to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22c9b1f8-635e-cbc2-6927-9f2d7767bbc6
* Version Independent ID: c2abc72f-0007-1ed1-803e-ce85f7e87d4f

[2019-01-14 19:59] kenwith commented on #126
@maragon-belize - I have an email out to @chuckedmonson to check if there is a roadmap. @nenonix did find this: https://docs.microsoft.com/en-us/office365/kaizala/regional-availability though Belize is not listed so I am looking to see if there is a published roadmap or not.

[2019-01-14 21:31] #166 closed

[2019-01-14 21:53] kenwith commented on #39
@westerdaled - thanks for your help identifying the gaps in the content and helping to make this more clear. @sonika24 - do you think you could update the article (referenced at the top of this thread) with the information in a PR and we can get it signed off and merged to live?

[2019-01-14 21:54] kenwith commented on #39
@sonika24 - actually, I think this is similar to work that @tseward might be working on. Please coordinate with him and if what he is already working on solves this we can use his PR.

[2019-01-15 06:42] westerdaled commented on #39
Thanks @sonika24, @AndreaBarr , @kenwith for progressing this . Just to reiterate, once we enable the SG that can create Office 365 groups, Is it just the admin who configured the group and the members that need  AAD P1 assigned to them? The reason I ask is because  this contradicts:

Does this mean Global Admins can also create groups as mentioned but must have the additional license, once the SG

[2019-01-15 08:06] lindspea commented on #101
Hi @michaelbunney.  Thanks again for your valuable contribution.  I have fixed the steps and they are under review, however opening a new tab for the link is unfortunately not possible.

[2019-01-15 09:16] lindspea commented on #100
Hi @securityvoid @PsychoData Thank you for your valuable contributions in improving MS docs.  We will work together to resolve this issue.

[2019-01-15 15:53] tseward commented on #39
No, as they're not part of the restricted group. Only members of the group identified to create O365 Groups require P1 licenses.

[2019-01-15 18:07] westerdaled commented on #39
Thanks @tseward. Not for the first time your insightful posts have saved me! #clientbudget

[2019-01-15 18:24] Michael-Sampson opened #193 "Microsoft 365 Roadmap not Office 365 Roadmap"
Hi Team. Microsoft has bundled the Office 365 Roadmap into the wider Microsoft 365 Roadmap. I suggest changing the couple of times above that "Office 365 Roadmap" is used, and also put in the correct link. The one you have above doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc7a47d0-7e67-1890-8a1e-192871

[2019-01-15 23:18] IrenePasternack commented on #193
Thank you. In the Yammer docs, I’ve changed the name of the link to Microsoft 365 Roadmap. The destination fwlink has been redirected so it goes to the correct location.

Irene

From: Michael-Sampson <notifications@github.com>
Sent: Tuesday, January 15, 2019 10:25 AM
To: MicrosoftDocs/OfficeDocs-O365ITPro <OfficeDocs-O365ITPro@noreply.github.com>
Cc: Irene Pasternack (Steyer Associates Inc) <v-irp

[2019-01-16 01:16] dariomws306 commented on #100
Hi @securityvoid and @PsychoData ,

I have tried a lot different ways and the only one that doesn't work for me was using "Set-Mailbox -GrantSendOnBehalfTo MarketingSG" in the middle.

I am attaching an output file.

[out.txt](https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/files/2762179/out.txt)

[2019-01-16 12:17] oberjc commented on #87
Any response to this question?  I am also looking for this info as the document is not 100% clear.

[2019-01-16 19:47] AndreaBarr commented on #87
@sonika24 Can you please investigate this?

[2019-01-16 22:03] hoyty76 opened #194 "You can't send as a distribution list just by being a member?"
I think these instructions are missing a critical step of granting Send As rights or this is talking about something totally different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2913af07-8c4d-e496-0fa5-1983d9397d92
* Version Independent ID: b43f9698-a736-86de-a0f6-f5e516ea3f6b
* Content: [Send email as a distribut

[2019-01-17 01:35] dariomws306 commented on #100
Ok, I found the issue. Issue here is that Set-Mailbox doesn't have output, so you cannot pipe after it Add-MailboxPermission:
https://docs.microsoft.com/en-us/exchange/client-developer/management/exchange-management-shell-cmdlet-input-and-output-types

I am proposing and update.

[2019-01-17 07:19] lindspea commented on #143
@samanthaw

[2019-01-17 07:20] lindspea commented on #154
@samanthaw

[2019-01-17 07:20] lindspea commented on #155
@samanthaw

[2019-01-17 07:21] lindspea commented on #142
@samanthaw

[2019-01-17 07:21] lindspea commented on #141
@samanthaw

[2019-01-17 07:30] faizallemans opened #196 "outlook script problem"
Hello Microsoft Support Indonesia

My Name in Faizal Akhmad
I buy office 365 bisnis premium with online 30 days ago with id email faizal@lemanswebhost.com
When I set up outlook 365, i had problem
Scrip display like this : Autosdiscover.lemanswebhost.com .  Name of Certificate is not valid (nama pada sertifikat keamanan tidak valid atau tidak sesuai dengan nama situs)

Can you help me

Many Thanks

[2019-01-17 08:49] matuhinal opened #197 "My ID"
Как активировать бизнес аккаунт?

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: eb46296b-72d7-ea4a-84d2-2f868f38e3cf
* Version Independent ID: 070d474b-9171-cb91-772e-4e71173b9f71
* Content: [Сведения о поддержке для Казахстан](https://docs.microsoft.com/ru-ru/office365/admin/support/

[2019-01-17 09:32] lindspea commented on #197
@samanthaw  @AndreaBarr

[2019-01-17 11:02] dariomws306 commented on #100
@PsychoData You cannot use -PassThru with Set-Mailbox. I think that the only solution is run Set-Mailbox or Add-MailboxPermission in a different line, no piping them.

[2019-01-17 12:38] PsychoData commented on #100
Oh, I thought you meant proposing an update to the module, not to the documentation only.

[2019-01-17 15:38] lindspea commented on #197
Привет. Пожалуйста, смотрите ссылки ниже.
Hi @matuhinal . Please see the links below.
https://docs.microsoft.com/en-us/office365/admin/setup/setup?view=o365-worldwide&tabs=BusPremium
https://docs.microsoft.com/en-us/office365/admin/subscriptions-and-billing/buy-licenses?view=o365-worldwide.

[2019-01-18 00:39] MollyMalone commented on #154
Sent to the localization vendors to fix.

[2019-01-18 00:40] MollyMalone commented on #143
Sent to the localization vendors to fix.  Confirmed that the customer is correct, Yammer uses ゲスト in the UI and the content should be fixed to match.

[2019-01-18 00:40] MollyMalone commented on #142
Sent to the localization vendors to fix.  Confirmed that the customer is correct, Yammer uses ゲスト in the UI and the content should be fixed to match.

[2019-01-18 00:40] MollyMalone commented on #141
Sent to the localization vendors to fix.  Confirmed that the customer is correct, Yammer uses ゲスト in the UI and the content should be fixed to match.

[2019-01-18 00:56] MollyMalone commented on #155
Sent to the localization vendors to fix. Confirmed that the customer is correct, Yammer uses ゲスト in the UI and the content should be fixed to match.

[2019-01-18 15:44] #196 closed

[2019-01-18 15:44] faizallemans commented on #196
Many Thank

[2019-01-18 21:09] dariomws306 commented on #194
Hi @hoyty76 , thanks for your feedback. You're rigth, I am updating the article so it let you know that you need the send as permissions too, it's not enough with just add the user as member.

Thank you again.

[2019-01-18 22:20] nenonix commented on #193
@Michael-Sampson and @IrenePasternack  I apologise for flooding your issue with PR references .  I am a freelancer working on a number of repos with @kenwith and @AndreaBarr  and I went through the docs and found a number of instances where we could reflect this change as well. To explain why I simply used this issue. I did change some 365itPro docs and would like to know more about the fwlink.
I

[2019-01-18 22:22] kenwith commented on #193
@LolaJacobsen - FYI

[2019-01-19 01:20] apriltale opened #205 "CNAME"
"In the New Resource Record dialog box, make sure that the fields are set to precisely the following values:
Host Name: sip
Type: CNAME
Address: sip
dir.online.lync.com"

The Address should be in one sentence "sipdir.online.lync.com" instead of separately.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0937468-6fd2-c8

[2019-01-19 13:21] lindspea commented on #205
@apriltale thank you for pointing this out and your valuable contribution in improving MS docs.  We will work together to have it changed as soon as possible.

[2019-01-21 19:04] msbemba opened #207 "Focused Inbox"
![focused inbox payroll](https://user-images.githubusercontent.com/45987684/51494051-67ebdf00-1ddd-11e9-9685-5e9d20abade2.PNG)

[2019-01-22 12:14] JeremyTBradshaw commented on #64
So.. does this mean the Graph just performs cmdlets against exchange?

[2019-01-22 19:11] AndreaBarr commented on #64
@sonika24 could you please investigate this?

[2019-01-23 05:08] junecastillote opened #210 "Deleted Date values missing from Mailbox Usage Report"
Pulling the <i>getMailboxUsageDetail</i> using Graph API or exporting the report from Office 365 portal, the <b>Deleted Date</b> value is always blank - even when the <b>Is Deleted</b> value is <b>True</b>.
This produces an inaccurate report regarding deleted mailboxes.

Also, some mailboxes that actually are not deleted are showing as deleted (Is Deleted = true) in the report.

[2019-01-23 05:33] #207 closed

[2019-01-23 11:11] raymondhahs opened #211 "What is other activity???"
hi, what is other activity in the teams report???  my channel message, chat messge, calls and meetings are only 200, but other activity are up to 800... how do i know what are the other activity about?  TQ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a013cc2d-f495-9c68-002a-be7e861bfcdc
* Version Independent ID: 7b15

[2019-01-23 20:42] #39 closed

[2019-01-23 22:22] bensonrlee opened #213 "Contact Number for Philippines Mobile Phones"
Is there a contact number that can be called from mobile phones in the Philippines?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94f68f42-3e1e-f119-c15b-83e788997eae
* Version Independent ID: 0bf16d91-f0a3-96e4-8ddf-4ef00e613c7a
* Content: [Support information for Philippines](https://docs.microsoft.com/en-us/office3

[2019-01-24 00:52] Jimnar opened #214 "Learn more section issues"
The Office 365 public roadmap was renamed the Microsoft 365 public roadmap. Also, I think the message center link might be wrong, or it might require permissions to access the center within Office 365. You might want to note that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 046ce912-1f0f-81b9-1126-5558e93df52a
* Ver

[2019-01-24 07:45] lindspea commented on #213
@AndreaBarr @scanum please assign to me

[2019-01-24 07:48] lindspea commented on #213
@bensonrlee I have found a number for the Philippines. Please let me know if it works and I will have it added to the document. Phone: (63 2) 860 8989. Thank you for your valuable contribution in helping improve MS docs.

[2019-01-24 09:18] bensonrlee commented on #213
Hi @lindspea, I called the number to try it and it does not sound like from Office 365 at all.

The greeting simply said: "Welcome to Microsoft Philippines, please stay on the line and an operator will be right with you".

After a brief hold on queue, the call gets terminated without being connected to an operator at all.

[2019-01-24 09:22] lindspea commented on #213
Thanks @bensonrlee. I will investigate further and let you know.  Thanks again for your contribution.

[2019-01-24 10:27] AndreasZinic opened #215 "There are two contrary statements"
First One here:
"If you only remove a user's license but don't delete the account, the content in the user's OneDrive will remain accessible to you even after 30 days."

Second One:
"When you remove the license, all that user's data is held for 30 days. You can access the data, or restore the account if the user comes back. After 30 days, all the user's data (except for documents stored on SharePo

[2019-01-25 08:47] Benny183 opened #218 "Target Release for Organisation could be different to Target Release for selected Users"
It could happen that some features are only available in Target Release for organization. There should be a noticed that this could happen and powerusers will not see all preview features.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 046ce912-1f0f-81b9-1126-5558e93df52a
* Version Independent ID: 755e811c-2aa0-9dc5-68

[2019-01-25 18:15] cmcatee-MSFT commented on #213
Hi @bensonrlee. The #s published above are the only support #s we have for the Philippines. If you're unable to call either of those #s, please use the Need help? button in the admin center to open a support request, and one of our agents can either email or call you back.

[2019-01-25 18:19] #213 closed

[2019-01-27 22:21] DeanGross opened #220 "Applicable Services"
Which services and applications are accessible through Lockbox? which ones are not? Please add this to the documentation

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39baa10f-a0eb-7a34-ccab-2c5fa86d0c3a
* Version Independent ID: e5358a65-c3cf-36b3-0e09-71f569f1e5bc
* Content: [Office 365 Customer Lockbox Requests](ht

[2019-01-29 09:10] piersrr opened #222 "Missing steps"
"You can take steps while you add the domain to keep its website hosted where the site is hosted"

What steps where??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 922a82b5-470a-553b-2bc0-292140ec82b7
* Version Independent ID: e27c707b-0693-86fc-fa2a-b417b0633c05
* Content: [Change nameservers to set up Office 365 wit

[2019-01-29 10:32] DerekGreen opened #224 "This Documentation is incorrect - Can you please update!"
*** This Documentation is incorrect - Can you please update ***

I have been trying and failing to change the EmailAddress Alias on an O365 group using the following command (as in this webpage from 26/10/2018)
   Set-UnifiedGroup -Identity "Group name" -Alias @{remove="alias@contoso.com"}

I then spent a couple of hours with MS Support over the last few days, trying to resolve this issue... they'

[2019-01-29 13:46] lindspea commented on #224
@AndreaBarr @scanum please assign to me.

[2019-01-29 13:47] lindspea commented on #224
Hi @DerekGreen. Thank you for pointing this out and for your valuable contribution in helping to improve MS docs.  I will have this updated as soon as possible.

[2019-01-29 17:51] Rkendall75 opened #226 "Spelling TYPO"
The Versions view shows you the number of unique users for each version of Outlook in Wondows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 535888ea-6011-1467-bf9a-1de66cb8c402
* Version Independent ID: d72f6ddc-15a0-5398-251e-92496afdf309
* Content: [Office 365 Reports in the Admin Center - Email apps usage](https:/

[2019-01-30 06:09] Barbara232 opened #228 "Where's the English support?"
I called 0120 628 860 for help with short-term account deactivations. The recorded message is only in Japanese and when I was able to speak with a person, she acted like English support was not available.  I've been on hold now for 5 minutes, while she scrambles (I'm presuming here) to find someone who speaks English.  Oh dear, now I see where I've gone wrong.  You only have English language suppo

[2019-01-30 16:24] #46 closed

[2019-01-30 20:22] dianef77 commented on #87
Hi, I updated this article to clarify the licensing requirements.

[2019-01-30 20:23] dianef77 commented on #79
Hi Mohit, I updated the article for this issue.

[2019-01-30 20:39] DFLiddle commented on #87
Thank you for the update! It is nice and clear now.

(Some readers might take note that, at this time, the Azure Active Directory Premium P1 license mentioned is also part of the Enterprise Mobility + Security suite.)

[2019-01-30 21:03] MollyMalone commented on #141
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 21:03] MollyMalone commented on #142
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 21:03] MollyMalone commented on #143
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 21:03] MollyMalone commented on #154
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 21:04] MollyMalone commented on #155
The content was previously machine translated and is now human translated and fixed as suggested.  Thanks for the feedback!

[2019-01-30 22:46] #141 closed

[2019-01-30 22:46] #142 closed

[2019-01-30 22:46] #143 closed

[2019-01-30 22:46] #154 closed

[2019-01-30 22:47] #155 closed

[2019-01-31 08:25] hyoshioka0128 opened #229 "Characters are visible instead of .png"
Characters are visible instead of .png(../media/455b84df-defb-4da6-92f7-0ca21cc8d930.png)

https://docs.microsoft.com/ja-jp/yammer/troubleshoot-problems/limited-functionality-in-explorer-10-document-mode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 772c688b-607c-8812-a8d8-13026750156b
* Version Independent ID: 0a85ea

[2019-01-31 17:23] #128 closed

[2019-01-31 21:18] scanum commented on #226
A PR has been made https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/230

[2019-01-31 21:20] kenwith commented on #226
Merged!

[2019-01-31 21:22] #226 closed

[2019-01-31 22:59] #79 closed

[2019-01-31 23:35] AndreaBarr commented on #67
@FlorentinStafie  this has been fixed

[2019-01-31 23:35] #67 closed

[2019-01-31 23:48] BEAULONEA commented on #169
Is there an upadated command to find out whether a user's password is set to never expire?

[2019-02-01 00:18] mypil commented on #77
@samanthaw

[2019-02-01 07:02] lindspea commented on #108
@AndreaBarr @mypil this issue can be closed.

[2019-02-01 10:52] carlosmiguelsns opened #232 "Emails sent to distribution list not being received by all recipients"
We are having a problem where when emails are sent to a distribution list (e.g. distList@company.com), not all members of that distribution list are receiving the emails. It occurring on one particular dist list. I confirmed that certain users didn't receive certain emails. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-02-01 13:14] mypil commented on #150
@samanthaw

[2019-02-01 13:16] mypil commented on #152
@samanthaw

[2019-02-01 13:38] mypil commented on #186
@samanthaw

[2019-02-01 13:42] mypil commented on #189
@samanthaw

[2019-02-01 15:10] lindspea commented on #197
@samanthaw @MollyMalone please review

[2019-02-01 16:47] j0rt3g4 commented on #91
Hi there @michevnew The required permissions to do the add/modifications of the domains are being done on a TENANT level, that's the reason why it requires the permissions of "Global Administrator".

Since Customized Administrator is required to do specific management of the office365, in another hand the domain that you can add or remove has a global effect on the tenant.

[2019-02-01 16:55] michevnew commented on #91
Jose, what I meant was can you please update this in the article, as it doesnt explicitly mention it now :) I see that you added a note on top now, so all is good.

[2019-02-01 16:55] #91 closed

[2019-02-01 16:56] j0rt3g4 commented on #91
Will do

[2019-02-01 17:03] j0rt3g4 commented on #91
@michevnew  is done on the pull: https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/compare/public...j0rt3g4:public

[2019-02-01 17:04] #37 closed

[2019-02-01 17:18] #108 closed

[2019-02-01 17:24] j0rt3g4 commented on #91
Vasil!!!
Now I've found you here as well hahaha.

I know you from experts exchange :)

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Vasil Michev <notifications@github.com>
Sent: Friday, February 1, 2019 10:55:21 AM
To: MicrosoftDocs/OfficeDocs-O365ITPro
Cc: Jose Gabriel Ortega Castro; Comment
Subject: Re: [MicrosoftDocs/OfficeDocs-O365ITPro] Permissions (#

[2019-02-01 18:05] #100 closed

[2019-02-01 18:05] #102 closed

[2019-02-01 18:30] samanthaw commented on #152
@MollyMalone

[2019-02-01 18:31] samanthaw commented on #150
@MollyMalone

[2019-02-01 19:03] AndreaBarr commented on #123
@fkaleck It looks like Irene has resolved this issue. I am closing this as this time. If this issue is not resolved pleaser re-open this issue.

[2019-02-01 19:03] #123 closed

[2019-02-01 19:11] AndreaBarr commented on #124
@fkaleck It looks like Irene has resolved this issue. I am going to close this at this time. If this is not resolved please re-open this issue.

[2019-02-01 19:11] #124 closed

[2019-02-01 19:44] dplotnikov commented on #90
@DFLiddle let me answer your questions.

I see that you have a couple of issues here

- You were using the same name for 2 groups and it shouldn't allow you to do that
- EmailAddresses filter should be surrounded by **, so in your example, it should be EmailAddresses -like "*domain1.de*" instead of EmailAddresses -like "domain1.de"

I was making some tests on my end and I think you were confused b

[2019-02-01 20:08] nenonix commented on #214
@Jimnar Thank you for pointing this out. We will post back here when the issue has been addressed.

[2019-02-02 00:38] MollyMalone commented on #197
Вот ссылки на российские статьи:
Here are links to the Russian articles:
https://docs.microsoft.com/ru-ru/office365/admin/setup/setup?view=o365-worldwide&tabs=BusPremium
https://docs.microsoft.com/ru-ru/office365/admin/subscriptions-and-billing/buy-licenses?view=o365-worldwide.
@lindspea once you add the correct link to the English article we will automatically update the Russian article (как толь

[2019-02-02 00:54] ismail2018x opened #236 "lklklk"
kllkl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a55cc6-4e1f-b456-f59c-82e6f854f1ff
* Version Independent ID: ad66caa0-eed4-168c-650f-5e4b8bc1532a
* Content: [Support information for United States](https://docs.microsoft.com/en-us/office365/admin/support/united-states?view=o365-worldwide#technical-support)
* Cont

[2019-02-02 01:01] MollyMalone commented on #186
Logged bug for @OfficeGSX to review/fix

[2019-02-02 05:50] D1872375545 commented on #232
Is it dynamic distribution group? if so ,you can refer to the link:
https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/use-directory-based-edge-blocking

O365's DBEB features prevent external users from sending mail to dynamic distribution group within an organization

[2019-02-02 06:32] lindspea commented on #224
@AndreaBarr  @mypil  This issue can be closed.

[2019-02-02 06:34] lindspea commented on #75
@AndreaBarr  @mypil This issue can be closed thank you.

[2019-02-02 06:36] lindspea commented on #205
This can be closed thanks @AndreaBarr @mypil

[2019-02-02 06:41] lindspea commented on #101
@AndreaBarr @mypil this can be closed.

[2019-02-02 06:45] j0rt3g4 commented on #63
Hello @BogdanStefanManolache, right now there is no possibility to do this, either way, it's on the MS Teams user's voice forum, [https://microsoftteams.uservoice.com/forums/599053-schools-and-universities/suggestions/35061151-sync-distribution-lists-with-teams](microsoftteams.uservoice.com/forums) as a suggestion

[2019-02-02 07:14] lindspea commented on #197
Hi Molly, this might be a stupid question but where is the English
article?  The content from this issue only brings up the page for contact
support for Kazakhstan.?

[image: Picture]

On Sat, Feb 2, 2019 at 2:38 AM TinaMc <notifications@github.com> wrote:

[2019-02-02 15:38] hyoshioka0128 opened #239 "Showing &#39; HTML code of single quote character"
What& #39; s の新しい → 新着情報

https://docs.microsoft.com/ja-jp/yammer/yammer-landing-page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 701c4134-00e1-34c7-e7d0-75f521733c9a
* Version Independent ID: 8233cbcd-59ee-a3e1-f3c1-07ae522bef21
* Content: [Yammer admin key concepts](https://docs.microsoft.com/en-us/yammer/get-star

[2019-02-03 20:31] ferrety2006 commented on #119
Ticket confirmed that we have an inconsistent experience to what is documented here. Documentation should include the information that StaffHub team creation from a Groups only perspective is impacted by this method. Staffhub Teams, independent of groups, can still be created by anyone at this time.

[2019-02-03 21:10] tseward commented on #119
Like SharePoint, it is possible to create non-groupified sites. This article only covers Group-based restrictions.

[2019-02-04 11:32] DFLiddle commented on #90
Hi, @dplotnikov, and thank you for the input. Unfortunately, there seems to be some automatic formatting going on with these entries, so you wouldn't have seen that my commands did indeed contain the requisite asterisk ( * ) characters. The Markdown styling formats anything bounded by single \*asterisks\* as *italicized* text. By including an escape character ( \ ), one can cancel that formatting

[2019-02-04 11:32] #90 closed

[2019-02-04 12:55] mypil commented on #90
@AndreaBarr - This issue can be closed.

[2019-02-04 13:02] mypil commented on #190
@AndreaBarr - This issue can be closed.

[2019-02-04 14:31] mypil commented on #133
Hi @AndreaBarr - This issue can be closed. Thank you.

[2019-02-04 14:45] mypil commented on #188
@yatsymbal - Thank you for submitting this Feedback.

From my understanding the issue of has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-04 14:45] mypil commented on #188
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-04 15:33] mypil commented on #78
Hi @hooperman, we would like to follow up and get more details from you. Can you please share what specific issue you have with this article?

[2019-02-04 15:39] mypil commented on #229
@samanthaw

[2019-02-04 16:04] #190 closed

[2019-02-04 16:55] AndreaBarr commented on #152
I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are dis

[2019-02-04 16:55] #152 closed

[2019-02-04 16:58] AndreaBarr commented on #150
I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this information you are dis

[2019-02-04 16:58] #150 closed

[2019-02-04 17:00] #224 closed

[2019-02-04 17:00] #75 closed

[2019-02-04 17:00] #205 closed

[2019-02-04 17:01] #101 closed

[2019-02-04 17:35] nenonix commented on #170
Thank you @thernstig. We appreciate your effort and feedback that helps us improve the content. We will post back here when we have amended the document in question.

[2019-02-04 18:20] #193 closed

[2019-02-04 18:20] #133 closed

[2019-02-04 18:21] #188 closed

[2019-02-04 18:31] mypil commented on #97
Hi @dcodding - we would like to follow up on this. Did JBerglundAW resolve your issue?

[2019-02-04 19:22] StuBeck32 commented on #117
Under Manage MFA Features, step 2 has "On the multi-factor authentication page, select the check box next to the people you want to manage." What is the multi-factor authentication page and how do you get to it?

[2019-02-04 19:35] AndreaBarr commented on #176
@DenisMitchell  It appears that this link has been updated/corrected already.

I have verified that the link now goes to https://docs.microsoft.com/en-us/office365/securitycompliance/create-and-manage-inactive-mailboxes.

I am going to close this issue at this time. If the link is not updated when you follow it please let us know.

[2019-02-04 19:35] #176 closed

[2019-02-04 19:49] mypil commented on #130
Hi @AndreaBarr - This issue can be closed. Thank you.

[2019-02-04 19:51] #130 closed

[2019-02-04 19:53] mypil commented on #232
@carlosmiguelsns - I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I really want to get this info

[2019-02-04 20:06] #232 closed

[2019-02-04 20:14] dplotnikov commented on #189
Bonjour, juste pour confirmer, allez-vous adresser une demande d'assistance par courrier électronique à Microsoft? Si tel est le cas, ouvrez votre panneau d’administration Office 365, puis recherchez un élément de menu Support dans le menu. Cet élément de menu devrait vous permettre de créer une nouvelle demande d'assistance par courrier électronique.

[2019-02-04 20:50] lindspea commented on #197
@MollyMalone Hi Tina, I'm aware of the links but where is the content document that needs to be updated with the links? This issue was opened under the document - contact support for Kazakhstan.

[2019-02-04 22:31] samanthaw commented on #229
@MollyMalone

[2019-02-05 09:46] kennethvs opened #243 "MFA in combination with Conditional Access"
Please provide some more information about what to configure at the MFA side when using MFA from Conditional Access policies. Which settings must be set/or not be set in order to get this working properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ed95865-eddb-4ad1-d2e2-5bd618151c1b
* Version Independent ID: ef32

[2019-02-05 13:46] dplotnikov commented on #189
@TeyssierF bonjour attend toujours votre entrée

[2019-02-05 14:06] mypil commented on #78
@hooperman - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the SharePoint better. They keep a close tab on User Voice https://sharepoint.uservoice.com and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already you co

[2019-02-05 15:00] mypil commented on #63
@BogdanStefanManolache - Did j0rt3g4 & tseward answer your query?

[2019-02-05 15:05] mypil commented on #118
@CaitlinKnox  - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the Office 365 better. They keep a close tab on User Voice https://office365.uservoice.com/ and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already you

[2019-02-05 15:08] BogdanStefanManolache commented on #63
Yes, they answered but it is not what I was hoping for. Thanks to all of you for answering.

Kind Regards!

[2019-02-05 15:38] mypil commented on #69
@Markus-Hanisch - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution

[2019-02-05 15:40] mypil commented on #70
@2704lnx - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I

[2019-02-05 15:44] mypil commented on #86
@pmdci - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I re

[2019-02-05 15:46] mypil commented on #99
@Grobi2010 - - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution an

[2019-02-05 15:46] #78 closed

[2019-02-05 15:47] #118 closed

[2019-02-05 15:47] #69 closed

[2019-02-05 15:47] #70 closed

[2019-02-05 15:48] #86 closed

[2019-02-05 15:50] 2704lnx commented on #70
I have already do that! no results.  I am in list in uservoice portal... no solutions at this time
https://office365.uservoice.com/forums/286611-office-365-groups/suggestions/36147103-after-block-office-group-creation-in-tenant-we-ar

[2019-02-05 15:57] hooperman commented on #78
Neither of the links in this email worked

Kind Regards​

[cid:image010.png@01D4BD6B.69D564D0]

Paul Hooper

Director

,

Route22 Limited

[cid:image011.png@01D4BD6B.69D564D0]

+441883370692<tel:+441883370692>

 |

[cid:image012.png@01D4BD6B.69D564D0]

+447903938616<tel:+447903938616>

[cid:image013.png@01D4BD6B.69D564D0]

paul.hooper@route22.co.uk<mailto:paul.hooper@route22.co.uk>

 |

[cid:image

[2019-02-05 16:03] mypil commented on #138
@stche - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the OneDrive better. They keep a close tab on User Voice https://onedrive.uservoice.com/ and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already you could ope

[2019-02-05 16:04] #138 closed

[2019-02-05 16:20] mypil commented on #228
@Barbara232 - thank you for submitting feedback.

Please check on this [link](https://docs.microsoft.com/en-us/office365/admin/contact-support-for-business-products?redirectSourcePath=%252fen-us%252farticle%252fContact-support-for-business-products-Admin-Help-32a17ca7-6fa0-4870-8a8d-e25ba4ccfd4b&view=o365-worldwide&tabs=phone) for the support phone number based on the country you select (English s

[2019-02-05 16:22] #228 closed

[2019-02-05 16:38] veronicageek opened #244 "Correction to 'Customer Lockbox Requests' location"
Hi,

The ```Customer LockBox Requests``` are located under _**Support >> Customer LockBox Requests**_.
Not anymore under _Settings > Support > Service requests_.

![image](https://user-images.githubusercontent.com/25181757/52288552-56b9db00-2964-11e9-9db4-f72db1315ebe.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-05 17:41] mypil commented on #164
@mhouston100 - Thank you for your valuable contribution in helping improve MS docs. Can you please share the document link or content source link for this particular issue?

[2019-02-05 18:50] mypil commented on #210
@junecastillote - Thank you for your valuable contribution in helping improve MS docs. Can you please share the document link or content source link for this particular issue?

[2019-02-05 19:06] #197 closed

[2019-02-06 11:26] pmdci commented on #86
Uh?

I don't need to open a ticket. I asked a question for a scenario that is common -- not a specific issue I need help with.

[2019-02-06 13:54] dplotnikov commented on #189
@TeyssierF s'il vous plaît laissez-moi savoir si vous avez encore des questions

[2019-02-06 15:21] mypil commented on #210
@junecastillote - we would like to follow up on this. May we know which Microsoft document link you used in reference to this issue? Please share it with us so we can make the necessary changes to improve the MS document for accuracy.

[2019-02-06 15:21] msbemba commented on #220
The only services that  Customer Lockbox works with are Exchange Online, SharePoint Online, and OneDrive for Business. I can now see it updated in the document.

[2019-02-06 15:52] pgferrero opened #246 "Menus have changed again - please keep this updated"
Unless this is just specific to me, I do not see the "Manage columns" options anymore.  If this is indeed removed from functionality, please update this page so it is relevant to the user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0edd827-38a3-12d1-7836-a2eacc97ed1c
* Version Independent ID: b0765177-6d47-49f4-47

[2019-02-06 16:02] j0rt3g4 commented on #49
Hi, @sing-ideas  Did you try to do the live demo at
https://kaizalademo.office.com/ on steps 4, 5 and 6 gives you the permissions and if it's requested the O365 account checkbox checked it would be required to have that Sign-in access.

[2019-02-06 16:32] msbemba commented on #222
Created PR https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/245

[2019-02-06 16:34] msbemba commented on #163
Created PR to add a note about he limitations.
 https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/247

[2019-02-06 16:35] j0rt3g4 commented on #168
This is the way you can get help if that channel doesn't work:
https://www.youtube.com/watch?v=puuOy0sEg1Y

[2019-02-06 16:40] MollyMalone commented on #186
@hyoshioka0128 thank you for reporting it.  The issue is fixed now.

[2019-02-06 17:50] mypil commented on #68
@eysz7x - Can you please share what specific issue you have with this article?

[2019-02-06 18:21] mypil commented on #63
@AndreaBarr -This issue can be closed. Thank you.

[2019-02-06 18:23] #63 closed

[2019-02-06 18:49] j0rt3g4 commented on #49
I've added the section with the related description of each role. Please check it out

[2019-02-06 18:50] j0rt3g4 commented on #42
@micfau1091 I've added more clarifications on the documentation

[2019-02-06 19:06] matuhinal commented on #197
Thanks for the tip!We started working with the Azure team yesterday! 06.02.2009, 01: 06, "AndreaBarr" <notifications@github.com>:Closed #197.—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.  -- With respect,MatuhinaL+77078086126 

[2019-02-06 19:12] mypil commented on #77
@samanthaw @MollyMalone

[2019-02-06 19:16] mypil commented on #109
@J-Fedor - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-06 19:20] mypil commented on #116
@PallaviPandey30 - we would like to follow up and get more information from you. Is there a specific part of the article you would suggest us edit or add in?

[2019-02-06 19:23] mypil commented on #164
@mhouston100 - we would like to follow up on this. May we know which Microsoft document link you used in reference to this issue? Please share it with us so we can make the necessary changes to improve the MS document for accuracy.

[2019-02-06 19:29] mypil commented on #172
@IoTFier - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the Office 365 better. They keep a close tab on User Voice- **[](https://office365.uservoice.com/)** and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already

[2019-02-06 19:31] mypil commented on #186
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-06 19:44] mypil commented on #211
@raymondhahs - Thank you for engaging with the community here for the docs.

The **Other activity** is the number of other team activities by the user some of which include, and not limited to: liking messages, apps, working on files, searching, following teams and channel and favoriting them.

Please check on this MS article link for more details - https://docs.microsoft.com/en-us/microsoftteams/

[2019-02-06 19:52] mypil commented on #173
@jmlahammer - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and

[2019-02-06 20:57] Sirkkuw commented on #214
@mypil yes - the roadmap has been renamed to Microsoft 365 public roadmap and the message center link is incorrect - it is now:
https://admin.microsoft.com/Adminportal/Home?source=applauncher#/MessageCenter

[2019-02-06 22:09] allenmock opened #248 "Step 2 8b incorrect"
Step 2 8b says "red rectangles above".

the image is below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32446a8e-a16c-8017-290e-d414e6d9a242
* Version Independent ID: e4f45a16-0deb-2eb4-eca2-31bec804dc51
* Content: [Create a knowledge-based commnity in Yammer by using QnA Maker and Flow](https://docs.microsoft.com/e

[2019-02-06 23:04] #172 closed

[2019-02-06 23:05] #173 closed

[2019-02-07 00:19] cmcapellan opened #249 "No support for Modern Auth"
All of our Global Admins have MFA turned on. This script is useless for us without MFA support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0659185-aece-2fa7-0e9d-fe56c771d8f9
* Version Independent ID: b5f0658e-d859-ad4d-7d1f-33a753fbd6c9
* Content: [Determine if Centralized Deployment of add-ins works for your org

[2019-02-07 00:51] MollyMalone commented on #77
@arichter83 thank you for reporting it.  I passed on to the localizers to fix it.

[2019-02-07 03:17] jamesrhea commented on #185
@pebaum, is this the video referred to in this article? https://www.youtube.com/watch?v=H7KLpm50kv8

[2019-02-07 03:56] hyoshioka0128 opened #251 ""電源の BI" needs to be replaced with "Power BI""
https://docs.microsoft.com/ja-jp/office365/admin/usage-analytics/enable-usage-analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ec8961e-4fc1-eb46-1e71-3147b55ac90e
* Version Independent ID: 2c66ebfb-53b5-18ab-e560-702d4cae057f
* Content: [Enable Microsoft 365 usage analytics](https://docs.microsoft.com/en-us/of

[2019-02-07 03:57] hyoshioka0128 opened #252 ""電源の BI" needs to be replaced with "Power BI""
https://docs.microsoft.com/ja-jp/office365/admin/usage-analytics/usage-analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f1b4f-6101-2741-32d9-77df46602591
* Version Independent ID: 64c576f5-200a-a702-7662-d66892596c7f
* Content: [Microsoft 365 usage analytics](https://docs.microsoft.com/en-us/office365/admin/

[2019-02-07 03:58] hyoshioka0128 opened #253 ""電源の BI" needs to be replaced with "Power BI""
https://docs.microsoft.com/ja-jp/office365/admin/usage-analytics/customize-reports?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1fdd664-c2d2-7712-fd41-3745c52d1442
* Version Independent ID: 0dfdadc8-15f0-dd7e-0efc-9a2565f7b519
* Content: [Customize the reports in Microsoft 365 usage analytics](ht

[2019-02-07 04:02] hyoshioka0128 opened #254 ""電源の BI" needs to be replaced with "Power BI""
https://docs.microsoft.com/ja-jp/office365/kaizala/content-pack

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cec87f28-ba9a-63b8-3543-d82ff6b44a51
* Version Independent ID: 0e7558d4-ac8a-be96-f6c2-5b8b7ea4316d
* Content: [Kaizala コンテンツ パック](https://docs.microsoft.com/ja-jp/office365/kaizala/content-pack)
* Content Source: [Office365-Kaizala/content-

[2019-02-07 06:34] mhouston100 commented on #164
Hi Sorry, I'm getting back to this ASAP, I've just had the craziest week
with some SCCM/certificate issues!

I believe it was a couple of technet forum posts that discovered it I will
dig back through to find it.

Ive also done extensive testing on it, but the only way I can get Office
Store based add-in's to work is through enabling protected mode.

What originally led me to testing was this arti

[2019-02-07 13:03] mypil commented on #248
@allenmock - Thank you for pointing this out.

I will get this issue over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-02-07 13:56] kenwith commented on #189
@TeyssierF - I do not speak French but looking at Bing Translator it seems you are asking to open a service ticket or have a question about support. Please open a service ticket in your tenant. Here is a link on how to do that: https://www.youtube.com/watch?v=puuOy0sEg1Y

Thank you for your feedback and please feel free to re-open this issue if I am misunderstanding and there is a specific area of

[2019-02-07 13:56] #189 closed

[2019-02-07 14:09] lindspea commented on #218
@Benny183 Thank you for reaching out.  I will investigate further and add the necessary information.  Thanks for your valuable contribution.

[2019-02-07 14:20] lindspea commented on #215
@AndreasZinic Thank you for reaching out and helping improve MS docs.  I will investigate further and revert soonest.

[2019-02-07 14:25] lindspea commented on #125
@sravenscroft Thank you for reaching out and helping improve MS Docs.  Please confirm if you have found the solution to your issue in the above comment and I will have the necessary changes made to the document.

[2019-02-07 14:34] mypil commented on #168
@cmcatee-MSFT - this issue is similar to #81

[2019-02-07 14:41] mypil commented on #81
@jerikkofrancisco & @tumud  - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

[2019-02-07 14:42] mypil commented on #168
@cepmgsy - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

[2019-02-07 16:35] mypil commented on #109
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-07 16:52] lindspea commented on #174
Hi @danno77 Thank you for reaching out.  The same permissions apply for viewing and for the reporting API. Please let me know if you need any further assistance.

[2019-02-07 16:56] mypil commented on #45
@GeoffreyMcN - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the Office 365 better. They keep a close tab on User Voice **https://office365.uservoice.com/** and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already

[2019-02-07 17:09] mypil commented on #220
@DeanGross - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-07 17:10] mypil commented on #220
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-07 17:13] mypil commented on #210
@junecastillote - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution

[2019-02-07 17:22] mypil commented on #236
@ismail2018x - Thanks for contributing to make the content better in Microsoft docs.

Can you please share what specific issue you have with this article?

[2019-02-07 17:25] mypil commented on #239
@samanthaw @MollyMalone

[2019-02-07 17:58] mypil commented on #97
@dcodding - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-07 17:58] mypil commented on #97
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-07 18:22] mypil commented on #71
@angoo-atea -  Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the  Office 365 better. They keep a close tab on User Voice **https://office365.uservoice.com/** and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already

[2019-02-07 18:52] mypil commented on #211
@raymondhahs - Have we answered your query about the "Other Activity"?

[2019-02-07 18:57] #210 closed

[2019-02-07 18:58] #45 closed

[2019-02-07 18:58] #71 closed

[2019-02-07 19:00] chuckedmonson commented on #254
Issue fixed, thank you.

[2019-02-07 19:00] #254 closed

[2019-02-07 19:12] natebd opened #258 "Azure AD Organizational Unit as User Criteria for Microsoft 365 Usage Analytics with Power BI"
It would be amazing if Azure AD had an Organizational Unit as User State Table Data for Microsoft 365 Usage Analytics with Power BI.
We are large company and generally manage a lot of non Office 365 reporting Data against our On-Prem AD OU Structure.  So far the Microsoft 365 analytics only let me filter reports with state, country, office.  Being able to somehow link our OnPrem OU properties to A

[2019-02-07 19:45] Sirkkuw commented on #177
@veronicageek  and @AndreaBarr - the steps in the topic are actually correct. The green field experience has the "Get Started" button there if you never set this up before.
In the **Service&add-ins** `>` **reports** you can uncheck to turn it off, I believe.
I am going to close the associated PR.

[2019-02-07 19:45] #177 closed

[2019-02-07 19:59] mypil commented on #194
@hoyty76 - From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-07 20:00] mypil commented on #194
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-07 20:55] #194 closed

[2019-02-07 21:00] #97 closed

[2019-02-07 21:05] #220 closed

[2019-02-07 21:07] #109 closed

[2019-02-07 22:39] j0rt3g4 commented on #244
Solving in pull [#242](https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/242)

[2019-02-07 23:38] dstrome opened #259 "test"
test

---
#### Dokumentuaren xehetasunak

⚠ *Ez editatu sekzio hau. docs.microsoft.com ➟ GitHub arazoak estekatzeko beharrezkoa da.*

* ID: f6eb21db-f7a1-2f51-068a-ee3b939a560f
* Version Independent ID: 15980f1a-120a-5a2d-0df0-c54ba099410e
* Content: [Support information for France](https://docs.microsoft.com/eu-es/office365/admin/support/france?view=o365-worldwide)
* Content Source: [Office365-Ad

[2019-02-07 23:44] #259 closed

[2019-02-08 00:14] MollyMalone commented on #229
@hyoshioka0128 the image is now displaying ok in the Japanese topic.  Thanks again for reporting it.

[2019-02-08 00:46] MollyMalone commented on #239
@hyoshioka0128 Great bug, thanks for reporting.  I see the same issue for all languages, not just Japanese.   I shared with the localization vendors and they will fix it soon.

[2019-02-08 03:20] j0rt3g4 commented on #246
This issue has been solved at pull [#242](https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/242)

[2019-02-08 03:47] j0rt3g4 commented on #243
Solved at pull [#242](https://github.com/MicrosoftDocs/OfficeDocs-O365ITPro/pull/242)

[2019-02-08 03:49] hyoshioka0128 opened #260 ""電源 BI","電源双" needs to be replaced with "Power BI""
https://docs.microsoft.com/ja-jp/office365/kaizala/content-pack
Same as #254

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cec87f28-ba9a-63b8-3543-d82ff6b44a51
* Version Independent ID: 0e7558d4-ac8a-be96-f6c2-5b8b7ea4316d
* Content: [Kaizala content pack](https://docs.microsoft.com/en-us/office365/kaizala/content-pac

[2019-02-08 07:05] pgferrero commented on #246
Hi, maybe I don't get this seeing as this is my first post to this site.  I still see no "Manage columns" options in the Report, and the documentation has not changed - still had "Manage columns" as part of the documentation when it doesn't exist.  How is it solved?  Am I missing something?

[2019-02-08 07:14] j0rt3g4 commented on #246
Hi @pgferrero  the pull request is on there and it needs to be merged before you can actually see the changes. it will be on review for a few days before it gets approved and merged.

[2019-02-08 07:52] pgferrero commented on #246
OK - wasn't sure what the process is here, and for the additional info - makes sense.

[2019-02-08 12:19] lindspea commented on #215
@AndreasZinic Just to clarify, if you already deleted the account, you have 30 days to restore it. At that point, the data will be available to you even after 30 days. ("At that point" refers to the day that you restored it) So, if an account has been deleted, if you restore it, the data will be available to you even after 30 days. If you remove the user's license only, not the account, the conten

[2019-02-08 12:49] AndreasZinic commented on #215
@lindspea We need to be very specific here. Which kind of data is removed when by what action.
We have the following data:
1. Exchange
2. OneDrive
3, SharePoint
4. Flow
5. PowerApps

Are you really sure about removing license, as I know from last year that removing a License will delete the mailbox of a user and his OneDrive after 30 Days permanently. Removing a license triggers a delete period.

[2019-02-08 12:51] lindspea commented on #215
@get-itips can you please assist here?

[2019-02-08 14:15] lindspea commented on #218
@Benny183 These notes appear in the article.  Would they suffice? _[!IMPORTANT] The Office 365 updates described in this article apply to Office 365, SharePoint Online, and Exchange Online. They do not apply to Skype for Business and related services. These release options are targeted, best effort ways to release changes to Office 365 but cannot be guaranteed at all times or for all updates.
​[!I

[2019-02-08 16:31] j0rt3g4 commented on #246
Solved at PR #261

[2019-02-08 16:41] mypil commented on #215
@AndreasZinic - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link contact support for business products: **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

If

[2019-02-08 16:47] joinimran commented on #127
@limjianan Can you please confirm that when you tried to create a group where it doesn't observe the policy was that in normal user mode or admin mode.

[2019-02-08 17:03] j0rt3g4 commented on #42
Addressed at PR #264

[2019-02-08 17:12] hpfaff88 opened #266 "Broken"
I have my flow and qna maker set up correctly and it was working. It has since stopped responding. You ask a question in Yammer and it doesn't give an answer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32446a8e-a16c-8017-290e-d414e6d9a242
* Version Independent ID: e4f45a16-0deb-2eb4-eca2-31bec804dc51
* Content: [Cr

[2019-02-08 17:13] j0rt3g4 commented on #49
@sing-ideas  I've added some more clarifications to #265

[2019-02-08 17:15] #215 closed

[2019-02-08 17:32] micfau1091 commented on #42
Thank you guys!!!
-Michael

On Fri, Feb 8, 2019 at 10:03 AM Jose Gabriel Ortega C <
notifications@github.com> wrote:

[2019-02-08 18:44] mypil commented on #222
@piersrr - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-08 18:44] mypil commented on #222
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-08 18:58] mypil commented on #211
@raymondhahs - We hope that your query has been answered.  If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-08 18:59] mypil commented on #211
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-08 19:04] mypil commented on #68
@eysz7x - We appreciate any feedback you can provide to make the content in the Microsoft docs better. Since we did not get any response from you, we will close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thanks!

[2019-02-08 19:05] mypil commented on #68
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-08 19:07] mypil commented on #116
@PallaviPandey30 - We appreciate any feedback you can provide to make the content in the Microsoft docs better. Since we did not get any response from you, we will close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thanks!

[2019-02-08 19:07] mypil commented on #116
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-08 19:09] mypil commented on #236
@ismail2018x - we would like to follow up and get more details from you. Can you please share what specific issue you have with this article?

[2019-02-08 19:11] mypil commented on #249
@cmcapellan - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the Office 365 better. They keep a close tab on User Voice **https://office365.uservoice.com** and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already yo

[2019-02-08 19:34] #116 closed

[2019-02-08 19:34] #68 closed

[2019-02-08 19:34] #211 closed

[2019-02-08 19:35] #222 closed

[2019-02-08 19:35] mypil commented on #42
@micfau1091 - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-08 19:35] mypil commented on #42
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-08 19:36] #42 closed

[2019-02-08 20:07] mypil commented on #248
@allenmock - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-08 20:07] mypil commented on #248
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-08 20:07] #248 closed

[2019-02-08 21:05] j0rt3g4 commented on #246
@pgferrero  it's updated now 👍

[2019-02-08 21:11] pgferrero commented on #246
Looks like what I see now.  Thanks!

[2019-02-08 21:13] j0rt3g4 commented on #246
Yep @pgferrero  thank you for reporting it

[2019-02-09 03:57] iwillneverjoin opened #267 "out-of-date?"
The link to "domains page" https://go.microsoft.com/fwlink/p/?linkid=834818 tells me that This feature is provided by your partner. and gives a link to godaddy -- which goes to email alias page and has nothing to do with adding a domain.  I've done this before in the past but something has changed, can't find where to do this in godaddy now.

---
#### Document Details

⚠ *Do not edit this section.

[2019-02-09 04:19] rpodric opened #268 "enterpriseenrollment.manage.microsoft.com"
Is now (note the "-s"):
enterpriseenrollment-s.manage.microsoft.com

As shown here:
https://docs.microsoft.com/en-us/office365/admin/dns/create-dns-records-using-windows-based-dns?view=o365-worldwide#add-cname-records

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfaff890-3858-eacb-ed21-a7c0dc4d3d36
* Version Independ

[2019-02-09 13:55] arichter83 commented on #77
Yes, thank you for fixing!

[2019-02-09 13:55] #77 closed

[2019-02-11 11:10] Artocol opened #269 "This solution is not working for me."
I tried creating a new Planner with a user that was not added to the security group, and there was nothing stopping him at all from doing that.
I checked the "GroupCreationAllowedGroupId" that the script outputs, and it's the correct group.
Also the "EnableGroupCreation" flag was correctly set to "False".

How long could it take for these changes to take effect?

Thanks in advance for the help.

[2019-02-11 11:38] Markus-Hanisch commented on #69
@mypil
I opened the ticket back then already. Issue was never resolved. Ticket is closed.
I just wanted to make other's aware of this issue.
It is not mentioned in the documentation, but took me hours to figure out the root cause, which, as agreed with @mwiedemeyer, absolutely makes no sense.

[2019-02-11 12:13] mypil commented on #49
@sing-ideas - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-11 12:13] mypil commented on #49
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-11 12:43] mypil commented on #251
@hyoshioka0128 - Thank you for submitting this feedback.

I will get this over to @samanthaw @MollyMalone   for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-02-11 12:43] mypil commented on #252
@hyoshioka0128 - Thank you for submitting this feedback.

I will get this over to @samanthaw @MollyMalone   for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-02-11 12:43] mypil commented on #253
@hyoshioka0128 - Thank you for submitting this feedback.

I will get this over to @samanthaw @MollyMalone   for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-02-11 12:44] mypil commented on #260
@hyoshioka0128 - Thank you for submitting this feedback.

I will get this over to @samanthaw @MollyMalone   for investigation. Thank you for reporting and making the docs better. Much appreciated.

[2019-02-11 12:46] mypil commented on #266
@hpfaff88  - thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link contact support for business products: **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

If you

[2019-02-11 14:48] lindspea commented on #125
@AndreaBarr @mypil This can be closed thank you.

[2019-02-11 14:49] lindspea commented on #174
@AndreaBarr @mypil this can be closed thank you.

[2019-02-11 14:51] lindspea commented on #218
@AndreaBarr @mypil this can be close thank you.

[2019-02-11 15:02] mypil commented on #164
@mhouston100 - we would like to follow up on this. Can you please provide more details as to what should be edited and/or included?

[2019-02-11 15:07] mypil commented on #229
@AndreaBarr - I believe this issue can be closed. Thank you.

[2019-02-11 15:12] mypil commented on #236
@ismail2018x - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-02-11 15:12] mypil commented on #236
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-11 15:16] mypil commented on #249
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-11 17:25] MollyMalone commented on #251
@hyoshioka0128 Thank you for reporting this issue.   However we will not fix the over-translation of Power BI at this time.   It is a known issue that some of our Product names (including Power BI) are being unnecessarily translated by the machine translation tool.   We are investigating a tool solution to fix these issues.   At this time we can not fix each issue individually.

[2019-02-11 17:25] MollyMalone commented on #252
@hyoshioka0128 Thank you for reporting this issue.   However we will not fix the over-translation of Power BI at this time.   It is a known issue that some of our Product names (including Power BI) are being unnecessarily translated by the machine translation tool.   We are investigating a tool solution to fix these issues.   At this time we can not fix each issue individually.

[2019-02-11 17:26] MollyMalone commented on #253
@hyoshioka0128 Thank you for reporting this issue.   However we will not fix the over-translation of Power BI at this time.   It is a known issue that some of our Product names (including Power BI) are being unnecessarily translated by the machine translation tool.   We are investigating a tool solution to fix these issues.   At this time we can not fix each issue individually.

[2019-02-11 17:26] MollyMalone commented on #260
@hyoshioka0128 Thank you for reporting this issue.   However we will not fix the over-translation of Power BI at this time.   It is a known issue that some of our Product names (including Power BI) are being unnecessarily translated by the machine translation tool.   We are investigating a tool solution to fix these issues.   At this time we can not fix each issue individually.

[2019-02-11 17:45] #266 closed

[2019-02-11 17:45] #49 closed

[2019-02-11 18:12] mypil commented on #258
@natebd - thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and how to make the Office 365 better. They keep a close tab on User Voice **https://office365.uservoice.com** and if you don't mind it would be awesome if you could look through and give your input in User Voice and if you don't see a similar request already you co

[2019-02-11 18:53] mypil commented on #87
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-11 18:57] mypil commented on #44
@samanthaw @MollyMalone

[2019-02-11 18:59] mypil commented on #48
@samanthaw @MollyMalone

[2019-02-11 19:00] mypil commented on #89
@samanthaw @MollyMalone

[2019-02-11 19:10] mypil commented on #246
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-11 19:55] MollyMalone commented on #89
@huixin0930.  Can you please provide more details about this issue "檔案中找不到關聯識別碼rld251的圖像部分"   I cannot reproduce the issue on this page: https://docs.microsoft.com/zh-tw/office365/admin/support/taiwan?view=o365-worldwide
你能提供更多關於這個問題的細節嗎？"檔案中找不到關聯識別碼rld251的圖像部分"
我無法在此頁面上重現問題 https://docs.microsoft.com/zh-tw/office365/admin/support/taiwan?view=o365-worldwide

[2019-02-11 20:02] MollyMalone commented on #48
@rubenssleme Thank you for reporting this.  Unfortunately we currently do not translate images that are included in machine translated articles. We hope to have a solution for this machine translating images later this year.
Obrigado por relatar isso.  Infelizmente, atualmente não traduzimos imagens que estão incluídas em artigos traduzidos em máquina. Esperamos ter uma solução para esta máquina t

[2019-02-11 20:10] Toasty66 opened #270 "Convert to shared does not get rid of password - account can still be logged in to"
We've discovered that mailboxes converted to a shared mailbox still allow the original user/pass to gain access to the account, at a minimum, for SMTP relay. This is even when the license has been removed after being converted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fb81a0-5744-18b2-1636-a41c771ef0db
* Versio

[2019-02-11 21:58] MollyMalone commented on #44
@mickeytsui was this an issue that you needed support with?   If so, has the issue been resolved?
Or is there a problem with the help content?
這是你需要支援的問題嗎？  如果是, 問題是否得到解決？
或者説明內容是否存在問題？

[2019-02-12 00:17] nenonix commented on #170
@thernstig I apologize for the delay in getting back to you. I have researched the issue thoroughly and it appears that you need to create a team to access what the documents call "a basic team site".  See https://support.office.com/article/create-a-team-in-teams for details. I hope that clears it up for you.

[2019-02-12 14:52] mypil commented on #115
@ThePangy  - thank you for engaging with the community here for the docs.

Can you please share what specific issue you have with this article?
I would really appreciate if you are able to help me by providing more details as to what should be edited and/or included.

[2019-02-12 14:56] mypil commented on #268
@rpodric - Thank you for pointing this out.

I will get this issue over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-02-12 16:28] mypil commented on #214
@Jimnar - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-12 16:28] mypil commented on #214
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-12 16:29] #214 closed

[2019-02-12 18:12] thernstig commented on #170
@nenonix thank you for the investigation. I unfortunately do not think that is the solution to the question.

There are two problems with the answer:
1. The answer gives a solution of how I can create a team to get "a basic team site". However, the documentation in this issue points out that it should already exist. As such, the documentation is incorrect.
2. A "Microsoft Team" is the new "Slack-l

[2019-02-12 18:51] mypil commented on #244
@veronicageek - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-12 18:52] mypil commented on #244
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-12 19:02] #244 closed

[2019-02-12 19:03] #246 closed

[2019-02-12 19:34] nenonix commented on #170
@thernstig Thank you for the clarity.  If I understand you correctly the content wording gives the impression of a default or basic site existing when what exists, by default, is the basic capacity to create a site but no site as such. And, if the problem here boils down to the term "basic team site" --how could it be re- worded or explained more clearly? What would you suggest?

[2019-02-12 19:46] #258 closed

[2019-02-12 22:42] #125 closed

[2019-02-12 22:43] #174 closed

[2019-02-12 22:43] #218 closed

[2019-02-12 22:45] #229 closed

[2019-02-12 22:48] #236 closed

[2019-02-12 23:04] #249 closed

[2019-02-12 23:17] #87 closed

[2019-02-13 09:04] OfficeGSX commented on #239
The article was previously MachineTranslated, we changed it to HumanTranslation to fix the issue. Topic was updated and published live.

Best Regards,
Michal

[2019-02-13 09:49] thernstig commented on #170
@nenonix I am not sure it is just the wording, but moreso that one does not exist. Let me explain how a new user (me) started out:

I created my first ever Office 365 Business Premium account 2 months ago. The first thing I did was to read the documentation here: https://docs.microsoft.com/en-us/office365/admin/setup/setup?view=o365-worldwide&tabs=BusPremium

I read all sub-pages under the main "S

[2019-02-13 14:39] nenonix commented on #34
@svjr Apologies for the delay in responding. On the mobile app you must click or tap the contact name to start a chat. Does that work for you?

[2019-02-13 15:16] ThePangy commented on #115
There was no information listed on how to revoke the access you give
yourself. By following the steps you outlined, you are permanently giving
yourself access to the user's OneDrive. This can be done for a user no
longer with the company or for a user who is still working at the company.
If the user still works at the company it would be a bad security practice
to give yourself permanent access to

[2019-02-13 16:13] mypil commented on #115
@ThePangy - Thank you for pointing this out.

I will get this issue over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

[2019-02-13 16:23] tseward commented on #117
@StuBeck32 can you explain exactly what isn't clear? The page has a link to your Active users in the O365 Admin Center and a pictorial about how to set a user up with MFA.

[2019-02-13 16:26] mypil commented on #159
@dcbrown16 - From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better. Much appreciated!

[2019-02-13 16:27] mypil commented on #159
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-13 17:43] StuBeck32 commented on #117
Can you please explain what part of my comment you’re misunderstanding? I copied the step and the part that I’m not understanding, so I’m not sure how to be more clear.

[2019-02-13 18:07] #159 closed

[2019-02-13 18:28] #48 closed

[2019-02-13 18:45] Sirkkuw commented on #117
@StuBeck32 - in the preview mode it is difficult to find - the topic has been updated. Does it seem more clear now?

[2019-02-13 19:07] mypil commented on #243
@kennethvs - From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-13 19:07] mypil commented on #243
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-13 19:08] #243 closed

[2019-02-13 23:54] #239 closed

[2019-02-14 02:29] makoicriador opened #277 "Microsoft Office 365 hotline"
i have been calling for weeks, no one is answering the hotline. i need support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94f68f42-3e1e-f119-c15b-83e788997eae
* Version Independent ID: 0bf16d91-f0a3-96e4-8ddf-4ef00e613c7a
* Content: [Support information for Philippines](https://docs.microsoft.com/en-us/office365/a

[2019-02-14 12:37] mypil commented on #94
@M365SupportJapan - From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-14 12:38] mypil commented on #94
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-14 13:00] mypil commented on #162
@toddjohnson39 - Thank you for pointing this inquiry.

I will get this issue over to the o365ITPro writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-02-14 13:03] mypil commented on #127
@limjianan - Thank you for your contribution to make the docs better! Much appreciated!

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-14 13:34] mypil commented on #127
@limjianan - Thank you for your contribution to make the docs better! Much appreciated!

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-14 15:41] mypil commented on #164
@mhouston100 - we would like to follow up on this. Do you have any updates?

[2019-02-14 16:01] j0rt3g4 commented on #270
I've checked this on the field, and actually it works.
the old user can log in using the regular credentials and is even being used to avoid to get licenses for some customers.

[2019-02-14 17:09] #94 closed

[2019-02-14 17:35] theonlyrick commented on #115
@ThePangy - I had exactly the same thought.  Can you help me out with the right page that will remove my perms from a user's OneDrive?  Thanks,  R.

[2019-02-14 17:39] mypil commented on #81
@jerikkofrancisco & @tumud - We have confirmed that the phone numbers stated in the MS Article are correct. However, there is a technical issue in the backend that is being resolved. Rest assured that this is being worked on.

Thank you for submitting this feedback. We appreciate your contribution to make the docs better.

[2019-02-14 17:40] mypil commented on #168
@cepmgsy - We have confirmed that the phone numbers stated in the MS Article are correct. However, there is a technical issue in the backend that is being resolved. Rest assured that this is being worked on.

Thank you for submitting this feedback. We appreciate your contribution to make the docs better.

[2019-02-14 17:42] theonlyrick commented on #115
@ThePangy - Got it, it's work-out-able from here: https://sharepointmaven.com/how-to-access-someone-elses-onedrive-account/

[2019-02-14 17:51] #81 closed

[2019-02-14 17:51] #168 closed

[2019-02-14 17:53] mypil commented on #114
@jacobyoby - From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-14 17:53] mypil commented on #114
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-14 17:53] ThePangy commented on #115
@theonlyrick - Yep, that link should definitely help figure it out. The TL/DR version is go to the URL for the user's OneDrive with /_layouts/15/settings.aspx at the end. Click Site Collection Administrators and remove the name of the user who no longer needs access.

(e.g. https://tenantname-my.sharepoint.com/personal/username_tenantname_com/_layouts/15/settings.aspx)

[2019-02-14 18:18] Jcoetsee commented on #58
@kwekuako

I'd like some insight from you regarding this please Kweku. There are plenty of methods to use in order to force all active sessions to close for a user and I wanted to see based on the question above what we can consider adding into the article. Please see the below link that shows all the examples of possible ways to disconnect sessions and let me know what your thoughts are!

This li

[2019-02-14 19:15] jacobyoby commented on #114
Still doesn't accept a pipe.

PS C:\Users\jacobd> Get-EligibleDistributionGroupForMigration | Upgrade-DistributionGroup
The input object cannot be bound to any parameters for the command either because the command does not take pipeline
input or the input and its properties do not match any of the parameters that take pipeline input.
    + CategoryInfo          : InvalidArgument: (Microsoft.Excha.

[2019-02-14 19:44] mypil commented on #114
@j0rt3g4 - please assist with this query. Thank you.

[2019-02-14 19:48] j0rt3g4 commented on #114
@mypil  Will do

[2019-02-14 19:52] j0rt3g4 commented on #114
Hi @jacobyoby  The resolution of this is not based in the "allowance or not" of the items over the pipeline.
The commands have been updated to work with the new code provided.
So ...
Get-EligibleDistributionGroupForMigration | Upgrade-DistributionGroup
Won't work because the "Upgrade-DistributionGroup" cmdlet doesn't take objects on the pipeline
So using the | between them won't work.

What it wor

[2019-02-14 19:57] mypil commented on #114
@jacobyoby - please check and let us know if @j0rt3g4 has resolved your issue. Thanks.

[2019-02-14 20:07] jacobyoby commented on #114
I did not see the new commands.

Thank you and sorry.

Sent from my iPhone

[2019-02-14 20:08] j0rt3g4 commented on #114
@jacobyoby  Please Reload the page using CTRL+F5 (probably is that is a cache issue)

[2019-02-14 21:51] #114 closed

[2019-02-15 01:49] M365SupportJapan commented on #94
Thanks Andrea.
What I wanted to ask to add a description was User management admin have the ability to add, remove, update license assignments for users and groups which is for license admin or GA/CA. Would you please review this again?

[2019-02-15 13:48] mypil commented on #94
@Jcoetsee - Please assist to review and make the necessary changes on this. Thank you.

[2019-02-15 14:01] mypil commented on #277
@makoicriador - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link contact support for business products: **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

If

[2019-02-15 14:03] mypil commented on #277
@cmcatee-MSFT @kenwith @AndreaBarr - FYI.

[2019-02-15 14:37] mypil commented on #269
@Artocol - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link contact support for business products: **https://docs.microsoft.com/office365/admin/contact-support-for-business-products**

If you d

[2019-02-15 15:05] mypil commented on #270
@Toasty66 - Thank you for submitting feedback. It seems you are asking to open a service ticket or have a question about support.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link contact support for business products: **https://

[2019-02-15 15:45] mypil commented on #164
@mhouston100 - We appreciate any feedback you can provide to make the content in the Microsoft docs better. Since we did not get any response from you, we will close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thanks!

[2019-02-15 16:30] #164 closed

[2019-02-15 16:54] nenonix commented on #34
@svjr  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.   Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thank you.

[2019-02-15 16:55] nenonix commented on #34
@AndreaBarr @mypil please close

[2019-02-15 16:55] mypil commented on #58
@kwekuako - can you please assist to check and share your inputs on the information provided by @Jcoetsee? Thank you.

[2019-02-15 17:04] mypil commented on #163
@TiloGit - From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-15 17:05] mypil commented on #163
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-15 17:21] #163 closed

[2019-02-15 17:21] #34 closed

[2019-02-15 17:39] npsptechusa commented on #64
@JeremyTBradshaw  Get-MailboxStatistics cmdlet is for on-prem and cloud based Exchange.
Please check out - https://docs.microsoft.com/en-us/powershell/module/exchange/mailboxes/get-mailboxstatistics?view=exchange-ps

[2019-02-15 18:28] #251 closed

[2019-02-15 18:29] #252 closed

[2019-02-15 18:29] #253 closed

[2019-02-15 18:29] #260 closed

[2019-02-15 18:55] mypil commented on #94
@dianef77 - we need your insights on the request to add more information specific to the description of the User management admin as indicated on the above comment. Can we add this description to the article?

[2019-02-15 19:51] mypil commented on #127
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-15 21:50] #127 closed

[2019-02-15 23:31] #117 closed

[2019-02-16 02:06] limjianan commented on #127
sorry, I was away for a few days. The specific use case is
When an admin person creates an office 365 group in ECP. By default, it will use the onmicrosoft.com
Although the admin can manually change the email domain.
If it save as onmicrosoft.com, it will not observe email address policy.

When ad admin person create an office 365 group in adminportal. By default, admin cannot change the email dom

[2019-02-16 02:15] Barbara232 commented on #96
Microsoft needs to address this issue immediately. There is no reason why global companies, like mine, need to pay for the account with a credit card issued from the same country. Surely MS knows about tax transfers and the banks already know how to adjust payment to allow for currency conversions. No business -- *no business* -- demands payment with a credit card that is issued in the same countr

[2019-02-16 07:15] j0rt3g4 commented on #169
Hi guys @BEAULONEA and @jonblackburn  I've added 2 reports where the outputs are:
*CSV
*HTTP
Solved on PR #282

[2019-02-16 09:53] irean opened #284 "Step 2"
Is this  example valid now? I was thinking about the GDPR and this feels like a violation against that law

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6024c6e-1373-58de-ca8b-819a11693968
* Version Independent ID: 5d02bdc8-6e20-8b9b-942e-cca0e312cc5e
* Content: [Remove a former employee from Office 365](https://docs

[2019-02-16 16:32] tseward commented on #170
@thernstig Any plan that includes SharePoint Online will come with https://tenatName.sharepoint.com which is a team site. Not all plans have SharePoint Online, but Business Premium does.

[2019-02-16 21:37] gustav87 opened #285 "Typo in text"
Under the topic "How do I check which DLs are eligible for upgrade?", there's a typo.

It says the following:

"If you want to check which DLs are eligible for upgrade just run the following command:

Get-EligibleDistributionGroup"

However, this input produces an error. The complete command is Get-EligibleDistributionGroupForMigration.

---
#### Dokumentinformation

⚠ *Redigera inte det här avsni

[2019-02-17 05:10] makoicriador commented on #277
Thank you for your response.

I appreciate the links and instructions you have given, unfortunately, my
issue is a bit different.

The Office365 account is from a previous partner, and said account is being
billed monthly on my personal credit card. Right now, i am unable to
contact her in any way possible for her to cancel her subscription, and I
have been paying for it for almost a year now.

Wh

[2019-02-17 08:03] lindspea commented on #285
@mypil @andrea please assign to me.

[2019-02-17 16:21] AndyConlisk opened #286 "Grammer in the Tip section."
In the Tip section (green colored section titled Tip)

It starts "Check the out the steps in" I think there is an extra "the" and would make more sense if it was "Check out the steps in"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 784a196f-3e0e-0c0a-0b2f-af2105a774d9
* Version Independent ID: 08300f82-3b1d-b96d-bf10

[2019-02-17 18:06] labanex commented on #96
Here is the reason. There are strong regulations and rules that govern each country. Tax, compliances, etc. Germany, Australia, and China are good examples. They have the most different rules than most countries. To circumvent the different tax laws, you would want the headquarters of an international company to begin the account and pay with that country's credit card. Therefore, the tax is relie

[2019-02-18 06:24] Barbara232 commented on #96
That is exactly the point of tax transfers -- companies have tax experts
look at where items (or goods or services) are manufactured or used and
make tax-based comparisons across the company to arrive at the most
favorable tax situation for the company. MS is simply taking the most
ultra-conservative position on this issue, and as a consequence exposing
the fact that they aren't really interested

[2019-02-18 08:34] thernstig commented on #170
@tseward I am not sure what you are saying is true (my memory escape me now). But for example in the link I pasted, the second paragraph reads:

This did not exist.

[2019-02-18 09:02] lindspea commented on #285
@gustav87 Thank you for pointing this out and helping improve MS docs.  I'll have it corrected asap.  Thanks.

[2019-02-18 09:12] hyoshioka0128 opened #287 "Characters are visible instead of .png(../media/befa74b7-62c1-42a3-a38e-db76a1c97dba.png)"
https://docs.microsoft.com/ja-jp/Office365/admin/subscriptions-and-billing/change-your-billing-addresses?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bf12b62-8a89-8d6d-58ea-f7e3ee26a648
* Version Independent ID: 4f761da9-0194-021b-e560-364a1b2c9576
* Content: [Change your billing addresses for Of

[2019-02-18 09:14] hyoshioka0128 opened #288 "Characters are visible instead of .png(../media/f16a3f1c-9f92-4a2b-89ff-6cff053edbbf.png)"
https://docs.microsoft.com/ja-jp/Office365/admin/subscriptions-and-billing/what-tax-will-i-be-charged

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a39ebc-fcab-ff84-85f6-5f436f9a653c
* Version Independent ID: 1c131d7f-7f56-a590-19a2-cfeb50b67f29
* Content: [What tax will I be charged for Office 365?](https://docs.mi

[2019-02-18 09:57] joinimran commented on #162
Hello @toddjohnson39 This is only applicable on Office 365 groups and if you want to create EAP for Office 365 group, then this doc can help you set this up.

[2019-02-18 11:52] toniHunter opened #289 "Restrict Action items"
Hi
I would like to be able to show only those actions which are applicable to those who are simply members of the group.  For example I have created an action which allows them to sign in and out of a client site, add notes and photos in the event of an issue and for their location to be recorded.  This is the only one I want them to use, also it would be great if I could create their schedule , i

[2019-02-18 12:42] mypil commented on #185
@pebaum - we would like to follow up and get your insights on the query from @jamesrhea. Thank you.

[2019-02-18 14:38] StuBeck32 commented on #117
Yes, this is much more clear @Sirkkuw . I'm still confused as to what @tseward needed more details on.

[2019-02-18 16:08] mypil commented on #162
@toddjohnson39 - Did @joinimran resolve your issue?

[2019-02-18 16:27] mypil commented on #268
@rpodric - From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-02-18 16:29] mypil commented on #268
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-18 16:38] mypil commented on #98
@lesterw1 - we have already coordinated with the document author and got the confirmation that they
will add a note to this article that people who want to use PowerShell should read the Azure AD article and use those role names.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

Thank you for your contribution to make the docs better! Much

[2019-02-18 16:39] mypil commented on #98
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-18 16:43] mypil commented on #94
@dianef77 - I would like to follow up on this and get your insights on the request to add more information specific to the description of the User management admin as indicated on the above comment. Can we add this description to the article?

[2019-02-18 17:10] mypil commented on #287
@samanthaw @MollyMalone

[2019-02-18 17:10] mypil commented on #288
@samanthaw @MollyMalone

[2019-02-18 17:30] mypil commented on #267
@iwillneverjoin - Thank you for submitting this feedback.

Here is the link on how you can Create DNS records at GoDaddy for Office 365 - **https://docs.microsoft.com/en-us/office365/admin/dns/create-dns-records-at-godaddy?view=o365-worldwide**

Kindly try this and let me know if it works.

[2019-02-18 17:32] mypil commented on #269
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-18 17:32] mypil commented on #270
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-18 18:10] mypil commented on #156
@marypcbuk - Thank you for submitting this Feedback.

From my understanding the issue has been resolved. If the issue is not resolved please re-open this issue.

[2019-02-18 18:20] mypil commented on #44
@mickeytsui - We appreciate any feedback you can provide to make the content in the Microsoft docs better. Since we did not get any response from you, we will close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thanks!

[2019-02-18 18:21] mypil commented on #89
@huixin0930 - We appreciate any feedback you can provide to make the content in the Microsoft docs better. Since we did not get any response from you, we will close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better. Thanks!

[2019-02-18 18:21] mypil commented on #89
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-18 18:21] mypil commented on #44
@AndreaBarr - This issue can be closed. Thank you.

[2019-02-18 18:42] marypcbuk commented on #156
no, I can't see a list of which Office 365 subscriptions this applies to - so Office 365 Home uses are still asking me if they can have a custom domain because they don't know if this applies to them; a lit of what subscriptions support custom domains would avoid confusion

[2019-02-18 18:44] marypcbuk commented on #156
the change suggested has NOT been merged, so this issue is still open

[2019-02-18 18:55] mypil commented on #156
@marypcbuk - - Thank you for submitting this feedback.

I will get this over to @pebaum  for investigation.

Thank you for reporting and making the docs better. Much appreciated.

[2019-02-18 21:14] Laskewitz opened #290 "Yammer connection error"
Hi,

When I try to authenticate the Yammer connector I get the following error:
OAuth2 authorization flow failed for service 'Yammer'. OAuth 2 sign in failed to exchange code for access token. Client ID and secret sent in form body.. Response status code=Forbidden. Response body: Your network is not allowed to request an OAuth token for this Application Client ID and secret sent in Basic authoriza

[2019-02-19 00:39] Insidii opened #291 "Inconsistancy with documenation"
The documentation still shows the 1GB increase purchase blocks, in SPO the increase size was changed at some point last year see below link, not sure if this applies to all product groups.
https://docs.microsoft.com/en-us/office365/servicedescriptions/sharepoint-online-service-description/sharepoint-online-limits

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micr

[2019-02-19 08:38] urbi129 opened #292 "How to revert settings to original state?"
Once above solution will be implemented - how to undo those changes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb2953d4-8abc-5e9c-e30d-43b059b57b9a
* Version Independent ID: 467981d4-20b5-8b70-2d42-d3e38b918281
* Content: [Manage who can create Office 365 Groups](https://docs.microsoft.com/en-us/office365/admin/cr

[2019-02-19 08:39] urbi129 commented on #292
If you want to turn off the group creation restriction and again allow all users to create groups, set $GroupName to "" and $AllowGroupCreation to "True" and rerun the script.
Can be closed....

[2019-02-19 11:40] Larryngolog opened #293 "Language setting for KB"
Please add in big bold letters to customize the sample FAQ to language in which you want your KB to be. Once you use the provided sample your KB will be set to English and you will need to recreate entire Azure QNA service and KB to have it in your chosen language.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32446a8

[2019-02-19 11:56] Larryngolog commented on #290
I have the same issue

[2019-02-19 12:51] mypil commented on #126
@kenwith @chuckedmonson - I would like to follow up on this. Do you have any updates?

Thanks.

[2019-02-19 14:20] nenonix commented on #285
@gustav87  Thank you for taking time to help us improve the content in Microsoft Docs,  The change you suggest will be made.

[2019-02-19 14:27] smartwombat commented on #267
The instructions at step 6 for 123REG say to set the MX priority to 0.
This is wrong.
On that page the "step-by-step instructions" link goes to a page that has the correct value of 1 for priority.

[2019-02-19 14:30] nenonix commented on #286
@AndyConlisk  Thank you for pointing this out. We appreciate you taking the time to help us improve the content.  The change will be made and once merged, this issue will be closed. Thanks again.